<div id="venipak-carrier-block-wrapper" data-bind="visible: isVisible()">
    <span data-bind="i18n: 'Delivery details'"></span>
    <fieldset class="fieldset">
        <!-- ko foreach: getRegion('venipak-carrier-delivery-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>
</div>
