<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?= $block->getUrl('') ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
<?php endif ?>
        <img src="<?php echo $this->getViewFileUrl('images/logo/puhh_logo.png'); ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>

<style>
.buyplan-wrapper p {
    font-family: 'Montserrat-Medium',Helvetica,Arial,sans-serif !important;
    font-weight: normal !important;
    color: #999 !important;
    font-size: 1.5rem !important;
}
.buyplan-wrapper strong {
    background: transparent !important;
}
.product-info-main .product-info-price .price-box {
}


.products-grid .product-item-actions .actions-primary {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.products-grid .product-item-actions .actions-primary button.primary {
    font-size: 13px;
}
.products-grid .product-item-actions {
    width: 90%;
    top: 50%;
}
.customer-links-container ul.header.links li.authorization-link {
   display: none !important;
}
.customer-links-container .customer-menu ul.header.links li.authorization-link {
    display: block !important;
}

@media(min-width:1025px) {
.cms-home .products-grid .product-item-actions .actions-primary button.action.tocart:first-child {
    font-size: 12px;
}
/** 31-08-2021 **/
}
.form-create-account .actions-toolbar {
    display: flex;
    justify-content: flex-start;
}
.form-create-account .actions-toolbar .b2b-registration a {
    background-image: none;
    background: #f6bb42;
    border: 4px solid #ffce54;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: montserrat-medium,Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 12px 30px;
    font-size: 1.5rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 3rem;
}
.form-create-account .actions-toolbar .b2b-registration a:hover, .actions-toolbar .b2b-registration a:focus {
    background: #e8a00b;
    border: 4px solid #ffba0f;
    color: #fff;
}
.product-info-main .custom-price-container .product-info-price {
    position: unset;
}
.product-info-main .box-tocart .actions {
    margin-top: 10px;
    margin-bottom: 30px;
}
.product-info-main .custom-price-container {
    margin-top: 0px !important; 
} 
.products-grid .product-item-info:hover .product-item-actions, .products-grid .product-item-info.active .product-item-actions {
    display: flex !important;
    position: inherit !important;
    left: auto;
    right: auto;
    margin: auto;
    transition: none;
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
    justify-content: space-between;
    width: 100% !important;
}
.products-grid .product-item-info:hover .product-item-actions, .products-grid .product-item-info.active .product-item-actions .actions-primary>form {
    margin-right: 10px !important;
    display: block !important;
    z-index: 9999;
    position: relative !important;
}
.products-grid .product-item-actions .actions-primary{
	align-items: center;
}
.product-item .tocart.with-icon span::before {
    height: 14px !important;
    background-size: 15px !important;
}

@media(max-width:767px) {
#acty-checkout .col-left .acty-checkout-cart .cart-item .item-info .action.delete {
    top: -14px;
}
#acty-checkout .col-left {
    width: 100%;
}
#acty-checkout .col-left .acty-checkout-cart .cart-item .item-info {
    display: block;
}
#acty-checkout .col-left .acty-checkout-crosssell .items-box {
    flex-direction: column;
    width: 100%;
}
#acty-checkout .col-left .acty-checkout-crosssell .items-box .product-item-info {
    max-width: 100% !important;
    min-width: 100%;
    margin: 0px;
    margin-bottom: 10px;
}
#acty-checkout .field.required {
    display: block;
}
#acty-checkout .acty-checkout-customer .input {
    display: block;
}
#acty-checkout .acty-checkout-customer label {
    display: block !important;
    width: 100%;
    min-width: 100%;
    text-align: left !important;
    float: left;
    margin-bottom: 5px;
}
#acty-checkout .acty-checkout-customer input {
    width: 100% !important;
}
#acty-checkout .col-left .field {
    margin-bottom: 10px !important;
}

#acty-checkout .acty-checkout-customer textarea {
    width: 100% !important;
}
#acty-checkout .acty-checkout-totals {
    width: 100%;
}
#acty-checkout .col-right {
    width: 100% !important;
}
#acty-checkout .acty-checkout-totals .totals-title {
    padding: 0px 20px;
    text-align: center;
}
.col-right .sticky-target.is_stuck {
    position: inherit !important;
}
#acty-checkout .col-right .sticky-target.is_stuck + div {
    height: auto !important;
}
}
</style>

