<div class="newsletter-wrapper">
    <div class="block newsletter">
        <img class="newsletter-image" src="<?php echo $this->getViewFileUrl('images/logo/karu-post.svg'); ?>" alt="">
        <div class="newsletter-content">
            <div class="title"><?= __('Subscribe to Karupoeg<br>Puhh newsletter!') ?></div>
            <div class="content">
                <form class="form subscribe"
                    novalidate
                    action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
                    method="post"
                    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                    id="newsletter-validate-detail">
                    <div class="field newsletter">
                        <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
                        <div class="control">
                            <input name="email" type="email" id="newsletter" placeholder="<?php /* @escapeNotVerified */ echo __('E-mail address') ?>..." data-validate="{required:true, 'validate-email':true}"/>
                        </div>
                    </div>
                    <div class="field newsletter_name">
                        <div class="actions">
                            <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Send') ?>" type="submit"></button>
                        </div>
                        <div class="control name">
                            <input name="name"  type="text" id="nname" placeholder="<?php /* @escapeNotVerified */ echo __('Your name') ?>..." data-validate="{required:true}"/>
                        </div>
                    </div>
                    <span class="policy-label"><?php echo __("By applying for the newsletter you aggree with our <a id='openModel' target='_blank'>Privacy Policy</a>") ?></span>
                    <div id="myModel">
                        <div>
                            <?php echo $this->getTermsPageContent() ?>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/translate'
        ],
        function($,modal) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: false,
                modalClass: 'custom-privacy-modal',
                buttons: false
            };
            var popup = modal(options, $('#myModel'));
            $("#openModel").on("click",function(){
                $('#myModel').modal('openModal');
            });
        }
    );
</script>
