<div class="acty-checkout-cart">
    <div class="left-totals">
        <div class="cart-item" v-for="item, i in items">
            <div class="item-container">
                <div class="image">
                    <a :href="item.url"><img v-if="item.thumbnail !== null" :src="item.thumbnail" :alt="item.name"></a>
                </div>

                <div class="item-info">
                    <div class="details-container">
                        <p class="item-name"><a :href="item.url">{{ item.name }}</a></p>

                        <div class="details-lower">
                            <div class="item-qty">
                                <span class="qty-label"><?php echo __('Quantity'); ?>:</span>

                                <select v-if="options.canUpdateQty" v-model="item.qty" @change="updateQty(item.id, item.qty, i)">
                                    <option v-for="n in maxAllowedChange(item)" :value="n">{{ n }} <?php echo __('pc'); ?></option>
                                </select>
                            </div>

                            <div class="item-options">
                                <p v-if="item.options !== undefined">
                                    <span v-for="option in (item.options)">{{ option.title }} </span>
                                </p>
                            </div>
                        </div>
                        <div class="backorder-notif message notice" v-if="item.longShipping && (item.realStock <= 0 || item.qty > item.realStock)">
                            <?= __('Longer shipping for'); ?> {{getLongShippingQty(item)}} <template v-if="getLongShippingQty(item) == 1"><?= __('pc');?></template> <template v-if="getLongShippingQty(item) > 1"><?= __('pcs');?></template> <br>
                            <?= __('Estimated');?> {{item.longShipping}}
                        </div>
                    </div>

                    <div class="price-container">
                        <p class="regular-price" v-if="hasDiscount(item)">
                            {{ item.product_regular_price*item.qty|price }}
                        </p>
                        <p class="item-price" v-bind:class="{'special-price': hasDiscount(item)}">{{ item.base_row_total_incl_tax|price }}<?php echo __('€'); ?></p>
                    </div>

                    <a v-if="options.canDeleteItem" href="#" class="action delete" @click.prevent="removeItem(item.id)"></a>

                    <p v-if="item.error === true" class="has-error">
                        <?php echo __('Maximum allowed quantity {{ item.available }}'); ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="totals">
            <h3><?php echo __('Grand Total'); ?>: {{ totals.grand_total.value|price }}<?php echo __('€'); ?></h3>
        </div>
    </div>


    <div class="right-totals">
        <!-- TOTALS COMPONENT -->
        <div class="acty-checkout-totals">
            <h2 class="totals-title"><?php echo __('Order Summary'); ?></h2>
            <h5 class="total-regular-price" v-if="totals.category_rule_discount > 0">
                <?= __('Original cart price');?>: <span class="amount">
                    {{ totals.regular_cart_price|price }}<?php echo __('€'); ?>
                </span>
            </h5>
            <h5 class="cat-discount" v-if="totals.category_rule_discount > 0">
                <?= __('Discount');?>:  <span class="amount">-{{ totals.category_rule_discount|price}}<?php echo __('€'); ?></span>
            </h5>
            <h5 class="total">
                {{ totals.subtotal.title }}:<span class="amount">{{ totals.subtotal.value|price }}<?php echo __('€'); ?></span>
            </h5>
            <h5 class="delivery">
                <?php echo __('Delivery'); ?>: {{ totals.shipping.title }}<span class="amount">{{ totals.shipping.value|price }}<?php echo __('€'); ?></span>
            </h5>
            
            
            <h5 class="discount-total" v-if="totals.discount > 0">
                {{totals.coupon_label}}:<span class="amount">-{{ totals.discount|price  }}<?php echo __('€'); ?></span>
            </h5>
            <h3 class="grand-total">
                {{ totals.grand_total.title }}:<span class="amount">{{ totals.grand_total.value|price }}<?php echo __('€'); ?></span>
            </h3>
            <div class="shipping-warning" v-if="warnings.multipleItems">
                <?= __('NB! If you have multiple products in the cart, the order might arrive as separate packages.');?>
            </div>
        </div>
    </div>

</div>
