<div class="acty-checkout-submit">

    <div class="input-container">
        <label for="accept-terms-checkbox">
            <div class="checkbox-wrap">
                <input type="checkbox" v-model="accepted" id="accept-terms-checkbox">
                <label for="accept-terms-checkbox"><span></span></label>
            </div>
            <?= __('Agree with <a target="_blank" href="https://www.toysoutlet.lv/en/terms-and-conditions">terms and conditions</a>'); ?>

            <div v-if="accepted === false" class="field-error">
                <span><?php echo __('Please agree to all the terms and conditions before placing the order'); ?></span>
            </div>
        </label>
    </div>

    <div v-if="error" class="field-error">
        <span>{{ error === true ? $t('validation.validation_error') : error }}</span>
    </div>

    <div class="input-container" v-if="options.hasPrivacy">
        <label for="subscribe-newsletter">
            <div class="checkbox-wrap">
                <input type="checkbox" v-model="subscribed" id="subscribe-newsletter">
                <label for="subscribe-newsletter"><span></span></label>
            </div>
            <?= __('Subscribe to newsletter and accept our <a target="_blank" href="https://www.toysoutlet.lv/en/privacy-policy">privacy policy</a>'); ?>
        </label>
    </div>

    <button v-if="submitting" class="button action continue" @click.prevent><?php echo __('Please wait'); ?></button>
    <button v-else class="button action continue primary" @click.prevent="submit"><?php echo __('To payment'); ?></button>

    <template v-if="agreements">
        <div role="dialog" class="modal-popup agreements-modal modal-slide _inner-scroll _show" style="z-index: 900;">
            <div class="modal-inner-wrap">
                <header class="modal-header">
                    <button class="action-close" type="button" @click.prevent="toggleAgreements">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </header>

                <div class="modal-content">
                    <div class="checkout-agreements-item-content">
                        <?php foreach ($block->getAgreements() as $agreement): ?>
                            <h1><?php echo $agreement['name']; ?></h1>

                            <?php echo $agreement['content']; ?>
                        <?php endforeach; ?>
                    </div>
                </div>

                <footer class="modal-footer">
                    <button class="action secondary action-hide-popup" type="button" @click.prevent="toggleAgreements">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </footer>
            </div>
        </div>

        <div class="modals-overlay" style="z-index: 899;"></div>
    </template>

    <template v-if="policy">
        <div role="dialog" class="modal-popup agreements-modal modal-slide _inner-scroll _show" style="z-index: 900;">
            <div class="modal-inner-wrap">
                <header class="modal-header">
                    <button class="action-close" type="button" @click.prevent="togglePolicy">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </header>

                <div class="modal-content">
                    <div class="checkout-agreements-item-content" v-html="policyContent"></div>
                </div>

                <footer class="modal-footer">
                    <button class="action secondary action-hide-popup" type="button" @click.prevent="togglePolicy">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </footer>
            </div>
        </div>

        <div class="modals-overlay" style="z-index: 899;"></div>
    </template>
</div>
