<?php

?>

<div class="footer-main">
    <div class="logo-wrapper">
        <a href="<?php echo $this->getUrl('/'); ?>"><img class="footer-logo" src="<?php echo $this->getViewFileUrl('images/logo/puhh_logo.png'); ?>" alt=""></a>
    </div>
    <div class="icons-box">
        <a target="_blank" href="https://www.facebook.com/KarupoegPuhh.manguasjad/"><img class="link-image" src="<?php echo $this->getViewFileUrl('images/icons/fb.png'); ?>" alt="facebook"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCTcyD1X3eI62iPJnXGuMMEg"><img class="link-image" src="<?php echo $this->getViewFileUrl('images/icons/YouTube_social_red_circle_(2017).svg'); ?>" alt="youtube"></a>
        <a target="_blank" href="https://www.instagram.com/karupoegpuhh_manguasjad/"><img class="link-image" src="<?php echo $this->getViewFileUrl('images/icons/Instagram_logo_2016.svg'); ?>" alt="instagram"></a>
        <a href="https://www.tiktok.com/@karupoegpuhhmanguasjad" target="_blank">
            <img src="<?= $this->getViewFileUrl('images/icons/Tiktok.png');?>" alt="Karupoegpuhh TikTok" class="link-image">
        </a>
    </div>
    <div class="e-kaubuandus-wrapper">
        <img class="link-image lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/e-kaubandus-35.png'); ?>" alt="Eesti e-kaubanduse liit">
        <img class="turvaline-footer lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/badges/' . __('turvaline_ostukoht_eng_must.png')); ?>" alt="<?= __('Secure shopping') ?>">
    </div>
    <div class="footer-columns">
        <?php
        echo $this->getLayout()
        ->createBlock('Magento\Cms\Block\Block')
        ->setBlockId('footer-links')
        ->toHtml();
        ?>
        <div class="last column">
            <div class="col-inner">
                <p><strong><?= /* @escapeNotVerified */ __('SHOPPING HELP') ?></strong> <?= /* @escapeNotVerified */ __('M-F') ?> 9:00-17:30</p>
                <a href="mailto:info@karupoegpuhh.ee" class="bottom-email">info@karupoegpuhh.ee</a>
                <?php
                    $telNr = $block->getPhoneNumber();
                ?>
                <?php echo "<a href='tel:" . $telNr .  "' class='bottom-phone'>" . $telNr . "</a>" ?>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer-bottom-inner">
        <div class="footer-delivery">
            <p class="methods-title"><?= /* @escapeNotVerified */ __('Delivery options') ?></p>
            <div class="method-logos">
                <img class="bottom-logo lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/Omniva_logo_w.png'); ?>" alt="">
                <img class="bottom-logo lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/SmartPosti_w.png'); ?>" alt="">
                <img class="bottom-logo lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/DPD_logo_redgrad_w.png'); ?>" alt="">
            </div>
        </div>
        <div class="footer-payment">
            <p class="methods-title"><?= /* @escapeNotVerified */ __('Payment methods') ?></p>
            <div class="method-logos">
                <img class="bottom-logo lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/bank_logos/2000px-SEB_logo.svg.png'); ?>" alt="">
                <img class="bottom-logo lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/bank_logos/LHV_logo.svg.png'); ?>" alt="">
                <img class="bottom-logo lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/bank_logos/Swedbank_Ref-1.png'); ?>" alt="">
                <img class="bottom-logo lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/icons/bank_logos/esto_w.png'); ?>" alt="">
            </div>
        </div>
    </div>
</div>
