// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .catalog-category-view,
    .catalogsearch-result-index,
    .amshopby-index-index,
    .ambrand-index-index {

        .sorter-options {
            font-size: 14px;
            color: #5fbdeb;
            font-family: 'Montserrat-Regular';
            font-weight: 600;
            padding: 10px;
            height: auto;
            margin: 0;
        }

        .toolbar-sorter {
            .sorter-action {
                &::before {
                    padding: 10px;
                    color: @puhh-blue;
                }
            }
        }

        .filter-title {
            display: none;
        }
        .sidebar-main {
            .filter-actions.block-actions,
            .filter-current {
                .swatch-option.image:not(.disabled):hover,
                .swatch-option.color:not(.disabled):hover {
                    outline: none;
                    border: none;
                }
            }
            .filter-options-item.active {
                .box-shadow(none);
                border-radius: 0;
                .filter-options-content {
                    .box-shadow(none);
                    border-radius: 0 0 25px 25px;
                }
            }
        }
    }

    .filter {
        &.block {
            margin-bottom: 0;
            width: 100%;
        }

        &-title {
            strong {
                border-top: 1px solid @puhh-gray;
                border-bottom: 1px solid @puhh-gray;
                padding: 15px 20px;
                margin: 0 -20px;
                z-index: 2;
                width: 100vw;
                display: inline-block;
                box-sizing: border-box;
                font-size: 18px;

                &[data-count]:after {
                    .lib-css(color, @color-white);
                    background: @color-orange-red1;
                    border-radius: 2px;
                    content: attr(data-count);
                    display: inline-block;
                    font-size: .8em;
                    line-height: 1;
                    margin: 0 @indent__xs;
                    min-width: 1em;
                    padding: 2px;
                }

                &.disabled {
                    opacity: .5;
                }
            }
        }

        .block-subtitle {
            border-bottom: @border-width__base solid @border-color__base;
            font-size: @font-size__base;
            font-weight: @font-weight__semibold;
            line-height: 1em;
            padding: @indent__s @indent__s @indent__base;
        }

        &-subtitle {
            display: none;
        }

        &-current {
            margin: 15px 0 0;
            display: inline-block;

            .items {
                padding: 0;
                margin-bottom: 0;
                .flex-display(inline-flex);
                .flex-wrap(wrap);
            }

            .item {
                max-height: 20px;
                .flex-display(flex);
                position: relative;
                z-index: 1;
                border: 1px solid @puhh-gray;
                padding: 10px 13px !important;;
                margin-bottom: 10px;
                margin-right: 8px;
                .align-items(center);
                border-radius: 7px;
                .filter-value {
                    color: @puhh-dark-blue;
                    font-size: 14px;
                    margin-left: 0;
                    .swatch-option-link-layered {
                        border: none;
                        .swatch-option.image {
                            margin: 2px 5px 0 0;
                            height: 16px;
                            width: 16px;
                            min-width: inherit;
                            border: none;
                            padding: 0;
                            outline: none;
                        }
                        .am-shopby-swatch-label {
                            span.label {

                            }
                        }
                    }
                }
                .action.remove {
                    &:before {
                        vertical-align: middle;
                        margin-top: -2px;
                        color: @puhh-gray;
                        line-height: 12px;
                        margin-left: 10px;
                    }
                }
            }

            .filter &-subtitle {
                border: none;
                display: block;
                padding-bottom: @indent__s;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                // left: -2px;
                // position: absolute;
                // top: -1px;
            }
        }

        &-actions {
            margin-bottom: @indent__m;
            padding: 0 @indent__s;
        }

        &-label {
            font-weight: @font-weight__bold;

            &:after {
                content: ': ';
            }
        }

        &-value {
            .lib-css(color, @filter-quantity);
        }

        &-options {
            display: none;
            margin: 0;
            &#narrow-by-list {
                border: none;
            }

            &-item {
                display: none;

                &.allow.active {
                    .box-shadow(0 0 8px 0 @puhh-gray);
                    border-radius: 20px 20px 0 0;
                    z-index: 50;
                    .filter-options-title {
                        position: relative;
                        z-index: 50;
                        background: @color-white;
                    }
                    .filter-options-content {
                        z-index: 49;
                        .box-shadow(0 0 8px 0 @puhh-gray);
                        /* width */
                        &::-webkit-scrollbar {
                            width: 13px;
                        }

                        /* Track */
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 13px 13px @puhh-gray;
                            border-right: solid 10px transparent;
                            margin-bottom: 20px;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            box-shadow: inset 0 0 13px 13px @puhh-blue;
                            border-right: solid 10px transparent;
                        }
                    }
                }

                &[data-filter-title="Gender"] {
                    .am-swatch-link {
                        &[data-label="Tüdrukud"] {
                            .swatch-option.image {
                                &.selected {
                                    background: url('@{baseDir}images/icons/girl_active.svg') no-repeat center center !important;
                                    background-size: contain !important;
                                    & + .am-shopby-swatch-label {
                                        color: @puhh-yellow;
                                    }
                                }
                            }
                        }
                        &[data-label="Poisid"] {
                            .swatch-option.image {
                                &.selected {
                                    background: url('@{baseDir}images/icons/boy_active.svg') no-repeat center center !important;
                                    background-size: contain !important;
                                    & + .am-shopby-swatch-label {
                                        color: @puhh-yellow;
                                    }
                                }
                            }
                        }
                    }
                }

                .filter-options-content {
                    padding: 0;
                    .am_shopby_link_selected {
                        background: @puhh-yellow;
                        display: block;
                        span.label {
                            color: @color-white;
                        }
                    }
                }

                &.amshopby-filter-top {
                    display: block;
                    margin: 0 auto 30px;
                    width: 75%;
                    position: relative;
                    .filter-options-content {
                        background: #fff;
                        z-index: 2;
                        margin-top: 0;
                        border: 1px solid @puhh-gray;
                        border-top: 0;
                        max-height: 250px;
                        overflow-y: auto;
                        border-bottom-left-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }
                }
            }

            &-content {
                box-sizing: border-box;
                width: 100%;
                margin-top: 0;
            }

            &-title {
                cursor: pointer;
                border: 1px solid @puhh-gray;
                color: @puhh-blue;
                padding: 10px 40px 10px 20px;
                border-radius: 20px;
                font-size: 14px;
                text-transform: none;
                font-family: 'Montserrat-Medium';
                font-weight: normal;
                position: relative;
                word-break: break-all;
                z-index: 1;

                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 13px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &[aria-expanded="true"] {
                    border-bottom: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    .lib-css(color, @puhh-yellow);
                    margin-top: -1px;
                }

                &:after {
                    position: absolute;
                    right: 13px;
                    top: 12px;
                }

                &:hover {
                    .lib-css(color, @puhh-yellow);
                }

                .active > & {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &-content {
                margin: 0;
                padding: 0 @indent__s @indent__s;

                .amshopby-slider-container {
                    padding: 35px 10px 0;
                    margin-bottom: 0;
                    .ui-slider-horizontal {
                        height: 4px;
                        background: @puhh-gray;
                    }
                    .ui-slider-handle {
                        height: 16px;
                        width: 16px;
                        margin-top: -6px;
                        border: 2px solid @puhh-secondary-yellow;
                        background: @puhh-yellow;
                        box-sizing: border-box;
                    }
                    .ui-slider-range {
                        height: 4px;
                        background: @puhh-blue;
                    }
                    .amshopby-slider-display {
                        .transform(translate(0, -215%));
                    }
                }

                .items {
                    list-style: none;
                    margin-bottom: 0;
                    padding: 0 0 10px;
                    input[type="checkbox"] {
                        float: right;
                        margin: 4px 10px 0 0;
                        visibility: hidden;
                        &:checked {
                            &:before {
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 5px;
                                border-bottom: 2px solid @color-white;
                                border-left: 2px solid @color-white;
                                visibility: visible;
                                .transform(rotate(-45deg));
                            }
                        }
                    }
                }

                .item {
                    line-height: 30px;
                    margin: 1px 0;

                    &:hover {
                        .rgba(rgb(255,206,84), 0.5);
                    }
                }

                a {
                    .lib-css(color, @puhh-dark-blue);
                    padding-left: 20px;

                    input[type="radio"] {
                        display: none;
                    }

                    &.am_shopby_link_selected {
                        span.label {
                            color: @puhh-yellow;
                        }
                    }

                    &:hover {
                        text-decoration: none;

                        & + .count {
                            background-color: @color-gray91;
                        }
                    }
                }

                .count {
                    .lib-css(color, @filter-quantity);
                    font-weight: @font-weight__light;
                    padding-left: 5px;
                    padding-right: 5px;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }

                .filter-count-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .custom-filter-title {
        display: none;
    }
    .breadcrumbs {
        position: absolute;
        top: 0;
    }
    .filter {
        &-content.block-content {
            position: relative;
        }
        &.active {
            position: absolute;
            visibility: visible;
            z-index: 999;
            width: 104%;
            left: 0;
            top: 0;
            background: @color-white;
            border: 1px solid @puhh-gray;
            border-radius: 10px;
            padding: 15px 13px;
            box-sizing: border-box;
            margin-left: -2%;

            .filter-content.block-content {
                .filter-current,
                .filter-actions {
                    display: none;
                }
            }
            .box-shadow(0 0 8px 0 @puhh-gray);

            .filter-options-item:last-child {
                margin-bottom: @indent__xl;
            }

            .filter-title {
                border-bottom: 1px solid @border-color__base;
                height: 48px;
                width: 100%;
                border: none;
                z-index: 2;
                position: absolute;
                top: 0;
                right: 0;

                strong {
                    .lib-css(box-shadow, none);
                    background: none;
                    border: 0;
                    color: transparent;
                    left: auto;
                    top: 0;
                    right: 0;
                    padding: 12px;
                    line-height: 20px;
                    text-align: right;
                    padding-right: 20px;
                    .lib-icon-font(
                    @icon-remove,
                    @_icon-font-color: @puhh-dark-blue,
                    @_icon-font-size: 20px,
                    @_icon-font-position: after
                    );
                }
            }

            .filter-subtitle {
                .lib-css(background, @toolbar-background);
                display: block;
                z-index: 1;
                font-family: 'Montserrat-Medium';
                font-weight: normal;
                font-size: 18px;
                padding: 0 0 30px;
                border: none;
            }

            .filter-options {
                .lib-css(background, @color-white);
                display: block;
                // overflow: scroll;
                z-index: 10;
            }
        }
    }

    .filter {
        & &-subtitle {
            font-size: 20px;
            font-weight: @font-weight__light;
        }

        &-options-item {
            &.allow.active {
                border-radius: 25px;
                .filter-options-content {
                    .box-shadow(none);
                }
            }
            &[data-filter-title="Gender"] {
                .filter-options-title {
                    display: none;
                }
                .filter-options-content {
                    display: block !important;
                    position: static;
                    border: none;
                    margin: 0;
                    padding: 0;
                    overflow-y: visible;
                    .am-filter-items-attr_gender {
                        padding: 0;
                        .flex-direction(row);
                        .align-items(center);
                        .justify-content(center);
                        white-space: nowrap;
                        .am-swatch-link {
                            width: 50%;
                            .flex-display(inline-flex);
                            .align-items(center);
                            .flex-direction(column);
                            padding: 0 !important;

                            &:hover {
                                background: transparent;
                            }

                            .am-shopby-swatch-label {
                                max-width: 100%;
                                font-weight: normal;
                                font-size: 14px;
                                color: @puhh-blue;
                            }
                            .swatch-option.image {
                                border: none;
                                height: 40px;
                                width: 40px;
                                padding: 0;
                                margin: 0;
                                background-size: contain !important;
                                outline: none;
                            }
                            &:focus > div {
                                .box-shadow(none);
                            }
                        }
                    }
                }
            }
        }

        &-options-content {
            padding: @indent__xs @indent__s;
        }
    }

    .filter .filter-current {
        border-bottom: 1px solid #ececec;
        border-top: 1px solid #fff;
        margin: -1px -20px 0;
        display: block;
        position: relative;
        z-index: 1;

        .items {
            margin-bottom: 0;
            padding: 10px 20px 5px;
        }

        &-subtitle {
            position: relative;
            text-transform: uppercase;
            z-index: 1;

            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 13px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &:before {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            &:after {
                .lib-css(color, @text__color__muted);
                content: ' (' attr(data-count) ')';
                font-size: .9em;
            }
        }

        &.active {
            // padding-bottom: 30px;

            .block-subtitle {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: before
                );
            }

            .items {
                // display: block;
            }

            & + .block-actions {
                display: block;
            }
        }

        & + .block-actions {
            position: absolute;
            top: 0;
            right: 0;
            font-family: 'Montserrat-Medium';
            font-size: 14px;
            z-index: 1;
            a {
                span {
                    font-weight: normal;
                }
            }
        }
    }

    .filter-no-options {
        .filter-title {
            &:before {
                background: rgba(255,255,255,.5);
                content: '';
                display: block;
                height: 40px;
                left: -15px;
                margin-top: -60px;
                position: relative;
                width: 100px;
                z-index: 99;
            }
        }

        .filter-content {
            margin-bottom: @indent__base;
        }
    }
    .filter-active {
        .columns {
            .column.main {
                #amasty-shopby-product-list {
                    .toolbar-products {
                        display: none;
                    }
                }
            }
        }
    }
    .columns {
        .column.main {
            position: relative;
            .filter-current {
                margin-top: 0;
            }
            #amasty-shopby-product-list {
                .toolbar-products {
                    margin: 0;
                    position: absolute;
                    top: -82px;
                    right: 0;
                    padding: 9px 0;
                    z-index: 1;
                    max-width: calc(~'50% - 10px');
                    .toolbar-amount {
                        display: none;
                    }
                    .pages {
                        display: none;
                    }
                    .toolbar-sorter {
                        white-space: nowrap;
                        .sorter-label {
                            display: none;
                        }
                    }
                }
            }
        }
        .sidebar-main {
            position: relative;
            .lib-vendor-prefix-order(0);
            margin-bottom: 25px;
            min-height: 58px;
            .category-image {
                max-width: 120px;
                margin: 0 auto 15px;
            }
            .block.filter {
                &.active {
                    .filter-title {
                        max-width: 100%;
                    }
                }
                .filter-title {
                    display: inline-block;
                    max-width: calc(~'50% - 10px');
                    strong:not([aria-expanded="true"]) {
                        background: transparent;
                        font-size: 14px;
                        color: #5fbdeb;
                        font-family: 'Montserrat-Regular';
                        font-weight: 600;
                        line-height: 58px;
                        padding: 0 42px 0 10px;
                        margin: 0;
                        border-top: none;
                        border-bottom: none;
                        position: relative;
                        width: 100%;
                        &:after {
                            content: '';
                            background-size: 18px 18px;
                            height: 18px;
                            margin-top: 18px;
                            width: 12px;
                            .transform(rotate(90deg));
                            background: url('@{baseDir}images/icons/arrow.svg');
                            position: absolute;
                            right: 15px;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view,
    .catalogsearch-result-index,
    .amshopby-index-index,
    .ambrand-index-index {
        .topnav-wrapper {
            .flex-display(flex);
            .align-items(center);
            margin-bottom: 15px;
            flex-wrap:wrap;

            .custom-filter-title {
                width:100%;
                font-size: 17px;
                font-weight: normal;
                margin: 0 30px 0 0;
                &:after {
                    content: ':'
                }
            }
            .catalog-topnav {
                width: 100%;
            }
        }

        .block-subtitle.filter-subtitle {
            display: none;
        }
        .sidebar-main {
            .filter-options-title {
                display: none;
            }

            .filter-options-item {
                display: none;
            }

            .filter-options-item:first-of-type {
                width: 100%;
                display: block;
                margin: 0;
                .filter-options-content {
                    display: block !important;
                    overflow-y: visible;
                    li.item {
                        margin: 15px 0;
                        .am-collapse-icon {
                            height: 2em;
                            cursor: pointer;
                            &:after {
                                border-color: @puhh-blue transparent transparent transparent;
                            }
                        }
                        a {
                            font-family: 'Montserrat-Medium';
                            display: inline-block;
                            font-weight: 600;
                        }
                    }
                    ul.items.items-children {
                        margin: 20px 0;
                        padding-bottom: 0;
                        li.item {
                            .am-collapse-icon {
                                height: 1em;
                            }
                            a {
                                font-weight: 400;
                            }
                            margin: 5px 0;
                            line-height: 15px;
                        }
                    }
                    .item {
                        &:hover {
                            background-color: transparent;
                        }
                    }
                    .am_shopby_link_selected {
                        background: transparent;
                        span.label {
                            color: @puhh-yellow;
                        }
                    }
                }
            }
        }
    }
    .filter {
        &-current {
            width: 100%;
        }
        &.block {
            margin-bottom: 0;
        }

        &-title {
            display: none;
        }

        &-content {
            .item {

            }
        }

        &-actions {
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
        }

        &.active &-options,
        &-options {
            background: transparent;
            clear: both;
            display: block;
            overflow: initial;
            position: static;

            &#narrow-by-list {
                .flex-display(flex);
                .align-items(center);
                .flex-wrap(wrap);
            }

            .filter-options-item {
                padding-bottom: 0;
                max-width: 200px;
                width: 43%;
                margin: 7.5px 30px 7.5px 0;
                position: relative;
                .filter-options-content {
                    max-width: 200px;
                    margin-top: 0;
                    border-top: 0;
                    border-color: @puhh-gray;
                    overflow-y: auto;
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                }
                &:last-child {
                    margin-right: 0;
                }
                &[data-filter-title="Gender"] {
                    .filter-options-title {
                        display: none;
                    }
                    .filter-options-content {
                        display: block !important;
                        position: static;
                        border: none;
                        margin: 0;
                        padding: 0;
                        overflow-y: visible;
                        .am-filter-items-attr_gender {
                            white-space: nowrap;
                            padding: 0;
                            .flex-direction(row);
                            .align-items(center);
                            .justify-content(center);
                            .am-swatch-link {
                                width: 50%;
                                .flex-display(inline-flex);
                                .align-items(center);
                                .flex-direction(column);
                                padding: 0 !important;

                                &:hover {
                                    background: transparent;
                                }

                                .am-shopby-swatch-label {
                                    max-width: 100%;
                                    font-weight: normal;
                                    font-size: 14px;
                                    color: @puhh-blue;
                                }
                                .swatch-option.image {
                                    border: none;
                                    height: 40px;
                                    width: 40px;
                                    padding: 0;
                                    margin: 0;
                                    background-size: contain !important;
                                    outline: none;
                                }

                                &:focus > div {
                                    .box-shadow(none);
                                }
                            }
                        }
                    }
                }
            }
        }

        &-subtitle {
            display: block;
            position: static;
        }
    }

    .page-layout-1column {
        .toolbar-products {
            position: absolute;
            top: 0;
            width: 100%;
        }

        .products ~ .toolbar-products {
            position: static;
        }

        & .column.main {
            padding-top: 45px;
            position: relative;
            z-index: 1;
        }

        .filter {
            &.block {
                border-top: 1px solid @border-color__base;
            }

            &-content {
                margin-top: @indent__s;
            }

            &-subtitle {
                display: none;
            }

            &-options {
                &-item {
                    border: 0;
                    display: inline-block;
                    margin-right: @indent__m;
                    position: relative;

                    &.active {
                        z-index: 2;

                        .filter-options-content {
                            visibility: visible;
                        }

                        &:hover {
                            z-index: 3;
                        }

                        &:after,
                        &:before {
                            .lib-arrow(up, 8px, @color-black);
                            bottom: -1px;
                            content: '';
                            display: block;
                            left: @indent__xs;
                            position: absolute;
                            z-index: 3;
                        }

                        &:after {
                            .lib-css(border-bottom-color, @color-white);
                            margin-top: 2px;
                            z-index: 4;
                        }
                    }
                }

                &-title {
                    padding: 0 @indent__base 0 0;

                    &:after {
                        right: 2px;
                        top: 3px;
                        z-index: 3;
                    }
                }

                &-content {
                    @_shadow: 0 3px 5px 0 rgba(50, 50, 50, .75);
                    .lib-css(background, @color-white);
                    .lib-css(box-shadow, @_shadow, 1);
                    border: 1px solid @border-color__base;
                    padding: @indent__xs 0;
                    position: absolute;
                    top: 100%;
                    visibility: hidden;
                    width: 180px;
                    z-index: 2;

                    .item {
                        margin: 0;
                        padding: @indent__xs;

                        a {
                            margin-left: 0;
                        }

                        &:hover {
                            background-color: @color-gray91;
                        }
                    }
                }
            }

            &-current {
                display: inline;
                line-height: 35px;

                &-subtitle {
                    .lib-css(color, @text__color__muted);
                    display: inline;
                    font-size: @font-size__base;
                    font-weight: normal;
                    padding: 0;

                    &:after {
                        content: ':';
                    }
                }

                .item,
                .items {
                    display: inline;
                }

                .item {
                    margin-right: @indent__m;
                    white-space: nowrap;
                }

                .action.remove {
                    line-height: normal;
                }
            }

            &-actions {
                display: inline;
                white-space: nowrap;

                & ~ .filter-options {
                    margin-top: @indent__m;
                }
            }
        }
    }
}
