//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block.newsletter {
        .field {
            .control {
                input#newsletter,
                input#nname {
                    color: @puhh-dark-blue;
                    background: @color-white;
                    &::placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @toys-blue;
                    }
                    &:-ms-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @toys-blue;
                    }
                    &::-ms-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @toys-blue;
                    }
                    &::-webkit-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @toys-blue;
                    }
                }
                div.mage-error {
                    color: @puhh-yellow;
                }
            }
        }
        .action.subscribe {
            background: @toys-yellow;
            border: 3px solid @toys-secondary-yellow;
        }
    }
}
