//
//    Common
//--------------------------------------
& when (@media-common = true) {
    // Blog post view
    .tm-blog-post-view {
        .block {
            .title {
                strong {
                    font-size: 20px;
                }
            }
        }
        .post-content {
            .post {
                &-image {
                    margin: 0 auto 20px;
                    img {
                        display: block;
                        margin: auto;
                    }
                }
            }
            .block.related-posts {
                .block-title {
                    margin-bottom: 20px;
                }
                ul {
                    list-style: none;
                    padding: 0;
                }
            }
        }
    }
    // Blog listing view
    .tm-blog-index-index {
        .page-title {
            font-size: 45px;
        }
        .column.main {
            .posts-list-wrapper {
                .block-posts-list {
                    .post-item {
                        .flex-basis(100%);
                        .post-title {
                            h3 {
                                a {
                                    font-family: 'PatrickHandSC-Regular';
                                    font-size: 30px;
                                    font-weight: normal;
                                    color: @puhh-dark-blue;
                                }
                            }
                        }
                        .post-link {
                            color: @puhh-blue;
                        }
                        .post-data {
                            .align-items(center);
                            .justify-content(flex-start);
                            .post-comments,
                            .create-date,
                            .post-author {
                                margin-right: 15px;
                            }
                            .post-comments {
                                a {
                                    &:before {
                                        display: inline-block;
                                        content: '\e0cb';
                                        font-family: 'Material Icons';
                                        color: @color-black;
                                        padding-right: 4px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
                .toolbar-bottom {
                    .toolbar {
                        text-align: left;
                        .pages {
                            display: inline-block;
                            position: relative;
                            .transform(translate(-50%, 0));
                            left: 50%;
                            .pages-items {
                                padding: 0;
                                .item {
                                    &.pages-item-next,
                                    &.pages-item-previous {
                                        position: static;
                                    }
                                    &.current {
                                        strong {
                                            color: @puhh-dark-blue;
                                            padding: 0 11px;
                                            background: @puhh-gray;
                                        }
                                    }
                                    a {
                                        padding: 0 11px;
                                        &.action {
                                            color: @puhh-dark-blue;
                                            background: transparent;
                                            .box-shadow(none);
                                            border: none;
                                            padding: 0;
                                            &.next {
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .sidebar.sidebar-additional {
            .block {
                &-title {
                    margin-bottom: 20px;
                    font-size: 20px;
                }
                &-content {
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            a {
                                font-family: 'Montserrat-Medium';
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }
    // Front page widget
    #blog-tabs {
        max-width: @layout__max-width;
        margin: auto;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        .flex-display(flex);

        .blog-tab-links {
            box-sizing: border-box;
            display: inline-block;
            list-style: none;
            background-color: @puhh-secondary-gray;
            width: 100%;
            border-radius: 0;
            padding: 20px 5px 0;
            margin: 0;
            .box-shadow(0 0 10px 0 #ECECEC);

            .blog-link {
                text-align: center;
                display: block;
                padding: 20px 0 0;
            }
            .blog-title {
                text-align: center;
                border-bottom: 3px dashed @puhh-gray;
                margin-bottom: 0;
                padding-bottom: 20px;
            }
            li {
                padding: 3.5px 10px;
                margin-bottom: 0;
                border-bottom: 3px dashed @puhh-gray;
                min-height: 70px;
                box-sizing: border-box;

                a {
                    .flex-display(flex);
                    .tab-image {
                        .flex-display(inline-flex);
                        .align-items(center);
                        .align-self(center);
                        height: 60px;
                        width: 120px;
                        overflow: hidden;
                        vertical-align: top;
                        img {
                            width: 100%;
                        }
                    }
                    .tab-title {
                        display: inline-block;
                        font-size: 14px;
                        vertical-align: top;
                        padding: 3px 0 0 10px;
                        color: @puhh-dark-blue;
                        font-weight: normal;
                        font-family: 'Montserrat-Medium';
                        box-sizing: border-box;
                        width: ~"calc(100% - 120px)";
                        &:hover {
                            color: @puhh-blue;
                        }
                    }
                    &:active {
                        text-decoration: none;
                    }
                    &.blog-tab {
                        display: none;
                    }
                }
            }
            &:after {
                display: inline-block;
                content: '';
                background: url('@{baseDir}images/pilved/footer_1-01.svg');
                background-size: 100%;
                height: 24vw;
                width: 102vw;
                margin-left: -2vw;
                margin-bottom: -21vw;
                position: relative;
                z-index: -1;
                .transform(rotate(180deg));
            }
        }
        .content-container {
            display: none;
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // Blog listing view
    .tm-blog-index-index {
        .page-title {
            font-size: 45px;
        }
        .column.main {
            width: 74.166667%;
        }
        .sidebar.sidebar-additional {
            width: 25.833333%;
        }
    }
    // Front page widget
    #blog-tabs {
        padding: 20px;
        .blog-tab-links {
            margin: 20px 0;
            border-radius: 20px 0 0 20px;
            padding: 20px 5px;
            width: 44%;
            li {
                padding: 3.5px 15px;
                min-height: 85px;
                a {
                    .tab-image {
                        height: 75px;
                        width: 150px;
                    }
                    .tab-title {
                        width: ~"calc(100% - 154px)";
                        padding: 10px 0 0 15px;
                    }
                    &.mobile-link {
                        display: none;
                    }
                    &.blog-tab {
                        .flex-display(flex);
                    }
                }
                &.ui-tabs-active {
                    background: @color-white;
                }
            }
            &:after {
                content: none;
            }
        }
        .content-container {
            box-sizing: border-box;
            display: inline-block;
            width: 66%;
            background: @color-white;
            padding: 20px 25px;
            border-radius: 20px;
            .box-shadow(0 0 10px 0 #ECECEC);
            [data-role="content"] {
                display: none;
                &:first-of-type {
                    display: block;
                }
            }
            .content {
                display: none;
                &-image {
                    img {
                        max-height: 354px;
                        margin: auto;
                        display: block;
                        border-radius: 20px;
                    }
                }
                &-title {
                    text-transform: none;
                    font-size: 25px;
                    color: @puhh-blue;
                    margin: 40px 0 11px 0;
                }
                &-date {
                    color: #4A4A4A;
                    font-size: 14px;
                    margin-bottom: 14px;
                }
                &-content {
                    font-size: 14px;
                    font-family: 'Open Sans';
                }
                &-author {
                    .flex-display(flex);
                    .align-items(center);
                    margin-top: 20px;
                    img {
                        width: 60px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
