// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Color variables
//  _____________________________________________

// PUHH COLORS

@puhh-yellow: #F6BB42;
@puhh-secondary-yellow: #FFCE54;
@puhh-light-blue: #BFE7F7;
@puhh-blue: #5FBDEB;
@puhh-label-blue: #004CA5;
@puhh-dark-blue: #135775;
@puhh-gray: #ECECEC;
@puhh-secondary-gray: #F7F7F7;
@puhh-dark-gray: #999;
@puhh-green: #43E443;
@puhh-dark-green: #00CC00;
@puhh-pink: #FF3F7B;
@puhh-red: #FF004F;
@puhh-logo-red:#D82C2A;

@active__color: @puhh-yellow;
