@message-icon__inner-padding-left: false;
@message__font-size: 18px;
@message__border-radius: 5px;

//  Success message
@message-success-icon: false;
@message-success__color: @color-white;
@message-success__background: @puhh-green;
@message-success-link__color: @color-white;
@message-success-link__color-hover: @color-white;
@message-success-link__color-active: @color-white;

.message.success {
    .action-close {
        background: @puhh-green;
    }
    &:before {
        background: url('@{baseDir}images/messages/notification_1.svg') no-repeat center center;
        background-size: 54px;
    }
}

//  Error message
@message-error-icon: false;
@message-error__color: @color-white;
@message-error__background: @puhh-pink;
@message-error-link__color: @color-white;
@message-error-link__color-hover: @color-white;
@message-error-link__color-active: @color-white;

.message.error {
    .action-close {
        background: @puhh-pink;
    }
    &:before {
        background: url('@{baseDir}images/messages/notification_2.svg') no-repeat center center;
        background-size: 54px;
    }
}

//  Info message
@message-info-icon: false;
@message-info__color: @puhh-dark-blue;
@message-info__background: @puhh-light-blue;
@message-info-link__color: @puhh-dark-blue;
@message-info-link__color-hover: @puhh-dark-blue;
@message-info-link__color-active: @puhh-dark-blue;

.message.info {
    .action-close {
        background: @puhh-light-blue;
    }
    &:before {
        background: url('@{baseDir}images/messages/notification_3.svg') no-repeat center center;
        background-size: 54px;
    }
}

//  Warning message
@message-warning-icon: false;
@message-warning__color: @color-white;
@message-warning__background: @puhh-secondary-yellow;
@message-warning-link__color: @color-white;
@message-warning-link__color-hover: @color-white;
@message-warning-link__color-active: @color-white;

@message-notice-icon: false;
@message-notice__color: @color-white;
@message-notice__background: @puhh-secondary-yellow;
@message-notice-link__color: @color-white;
@message-notice-link__color-hover: @color-white;
@message-notice-link__color-active: @color-white;

.message.notice,
.message.warning {
    .action-close {
        background: @puhh-secondary-yellow;
    }
    &:before {
        background: url('@{baseDir}images/messages/notification_4.svg') no-repeat center center;
        background-size: 54px;
    }
}

div[data-bind="scope: 'messages'"] {
    width: 100%;
    pointer-events: none;
}

.messages {
    .flex-display(flex);
    .flex-wrap(wrap);
}

.message.success,
.message.error,
.message.info,
.message.warning,
.message.notice {
    .flex-display(flex);
    .align-items(center);
    min-height: 60px;
    box-sizing: border-box;
    padding-left: 53px;
    width: 100%;
    position: relative;
    .message-text {
        display: inline-block;
        padding: 6px 0;
        a {
            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }

    .action-close {
        pointer-events: all;
        position: absolute;
        right: 0;
        top: 0;
        .transform(translate(25%, -25%));
        height: 20px;
        width: 20px;
        padding: 10px;
        border-radius: 24px;
        overflow: visible;
        &:before {
            content: '\e616';
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
            color: @color-white;
            font-family: 'luma-icons';
            vertical-align: top;
        }
    }

    &:before {
        height: 44px;
        width: 54px;
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        .transform(translate(-20%, -25%));
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body {
        .message.success,
        .message.error,
        .message.info,
        .message.warning,
        .message.notice {
            padding: 0 10px 0 40px;
            margin: 0 0 20px 51px;
            .action-close {
                position: absolute;
                right: 10px;
                top: 50%;
                .transform(translate(0, -50%));
                &:hover {
                    cursor: pointer;
                    &:before {
                        color: @puhh-gray;
                    }
                }
            }
            &:before {
                height: 60px;
                width: 74px;
                .transform(translate(-69%, 0));
            }
        }
        .message.success,
        .message.error,
        .message.warning,
        .message.notice,
        .message.info {
            &:before {
                background-size: 74px;
            }
        }
    }
}


