//
//  Navigation
//  ---------------------------------------------

@navigation-level0-item__text-transform: uppercase;
@navigation-desktop__font-size: 17px;
@navigation-desktop__font-weight: @font-weight__bold;
@navigation__background: transparent;

@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop__background: transparent;
@navigation-level0-item__active__border-color: transparent;
@navigation-desktop-level0-item__hover__color: @puhh-dark-blue;
@navigation-desktop-level0-item__active__color: @color-white;
@navigation-desktop-level0-item__active__border-style: none;
@navigation-desktop-level0-item__active__border-width: 0;
@navigation-desktop-level0-item__padding: 0 0;
@navigation-desktop-level0-item__line-height: normal;

@submenu-desktop-item__color: @puhh-dark-blue;
@submenu-item__active__color: @navigation-level0-item__active__color;
@submenu-desktop-item__active__border-style: none;
@submenu-desktop-item__active__border-width: 0;
@submenu-desktop-item__padding: 0;
@submenu-desktop-item__hover__background: transparent;


// MOBILE Menu

// top level
@navigation-level0-item__border: none;
@navigation-level0-item__color: @puhh-dark-blue;
@navigation-level0-item__active__color: @puhh-yellow;
@navigation-level0-item__hover__color: @puhh-yellow;
@navigation-level0-item__active__border-color: transparent;
@navigation-level0-item__padding: 25px @indent__xl 25px 45px;
@navigation-level0-item__active__border-width: 0;
@navigation-level0-item__font-size: 17;

// submenu
@submenu-item__active__border-color: transparent;
@submenu-item__color: @puhh-dark-blue;
@submenu__font-weight: @font-weight__bold;
@submenu__padding-top: 20px;
@submenu__padding-bottom: 20px;
@submenu__padding-left: 25px;
@submenu__padding-right: 10px;

@submenu-item__active__border-width: 0;
@submenu-item__active__border: 0;
