// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Popup variables
//  _____________________________________________

// VARIABLES DONT WORK


.modal-inner-wrap {
    border-radius: 25px;
}
.modals-overlay {
    .rgba(@puhh-dark-blue, .5);
}
.modal {
    &-footer {
        .flex-display(flex);
        .justify-content(center);
        .action {
            padding: 13px 25px;
            max-width: 50%;
            margin-left: 5px;
            &.secondary {
                margin-left: 0;
                margin-right: 5px;
                background: transparent;
                border: none;
                .box-shadow(none);
                color: @puhh-blue;
                &:hover,
                &:active,
                &:focus {
                    color: @puhh-dark-blue;
                }
            }
        }
    }
    &-header {
        .action-close {
            &:before {
                color: @puhh-dark-gray;
            }
            &:hover {
                &:before {
                    color: lighten(@puhh-dark-gray, 20%);
                }
            }
        }
    }
}

.modal-popup {
    pointer-events: auto !important;
}

.modal-popup.modal-slide._inner-scroll._show {
    left: 0;
}

.modal-header,
.modal-footer,
.modal-content {
    padding-right: 20px;
    padding-left: 20px;
}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .modals-wrapper {
        .modal-popup {
            .modal-inner-wrap {
                width: 75%;
            }
        }
    }
}
