<?php

/**
 * @see \Makecommerce\Ecommerce\Block\Form\Makecommerce
 * @var \Makecommerce\Ecommerce\Block\Form\Makecommerce $block
 */

    $code      = $block->getMethodCode();
    $bankLinks = $block->getBankLinks();
    $others    = $block->getOthers();
    $payLaters = $block->getPayLaters();
    $countries = $block->getCountries();
?>
<?php if ($block->getUiMode() !== "inline") : ?>
    *** uimode is not inline
    <?php if (!$block->areCountriesGrouped()) : ?>
        <div class="countries">
        <?php if ($block->getCountrySelectType() === "flag") : ?>
            <?php foreach ($countries as $country): ?>
                <img
                    src="<?php /* @noEscape */ echo $country['imagePath'] ?>"
                    onclick="console.log(window)"
                >
            <?php endforeach ?>
        <?php else : ?>
            <select name="makecommerce_country">
                <?php foreach ($countries as $country) : ?>
                <option value="<?= $country['name'];?>"></option>
                <?php endforeach ?>
            </select>
        <?php endif; ?>
        </div>
        <div class="banklinks">  <!-- banklinks -->
            <?php foreach ($bankLinks as $bankLink) : ?>
                <img
                    class="banklink"
                    src="<?php /* @noEscape */ echo $bankLink['imagePath'] ?>"
                    style="<?php /* @noEscape */ echo $bankLink['country']  ===  $block->getDefaultCountry() ?
                    'display:inline-block' : 'display:none'; ?>"
                >
            <?php endforeach;?>
        </div>
        <div class="other">   <!-- other -->
            <?php foreach ($others as $other) : ?>
                <img
                    class="other"
                    src="<?php /* @noEscape */ echo $other['imagePath'] ?>"
                    style="<?php /* @noEscape */ echo $other['country']  ===  $block->getDefaultCountry() ?
                    'display:inline-block' : 'display:none'; ?>"
                >
            <?php endforeach;?>
        </div>
        <div class="paylaters">  <!-- paylaters -->
            <?php foreach ($payLaters as $payLater) : ?>
                <img
                    class="payLater"
                    src="<?php /* @noEscape */ echo $payLater['imagePath'] ?>"
                    style="<?php /* @noEscape */ echo $payLater['country']  ===  $block->getDefaultCountry() ?
                    'display:inline-block' : 'display:none'; ?>"
                >
            <?php endforeach;?>
        </div>
    <?php else : ?>
       countries are grouped
    <?php endif; ?>
    <?php if (!$block->areCardsGrouped()) : ?>
       Cards are not Grouped
    <?php endif; ?>
<?php else : ?>
    *** uimode is inline
<?php endif; ?>


<dl class="items payable" id="payment_form_<?= $code ?>" style="display:none;">
    <input type="hidden" name="makecommerce_method">
</dl>

