<script>
    // TODO: Move to ko and display message about success or error
    function saveDeliveryDetails()
    {
        jQuery('body').trigger('processStart');
        jQuery.ajax({
            type : 'POST',
            showLoader: true,
            url : '<?php echo $this->getUrl('venipak/order/saveDeliveryDetails', ['order_id' => $this->getOrderId()]) ?>',
            data : jQuery('#venipak_delivery_details').serialize(),
            success: function(msg){
                jQuery('body').trigger('processStop');
            },
            error: function() {
                alert("Something Wrong...");
                jQuery('body').trigger('processStop');
            }
        });
    }
</script>
<section class="admin__page-section edit-order-venipak">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $this->getTabLabel() ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Delivery Details'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <form action="#" method="post" id="venipak_delivery_details">
                    <table class="admin__table-secondary order-information-table">
                        <tbody>
                            <?php if ($this->deliveryInPickupPoint()): ?>
                                <tr>
                                    <th><?php echo __('PickUp'); ?></th>
                                    <td><?php echo $this->getPickUpHtml() ?></td>
                                </tr>
                                <?php if (0 && $this->getPickUpDetails()): ?>
                                    <tr>
                                        <th colspan="2"><?php echo $this->getPickUpDetails() ?></th>
                                    </tr>
                                <?php endif; ?>
                            <?php else: ?>
                                <tr>
                                    <th><?php echo __('Order Doc No'); ?></th>
                                    <td><?php echo $this->getOrderIncrementId() ?></td>
                                </tr>
                                <?php if ($this->getTimeStampHtml()): ?>
                                <tr>
                                    <th><?php echo __('Delivery Time'); ?></th>
                                    <td><?php echo $this->getTimeStampHtml() ?></td>
                                </tr>
                                <?php endif; ?>
                                <tr>
                                    <th><?php echo __("Pack's"); ?></th>
                                    <td><?php echo $this->getPacksHtml() ?></td>
                                </tr>
                                <tr>
                                    <th><?php echo __('Return Doc.'); ?></th>
                                    <td><?php echo $this->getYesNoHtml('return_doc') ?></td>
                                </tr>
                                <?php if ($this->getOfficeNoHtml()): ?>
                                <tr>
                                    <th><?php echo __('Office no.'); ?></th>
                                    <td><?php echo $this->getOfficeNoHtml() ?></td>
                                </tr>
                                <?php endif; ?>
                                <?php if ($this->getDoorNoHtml()): ?>
                                <tr>
                                    <th><?php echo __('Door code'); ?></th>
                                    <td><?php echo $this->getDoorNoHtml() ?></td>
                                </tr>
                                <?php endif; ?>
                                <?php if ($this->getWarehouseNoHtml()): ?>
                                <tr>
                                    <th><?php echo __('Warehouse no.'); ?></th>
                                    <td><?php echo $this->getWarehouseNoHtml() ?></td>
                                </tr>
                                <?php endif; ?>
                                <tr>
                                    <th><?php echo __('Courier Call'); ?></th>
                                    <td><?php echo $this->getYesNoHtml('delivery_call') ?></td>
                                </tr>
                            <?php endif; ?>
                            <tr>
                                <th><?php echo __('Warehouse'); ?></th>
                                <td><?php echo $this->getWarehouseHtml() ?></td>
                            </tr>
                            <?php if ($this->getManifestNo()): ?>
                            <tr>
                                <th><?php echo __('Manifest no.'); ?></th>
                                <td><?php echo $this->getManifestNo() ?></td>
                            </tr>
                            <?php endif; ?>
                            <?php if ($this->getPackNo()): ?>
                            <tr>
                                <th><?php echo __('Packs no.'); ?></th>
                                <td><?php echo $this->getPackNo() ?></td>
                            </tr>
                            <?php endif ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <?php if ($this->editable()): ?>
                                    <div class="page-actions">
                                        <button id="delivery_details_save" title="Save" type="button" onClick="saveDeliveryDetails()" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                            <span class="ui-button-text">
                                                <span><?php echo __('Save'); ?></span>
                                            </span>
                                        </button>
                                    </div>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
