<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;

    $IMP = $this->getMinPriceVm();
    $PPVM = $block->getData('promo_price_view_model');
?>
    <div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="product-items <?= /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                               href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                               class="product-item-link box-cover-link">
                                <div class="discount-container">
                                    <!-- PERCENTAGE LABEL -->
                                    <?php if($this->helper('Acty\Puhh\Helper\Data')->DisplayDiscountLabel($_item)): ?>
                                        <div class="discount-percentage">
                                            <?php echo $this->helper('Acty\Puhh\Helper\Data')->DisplayDiscountLabel($_item); ?>
                                        </div>
                                    <?php endif; ?>
                                    <!-- NEW LABEL -->
                                    <?php if($this->helper('Acty\Puhh\Helper\Data')->isProductNew($_item)): ?>
                                        <div class="new-label">
                                            <?php echo __('New') ?>!
                                        </div>
                                    <?php endif; ?>
                                </div>

                                <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                    <?= $block->getImage($_item, $image)->toHtml() ?>
                                </a>
                                <div class="product-item-details">
                                    <strong class="product-item-name">
                                        <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                           href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                           class="product-item-link">
                                            <?= $block->escapeHtml($_item->getName()) ?>
                                        </a>
                                    </strong>

                                    <?php if ($templateType): ?>
                                        <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                    <?php endif; ?>
                                    
                                    <?php 
                                        if ($PPVM) {
                                            $this->getChildBlock('coupon.promo.price.cat')->setData('product', $_item)->setData('view_model', $PPVM);
                                            echo $this->getChildHtml('coupon.promo.price.cat', false);
                                        }
                                    ?>

                                    <?php
                                    echo $block->getProductPriceHtml($_item, $type);
                                    ?>

                                    <?php 
                                        if ($IMP && $this->helper('Acty\Puhh\Helper\Data')->DisplayDiscountLabel($_item) && ($_item->getPriceInfo()->getPrice('final_price')->getAmount()->getValue() < $_item->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue())) {
                                            $this->getChildBlock("interval.price")->setData("interval_price", $IMP->getIntervalPriceData($_item->getSku(),  $_item->getPriceInfo()->getPrice('final_price')->getAmount()->getValue()));
                                            
                                            echo $this->getChildHtml('interval.price', false);
                                        }
                                    ?>

                                    <?php if ($min30dPrice = $_item->getdata('manual_30p_soodsaim_hind')): ?>
                                        <span class="min-interval-price">
                                            <span>
                                                <?= __('Last 30 day min price'); ?>: <?= $min30dPrice;  ?>
                                            </span>
                                        </span>
                                    <?php endif;?>

                                    <?php if ($showWishlist || $showCompare || $showCart): ?>
                                        <div class="product-item-actions">
                                            <?php if ($showCart): ?>
                                                <div class="actions-primary">
                                                    <?php if ($_item->isSaleable()): ?>
                                                        <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                            <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                            </button>
                                                        <?php else: ?>
                                                            <?php
                                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);

                                                                $instancpurchaseData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId(), 'instantpurchase' => '1'])
                                                            ?>

                                                            <button class="action tocart primary" data-post='<?= /* @noEscape */ $instancpurchaseData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Instant purchase')) ?>">
                                                                <span><?= $block->escapeHtml(__('Instant purchase')) ?></span>
                                                            </button>

                                                            <button class="action tocart primary with-icon" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                            </button>
                                                        <?php endif; ?>
                                                    <?php else: ?>
                                                        <?php if ($_item->getIsSalable()): ?>
                                                            <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                        <?php else: ?>
                                                            <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </a>
                        </div>
                        <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
