<?php

?>

<div class="footer-main">
    <div class="logo-wrapper">
        <a href="<?php echo $this->getUrl('/'); ?>"><img class="footer-logo" src="<?php echo $this->getViewFileUrl('images/logo/ToysOutlet_logo_kollane.png'); ?>" alt=""></a>
    </div>
    <div class="icons-box">
        <a style="max-width:40px;" target="_blank" href="https://www.facebook.com/Toys-Outlet-LV-100807778681828/"><img class="link-image" src="<?php echo $this->getViewFileUrl('images/icons/flogo_RGB_HEX-72.svg'); ?>" alt="facebook"></a>
        
        <a target="_blank" href="https://www.instagram.com/toysoutlet.lv/"><img class="link-image" src="<?php echo $this->getViewFileUrl('images/icons/Instagram_logo_2016.svg'); ?>" alt="instagram"></a>
        <a href="https://www.salidzini.lv/" target="_blank">
            <img border="0" alt="Salidzini.lv logotips" title="Interneta veikali. Labākā cena" src="https://static.salidzini.lv/images/logo_button.gif"/>
        </a>

        <a href="https://www.kurpirkt.lv" title="Interneta veikalu cenas - Kurpirkt.lv">
            <img style="Border:none;" alt="Interneta veikalu cenas - Kurpirkt.lv"
            src="//www.kurpirkt.lv/media/kurpirkt120.gif" width=120 height=40>
        </a>
    </div>
    
    <div class="footer-columns">
        <?php
        echo $this->getLayout()
        ->createBlock('Magento\Cms\Block\Block')
        ->setBlockId('footer-links')
        ->toHtml();
        ?>
        <div class="last column">
            <div class="col-inner">
                <p><strong><?= /* @escapeNotVerified */ __('SHOPPING HELP') ?></strong> <?= /* @escapeNotVerified */ __('M-F') ?> 09:00-17:00</p>
                <p><strong>Toys Outlet</strong></p>
                <?= __("<a href='mailto:info@toysoutlet.lv' class='bottom-email'>info@toysoutlet.lv</a>") ?>
                <?php
                    $telNr = $block->getPhoneNumber();
                ?>
                <?php echo "<a href='tel:" . $telNr .  "' class='bottom-phone'>" . $telNr . "</a>" ?>
                <a href="tel: +372 56 261 262" class="bottom-phone">+372 56 261 262</a>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer-bottom-inner">
        <div class="footer-delivery">
            <p class="methods-title"><?= /* @escapeNotVerified */ __('Delivery options') ?></p>
            <div class="method-logos">
                <img class="bottom-logo" src="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/DPD_logo_redgrad_w.png'); ?>" alt="">
                <img class="bottom-logo" src="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/Omniva_logo_w.png'); ?>" alt="">
            </div>
        </div>
        <div class="footer-payment">
            <p class="methods-title"><?= /* @escapeNotVerified */ __('Payment Methods') ?></p>
            <div class="method-logos">
                <img class="bottom-logo" src="<?php echo $this->getViewFileUrl('images/icons/bank_logos/Swedbank_Ref-1.png'); ?>" alt="">
                <img class="bottom-logo" src="<?php echo $this->getViewFileUrl('images/icons/bank_logos/2000px-SEB_logo.svg.png'); ?>" alt="">
                <img class="bottom-logo" src="<?php echo $this->getViewFileUrl('images/icons/bank_logos/citadele_white.png'); ?>" alt="">
                <img class="bottom-logo" src="<?php echo $this->getViewFileUrl('images/icons/bank_logos/dnb_white.png'); ?>" alt="">
            </div>
        </div>
    </div>
</div>
