
.makecommerceLink {
    border:2px solid rgba(255, 85, 1,0);
}
.makecommerceLink:hover {
    opacity: 0.8;
    cursor: pointer;
}
.makecommerceLink.activeLink {
    border:2px solid rgba(255, 85, 1,0.9);
/*    border: #0EAE02 dashed 2px;*/
    box-shadow:0px 6px 8px 0px rgba(60, 60, 60,0.9);
}

.makecommerceLink.disabled{
    display: none;
}
.makecommerceOverlay {
    display: inline-block;
}
.makecommerceOverlay.disabled{
    width: 176px;
    height: 62px;
    display: inline-block;
    background: linear-gradient(rgba(255,0,0,0.5), rgba(255, 0, 0, 0.3));
}
.makecommerceOverlay.disabled:after {
    content: "Unavailable";
    position:absolute;
    width: 176px;
    height: 62px;
    text-align: center;
    font-size: 150%;
}
.countryImageDiv{
    position:relative;
    overflow:hidden;
    height:24px;
    width:32px;
    border:1px solid rgba(255,255,255,0);
    display:inline-block;
}

.countryImage {
    height: 22px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    background-position: center;
    position: relative;
    margin-bottom: 5px;

    
    
}
.countryImage:hover {

}
.countryImage.activeCountry {
    border:2px solid rgba(255,85,1,1);

/*    border: #0EAE02 dashed 2px;*/
    box-shadow:0px 3px 6px 1px #555;
}
.makecommerce-title {
    cursor: pointer;
}
.makecommerce-title.logo-inline {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}
.makecommerce-logo {
    cursor: pointer;
    display:block;
}
.payment-method-makecommerce-links {
    width: 102%;
    float: left;
}
.payment-method-makecommerce-links span {
    width: 33%;
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.checkout-agreements-block {
    float: left;
    width: 100%;
    margin: 5px 0;
}

.payment-method-makecommerce-links span img {
    width: 100%;
}
@media(min-width: 1440px){
    .payment-method-makecommerce-links {
        padding: 0;
    }
}
.payment-method .payment-method-title label {
    display: inline-block;
}

.payment-method-makecommerce-links.small span{
    width: 25%;
}
.payment-method-makecommerce-links.medium span{
    width: 33.333%;
}
.payment-method-makecommerce-links.large span{
    width: 50%;
}
@media(max-width: 500px){
    .payment-method-makecommerce-links span{
        width: 50% !important;
    }
}
@media(min-width: 768px) and (max-width: 820px){
    .payment-method-makecommerce-links span{
        min-width: 50% !important;
    }
}