& when (@media-common = true) {

    .page-wrapper {
        &:has(.moving-banner) {
            padding-bottom:60px;
        }
    }
    .moving-banner {
        position: fixed;
        bottom:0;
        left:0;
        height: 60px;
        width:100%;
        background-color: #ccc;
        z-index:10;
        overflow: hidden;
        display: none;
        white-space: nowrap;
        .content {
            animation: marquee 5s linear infinite;
            > a {
                display: inline-block;
            }
        }
    }
    span.close {
        width:14px;
        height:14px;
        display: block;
        position: absolute;
        left:6px;
        top:6px;
        z-index:11;
        cursor:pointer;
        &:before {
            display: inline-block;
            font-size: 14px;
            content: "\e616";
            color: #000;
            font-family: luma-icons;
            font-weight: 600;
        }
    }

    @keyframes marquee {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(-50%, 0, 0);
        }
    }
}