<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="newsletter-wrapper">
    <div class="block newsletter">
        <img class="newsletter-image lazy" data-original="<?php echo $this->getViewFileUrl('images/logo/karu-post.svg'); ?>" alt="">
        <div class="newsletter-content">
            <div class="title"><?= __('Subscribe to Karupoeg<br>Puhh newsletter!') ?></div>
            <div class="content">
                <form class="form subscribe"
                    novalidate
                    action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                    method="post"
                    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                    id="newsletter-validate-detail">
                    <div class="field newsletter">
                        <label class="label" for="newsletter"><span><?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?></span></label>
                        <div class="control">
                            <input name="email" type="email" id="newsletter"
                                        placeholder="<?= $block->escapeHtmlAttr(__('E-mail address')) ?>..."
                                        data-validate="{required:true, 'validate-email':true}"/>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Send')) ?>" type="submit">
                            <!-- <span><?= $block->escapeHtml(__('Send')) ?></span> -->
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

