// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-onepage-success {
        .checkout-success {
            p {
                text-align: center;
                font-size: 20px;
                &.green-text {
                    margin-top: 150px;
                    margin-bottom: 25px;
                    color: @puhh-green;
                    span.large {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .purchase-index-index {
        .page-header {
            .header.content {
                .logo {
                    position: static;
                    transform: none;
                    max-width: 200px;
                    width: 60%;
                    padding-left: 10px;
                    img {
                        display: block;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
    .minicart-items .product-item-details .price-including-tax {
        display: inline;
    }
    .purchase-index-index,
    .checkout-onepage-success {
        .page-wrapper {
            .maincontent-wrap {
                &:after {
                    background: @color-white;
                }
            }
            &:after {
                background: @color-white;
            }
        }
        .page-footer {
            margin-top: 75px;
            .footer-main {
                &:before {
                    background: url("@{baseDir}images/pilved/footer_2.svg")
                        no-repeat;
                    background-position-x: -5px;
                    background-size: 102%;
                    z-index: 0;
                }
            }
        }
    }

    // CUSTOM CHECKOUT
    #acty-checkout {
        margin: 0 -20px;
        .container {
            .flex-wrap(wrap);
        }
        .empty-cart {
            padding: 0 20px;
        }
        .acty-checkout-customer,
        .acty-checkout-cart,
        .acty-checkout-payment,
        .acty-checkout-shipping {
            margin: 30px 0;
        }
        // TOTALS
        .acty-checkout-totals {
            border: 1px solid #f7f7f7;
            .box-shadow(0 0 7px 0 #ececec);
            box-sizing: border-box;
            padding: 27px 0 0;
            border-radius: 10px;
            .totals-title {
                margin: 0 0 30px;
                padding: 0 84px 0 55px;
                font-size: 21px;
                font-weight: 400;
                text-transform: none;
            }
            .total,
            .discount-total,
            .delivery,
            .cat-discount,
            .total-regular-price {
                margin: 0 0 10px;
                padding: 0 84px 0 55px;
                font-size: 15px;
                font-weight: 400;
                word-wrap: break-word;
                word-break: break-word;
                .flex-display(flex);
                .justify-content(space-between);
                font-family: "Montserrat-Regular";
                span.amount {
                    word-break: keep-all;
                    margin-left: 10px;
                }
            }
            .shipping-warning {
                margin-top:10px;
                font-weight:bold;
                padding: 0 84px 10px 55px;
                font-family: "PatrickHandSC-Regular";
            }
            
            .grand-total {
                padding: 20px 84px 20px 55px;
                margin: 24px 0 0;
                background: @puhh-blue;
                border-radius: 0 0 10px 10px;
                border-top: 2px dashed @puhh-gray;
                color: @color-white;
                font-family: "PatrickHandSC-Regular";
                font-size: 30px;
                font-weight: normal;
                word-wrap: break-word;
                word-break: break-word;
                .flex-display(flex);
                .justify-content(space-between);
                span.amount {
                    word-break: keep-all;
                    margin-left: 10px;
                }
            }
        }
        .badge-container {
            margin: 45px 28px 0;
            .badge-box {
                padding-left: 57px;
                margin-bottom: 25px;
                position: relative;
                h5 {
                    margin: 0 0 2px;
                    font-size: 14px;
                    font-family: "Montserrat-Regular";
                }
                p {
                    font-family: "Montserrat-Regular";
                }
                &:before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    .transform(translate(0, -50%));
                    display: block;
                    height: 40px;
                    width: 40px;
                    content: "";
                }
                &.teenindus {
                    &:before {
                        background: url("@{baseDir}images/badges/badge-thumb.png")
                            no-repeat center center;
                        background-size: 40px;
                    }
                }
                &.transport {
                    &:before {
                        background: url("@{baseDir}images/badges/badge-truck.png")
                            no-repeat center center;
                        background-size: 40px;
                    }
                }
                &.tagastus {
                    &:before {
                        background: url("@{baseDir}images/badges/badge-return.png")
                            no-repeat center center;
                        background-size: 40px;
                    }
                }
                &.turvalisus {
                    &[data-lang="eng-turvalisus"] {
                        &:before {
                            background: url("@{baseDir}images/badges/turvaline_ostukoht_eng_must.png")
                                no-repeat center center;
                            background-size: 50px;
                            height: 50px;
                            width: 50px;
                        }
                    }
                    &[data-lang="est-turvalisus"] {
                        &:before {
                            background: url("@{baseDir}images/badges/turvaline_ostukoht_must.png")
                                no-repeat center center;
                            background-size: 50px;
                            height: 50px;
                            width: 50px;
                        }
                    }
                    &[data-lang="rus-turvalisus"] {
                        &:before {
                            background: url("@{baseDir}images/badges/turvaline_ostukoht_rus.png")
                                no-repeat center center;
                            background-size: 50px;
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
        }
        .col-left {
            padding: 0 20px;
            width: calc(~"7/12 * 100%");
            box-sizing: border-box;
            .dotted-header {
                margin: 50px 0 40px;
                font-size: 20px;
                &.has-error {
                    color: @puhh-red;
                    span:before,
                    span:after {
                        border-color: @puhh-red;
                    }
                }
            }
            .max-500 {
                max-width: 500px;
                margin: auto;
            }
            .max-600 {
                max-width: 600px;
                margin: auto;
            }
            .field-error {
                margin: 0 0 20px;
                color: @puhh-red;
            }
            .right-totals {
                display: none;
            }
            // SUBMIT
            .acty-checkout-submit {
                margin-top: 40px;
                .input-container {
                    text-align: center;
                    .checkbox-wrap {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .button.action {
                    display: block;
                    margin: 50px auto 0;
                    padding: 20px 60px;
                    font-size: 20px;
                }
                .field-error {
                    margin: 20px 0;
                    text-align: center;
                }
            }
            // PAYMENT
            .acty-checkout-payment {
                .method-box {
                    .flex-display(flex);
                    .flex-wrap(wrap);

                    .payment-method {
                        width: calc(~"20% - 10px");
                        margin: 10px 5px;
                        label {
                            img {
                                width: 100%;
                            }
                        }
                        input[type="radio"] {
                            display: none;
                            &:checked ~ label {
                                img {
                                    border: 4px solid @puhh-yellow;
                                    border-radius: 5px;
                                    margin: -4px;
                                }
                            }
                        }
                    }
                }
                .field-error {
                    text-align: center;
                }
            }
            // COUPON
            .acty-checkout-coupon {
                .transform(translate(0, -49px));
                margin-bottom: -49px;
                .field-error {
                    margin: 20px 0;
                }
                .coupon-action {
                    display: block;
                    max-width: 50%;
                }
                .coupon-toggle {
                    display: block;
                    max-width: 50%;
                    & ~ .coupon-fieldset {
                        display: none;
                        .control {
                            .input {
                                .flex-display(flex);
                                .justify-content(flex-end);
                            }
                        }
                    }
                    &.active ~ .coupon-fieldset {
                        display: block;
                    }
                }
            }
            // CUSTOMER, SHIPPING, COUPON FIELDS
            .acty-checkout-customer,
            .acty-checkout-shipping,
            .acty-checkout-coupon {
                .field {
                    .flex-display(flex);
                    .justify-content(space-between);
                    margin-bottom: 30px;
                    &.country-field {
                        display: none;
                    }
                    &.has-error {
                        .control {
                            .field-error {
                                text-align: center;
                                span#email-taken-button {
                                    text-decoration: underline;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                            .input {
                                label.label {
                                    color: @puhh-red;
                                }
                                input.input-text {
                                    border-color: @puhh-red;
                                }
                            }
                        }
                    }
                    .control {
                        width: 100%;
                        .input {
                            label.label {
                                margin-top: 12px;
                                width: 30%;
                                display: inline-block;
                                text-align: right;
                                padding-right: 10px;
                                box-sizing: border-box;
                                vertical-align: top;
                            }
                            .coupon-action {
                                margin-top: 10px;
                                width: 20%;
                                display: inline-block;
                                text-align: left;
                                padding-left: 10px;
                                box-sizing: border-box;
                            }
                            input.input-text,
                            textarea.input-text {
                                width: 70%;
                                border-radius: 13px;
                            }
                        }

                        .info-text {
                            padding-left: 30%;
                            font-size: 14px;
                            color: @puhh-dark-gray;
                            margin-top: 13px;
                        }
                    }
                    &.required {
                        label.label {
                            &:after {
                                content: "*";
                                color: @puhh-pink;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
            // DELIVERY
            .acty-checkout-shipping {
                .field-error {
                    text-align: center;
                }
                .shipping-container {
                    .flex-display(flex);
                    .justify-content(center);
                    .flex-wrap(wrap);
                    position: relative;
                    .carrier-fieldset {
                        width: 100%;
                        .field.required {
                            max-width: 500px;
                            margin: 0 auto 30px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &:first-child {
                                margin-top: 30px;
                            }
                        }
                    }
                    .method-container {
                        margin: 0 30px 10px;
                        input[type="radio"] {
                            display: none;
                            &:checked ~ label.shipping-method {
                                .shipping-price {
                                    border: 4px solid @puhh-yellow;
                                    border-radius: 5px;
                                    width: 118px;
                                    margin-top: -4px;
                                    // &#flatrate_label {
                                    //     background-position: center 8%;
                                    // }
                                    // &#estoniansmartpost_label {
                                    //     background-position: center 28%;
                                    // }
                                    // &#post24ee_label {
                                    //     background-position: center 10%;
                                    // }
                                    // &#actydpdcourier_label,
                                    // &#actydpdstore_label,
                                    // &#actydpdlocker_label {
                                    //     background-position: center 10%;
                                    // }
                                }
                            }
                        }
                        label.shipping-method {
                            text-align: center;
                            .shipping-price {
                                width: 126px;
                                margin-bottom: 0;
                                color: @puhh-label-blue;
                                padding-bottom: 5px;
                                cursor: pointer;
                                span {
                                    display: block;
                                }
                                &:before {
                                    display: inline-block;
                                    height: 60px;
                                    content: "";
                                    width: 100%;
                                }
                                &#actydelivery_label,
                                &#flatrate_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/puhh.svg")
                                        no-repeat center 7%;
                                    background-size: 60px;
                                }
                                &#tablerate_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/tablerate_logo.png")
                                        no-repeat top;
                                    background-size: 80px;
                                }
                                &#estoniansmartpost_label,
                                &#smartpostestonia_label,
                                &#smartpostfinland_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/SmartPosti.png")
                                        no-repeat center 26%;
                                    background-size: 85px;
                                }
                                &#venipak_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/VENIPAK-SD-logo.png")
                                        no-repeat center 20%;
                                    background-size: 80px;
                                }
                                &#post24ee_label,
                                &#omnivacourier_label,
                                &#post24lv_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/Omniva_logo.png")
                                        no-repeat center 8%;
                                    background-size: 60px;
                                }
                                &#actydpdcourier_label,
                                &#actydpdstore_label,
                                &#actydpdlocker_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/dpd.png")
                                        no-repeat center 8%;
                                    background-size: 60px;
                                }
                            }
                        }
                    }
                    .select-container {
                        width: 100%;
                        margin: auto;
                        display: block;
                        select {
                            border-radius: 30px;
                            width: auto;
                            padding: 11px 40px 9px 15px;
                            height: 42px;
                            width: 100%;
                            margin: 0 auto;
                            border: 1px solid @puhh-gray;
                            color: @puhh-blue;
                            font-weight: 400;
                            background: url("@{baseDir}images/icons/arrowDown.png")
                                no-repeat center center;
                            background-position-x: ~"calc(100% - 15px)";
                            background-size: 15px;
                            appearance: none;
                            -moz-appearance: none; /* Firefox */
                            -webkit-appearance: none; /* Safari and Chrome */
                            margin-top: 30px;
                            display: block;
                            max-width: 500px;

                            option {
                                padding: 15px;
                            }
                        }
                    }
                }
            }
            // CART
            .acty-checkout-cart {
                .cart-item {
                    border-bottom: 4px dotted @puhh-gray;
                    margin-bottom: 15px;
                    .image {
                        border: 1px solid @puhh-gray;
                        padding: 5px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        margin-bottom: 5px;
                        min-width: 106px;
                        max-width: 106px;
                        height: 106px;
                        img {
                            border-radius: 5px;
                        }
                    }
                    .item {
                        &-name {
                            font-size: 18px;
                            font-family: "Montserrat-Medium";
                            font-weight: 400;
                            a {
                                color: @puhh-dark-blue;
                                &:hover {
                                    color: @puhh-dark-blue;
                                }
                            }
                        }
                        &-info {
                            .flex-display(flex);
                            .justify-content(space-between);
                            .flex-direction(row);
                            width: 100%;
                            position: relative;
                            padding: 10px;
                            text-align: left;
                            .price-container {
                                font-size: 18px;
                                font-family: "Montserrat-Medium";
                                min-width: 25%;
                                .special-price {
                                    color:@puhh-pink;
                                }
                            }
                            .details-container {
                                max-width: 75%;
                                .flex-display(flex);
                                .flex-direction(column);
                                .justify-content(space-between);
                                padding-right: 5px;
                                .details-lower {
                                    .flex-display(flex);
                                    .align-items(center);
                                    .item-options {
                                        margin-right: 5%;
                                        p {
                                            color: @puhh-dark-gray;
                                            margin: 0;
                                        }
                                    }
                                    .item-qty {
                                        .flex-display(flex);
                                        .align-items(center);
                                        margin-right: 5%;
                                        select {
                                            border-radius: 30px;
                                            width: auto;
                                            padding: 11px 100px 9px 15px;
                                            height: 42px;
                                            border: 1px solid @puhh-gray;
                                            color: @puhh-blue;
                                            font-weight: 400;
                                            background: url("@{baseDir}images/icons/arrowDown.png")
                                                no-repeat center center;
                                            background-position-x: ~"calc(100% - 15px)";
                                            background-size: 15px;
                                            appearance: none;
                                            -moz-appearance: none; /* Firefox */
                                            -webkit-appearance: none; /* Safari and Chrome */
                                            option {
                                                padding: 15px;
                                            }
                                        }
                                        .qty-label {
                                            font-size: 14px;
                                            color: @puhh-dark-gray;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                                .backorder-notif {
                                    margin-top:10px;
                                }
                            }
                            
                            .action.delete {
                                position: absolute;
                                top: 0;
                                right: 10px;
                                width: 14px;
                                height: 18px;
                                &:hover {
                                    color: @puhh-dark-gray;
                                }
                                &:before {
                                    display: inline-block;
                                    font-size: 14px;
                                    content: "\e616";
                                    color: #999;
                                    font-family: luma-icons;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                .totals {
                    max-width: 50%;
                    margin-left: 50%;
                    max-height: 22px;
                    overflow: visible;
                    h3 {
                        text-align: right;
                        font-weight: 400;
                        padding-right: 10px;
                    }
                }
            }
            .acty-checkout-crosssell {
                .items-box {
                    .flex-display(flex);
                    .justify-content(center);
                    .align-items(flex-start);
                    width: 100%;
                    .product-item-info {
                        max-width: calc(~"33.33% - 6.66px");
                        margin: 5px;
                        border-radius: 0 0 10px 10px;
                        position: relative;
                        .box-shadow(0 0 7px 0 @puhh-gray);
                        .product-item-photo {
                            padding: 10px;
                            box-sizing: border-box;
                        }
                        .product-item-details {
                            position: relative;
                            .product-item-name {
                                font-weight: 400;
                                font-size: 17px;
                                word-break: break-word;
                            }
                            .normal-price {
                                font-size: 15px;
                                font-weight: 600;
                                margin-bottom: 0;
                            }
                            .regular-price {
                                font-size: 14px;
                                text-decoration: none;
                            }
                            .actions.primary {
                                display: none;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                .transform(translate(-50%, -100%));
                                .action.primary {
                                    font-size: 1.5rem;
                                    padding: 10px;
                                    line-height: 1;
                                    white-space: nowrap;
                                    a {
                                        color: @color-white;
                                        &:before {
                                            content: "";
                                            height: 16px;
                                            width: 18px;
                                            background: url(../images/icons/cart_white.svg)
                                                no-repeat center center;
                                            background-size: 18px;
                                            display: inline-block;
                                            vertical-align: bottom;
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            .product-item-details {
                                .actions.primary {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .col-right {
            padding: 0 20px;
            width: calc(~"5/12 * 100%");
            box-sizing: border-box;
            .acty-checkout-cart {
                margin-bottom: 0;
            }
            .right-totals {
                display: block;
            }
            .left-totals {
                display: none;
            }
        }
    }

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @sidebar__background-color);
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;

                &.note {
                    display: none;
                }
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);

        .action {
            &.multicheckout {
                color: @color-blue2;
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__base solid
                            @border-color__base;
                        padding-bottom: 15px;
                        padding-top: 24px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @border-color__base;
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: @cart-item-cell-padding-top 11px @indent__s;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__base 11px @indent__s;
                    text-align: center;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 36px;
                        margin-top: -7px;
                        text-align: center;
                        width: 45px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    display: block;
                    min-height: 75px;
                    padding: 15px @mobile-cart-padding @indent__s 90px;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;

                > .action-edit,
                > .action-delete {
                    position: absolute;
                    right: 16px;
                    top: 0;
                    .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                    );
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                }

                &-item-name {
                    .lib-font-size(18);
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ":";
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__xs) {
    #acty-checkout {
        // PAYMENT
        .acty-checkout-payment {
            .method-box {
                .payment-method {
                    width: calc(~"33.33% - 10px") !important;
                }
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            .actions.main {
                text-align: center;
            }
        }
    }

    .checkout-onepage-success {
        .checkout-success {
            p {
                &.green-text {
                    margin-top: 30px;
                }
            }
        }
    }

    #acty-checkout {
        .col-left,
        .col-right {
            width: 100%;
            .badge-container {
                display: none;
            }
            // TOTALS
            .acty-checkout-totals {
                .totals-title {
                    padding: 0 20px;
                }
                .total,
                .discount-total,
                .delivery {
                    padding: 0 20px;
                }
                .grand-total {
                    padding: 20px;
                }
            }
            // COUPON
            .acty-checkout-coupon {
                .coupon-action {
                    margin-top: 20px !important;
                }
            }
            // CUSTOMER, SHIPPING, COUPON FIELDS
            .acty-checkout-customer,
            .acty-checkout-shipping,
            .acty-checkout-coupon {
                .field {
                    .flex-direction(column);
                    &.has-error {
                        .control {
                            .field-error {
                                padding-left: 0;
                            }
                        }
                    }
                    .control {
                        margin-top: 5px;
                        .input {
                            label.label {
                                text-align: left;
                                margin-top: 0;
                                width: 100%;
                            }
                            textarea.input-text,
                            input.input-text {
                                margin-top: 10px;
                                width: 100%;
                            }
                        }
                        .info-text {
                            padding-left: 0;
                        }
                    }
                }
            }
            // CUSTOM DELIVERY
            .acty-checkout-shipping {
                .shipping-container {
                    .flex-display(flex);
                    .justify-content(center);
                    .method-container {
                        margin: 0 10px 10px;
                        input[type="radio"] {
                            display: none;
                            &:checked ~ label.shipping-method {
                                .shipping-price {
                                    border: 4px solid @puhh-yellow;
                                    border-radius: 5px;
                                    margin-top: -4px;
                                    &:before {
                                        background-position-y: -4px !important;
                                    }
                                }
                            }
                        }
                        label.shipping-method {
                            .shipping-price {
                                &:before {
                                    height: 40px;
                                }

                                &#actydpdcourier_label,
                                &#actydpdstore_label,
                                &#actydpdlocker_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/dpd.png")
                                        no-repeat center 8%;
                                    background-size: 50px;
                                }

                                &#actydelivery_label,
                                &#flatrate_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/puhh.svg")
                                        no-repeat center 7%;
                                    background-size: 40px;
                                }

                                &#tablerate_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/tablerate_logo.png")
                                        no-repeat top;
                                    background-size: 80px;
                                }

                                &#estoniansmartpost_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/SmartPosti.png")
                                        no-repeat center 25%;
                                    background-size: 70px;
                                }

                                &#venipak_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/VENIPAK-SD-logo.png")
                                        no-repeat center 15%;
                                    background-size: 60px;
                                }

                                &#post24ee_label,
                                &#omnivacourier_label,
                                &#post24lv_label {
                                    background: url("@{baseDir}images/icons/delivery_logos/Omniva_logo.png")
                                        no-repeat center 8%;
                                    background-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
            // CART
            .acty-checkout-cart {
                .cart-item {
                    .item {
                        &-info {
                            width: calc(~"100% - 126px");
                            .flex-direction(column);
                            .details-container {
                                .details-lower {
                                    .item-options {
                                        margin-left: 0;
                                        position: absolute;
                                        left: 10px;
                                        bottom: 10px;
                                    }
                                    .item-qty {
                                        select {
                                            padding: 11px 9vw 9px 15px;
                                        }
                                    }
                                }
                            }

                            .price-container {
                                width: 100%;
                                text-align: right;
                                margin-top: 5px;
                                .item-price {
                                    margin-bottom: 0;
                                }
                            }
                            .details-container {
                                max-width: 90%;
                            }
                        }
                    }
                }
            }
            // CROSSELL
            .acty-checkout-crosssell {
                .items-box {
                    .flex-direction(column);
                    .justify-content(space-between);
                    .align-items(flex-start);
                    width: 100%;
                    .product-item-info {
                        .flex-display(flex);
                        max-width: 100%;
                        width: 100%;
                        margin: 5px 0;
                        border-radius: 10px;
                        margin-bottom: 10px;
                        .product-item-photo {
                            padding: 15px;
                            img {
                                max-width: 100px;
                            }
                        }
                        .product-item-details {
                            text-align: left;
                            padding-bottom: 30px;
                            width: 100%;
                            .actions.primary {
                                display: block;
                                bottom: 10px;
                                right: 10px;
                                top: auto;
                                left: auto;
                                .transform(none);
                                .action.primary {
                                    background: transparent;
                                    margin: 0;
                                    border: none;
                                    color: @puhh-blue;
                                    padding: 7px 0;
                                    a {
                                        color: @puhh-blue;
                                        font-weight: 600;
                                        &:before {
                                            content: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .col-left {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
            .dotted-header {
                font-size: 25px;
            }
        }
    }

    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    width: 33%;

                    &:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__semibold;
                        padding-bottom: 10px;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            margin-top: 70px;

            .product-item-info {
                width: 200px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__m) {
    .purchase-index-index {
        .page-header {
            .header.content {
                .logo {
                    max-width: 38%;
                }
            }
        }
    }
    .purchase-index-index,
    .checkout-onepage-success {
        .page-footer {
            margin-top: 145px;
            .footer-main {
                &:before {
                    background: url("@{baseDir}images/pilved/footer_2.svg")
                        no-repeat;
                    background-position: -5px 0;
                    background-size: 100%;
                }
            }
        }
    }
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            .actions.main {
                text-align: right;
            }
        }

        .widget {
            float: left;
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 1px @indent__base @indent__m;
        position: relative;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items {
                // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    padding-bottom: 35px;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}
