<?php $_locationName = $block->getLocation() ?>
<?php
if ($_locationName) {
    ?>
    <div id="mc-location-name">
        <strong><?= __('Location') ?></strong>
        <span class="price"><?= $_locationName ?></span></div>
    <script type="text/javascript">
        require(
            ['jquery'],
            function($) {
                var element = $('#mc-location-name').detach();
                $('.order-shipping-method').append(element);
            }
        );
    </script>
    <?php
}
?>