<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()):?>
        <p class="green-text">
            <span class="large">
                <?php echo __('Your order was successful, thank you for your purchase!'); ?>
            </span>
            <br>
        </p>
        <p>
            <?php echo __('Detailed information will be sent to your e-mail.'); ?>
            <br>
            <?php echo __('You are always welcome back to our store!'); ?>
        </p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <!-- <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
        </div>
    </div> -->
</div>

<script>
require([
    'Magento_Customer/js/customer-data'
], function (customerData) {
    var sections = ['cart'];
    customerData.invalidate(sections);
    customerData.reload(sections, true);
});
</script>
