<?php

$content = $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('moving_banner')
->toHtml();

?>

<?php if ($content): ?>

    <div class="moving-banner">
        <span class="close"></span>
        <div class="content">
            <?= $content; ?>
        </div>
    </div>

    <script type="text/x-magento-init">
        {
            "*": {
                "movingBanner": {}
            }
        }
    </script>

<?php endif; ?>