[v-cloak] { display: none; }

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    #acty-checkout {
        p.has-error {
            color: red;
        }

        p.regular-price {
            text-decoration: line-through;
        }

        // COLUMNS
        .container {
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox; // IE10 uses -ms-flexbox
            display: -ms-flex; // IE11


            .wrap {
                flex-flow: row wrap;
                -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
                -ms-justify-content: flex-start;
            }
        }

        .acty-checkout {
            &-customer,
            &-cart,
            &-payment,
            &-shipping {
                margin: 22px 0;
            }

            // ACTY CUSTOMER
            &-customer {
                .fieldset {
                    margin-bottom: 22px;
                    .control {
                        .field-error {
                            position: absolute;
                            margin-top: 5px;
                        }
                    }
                }
            }

            // ACTY SUBMIT
            &-payment {
                button.continue {
                    margin-top: 22px;
                }
            }

            // ACTY CART
            &-cart {
                .item-container {
                    display: flex;
                    display: -webkit-flex;
                    display: -ms-flexbox; // IE10 uses -ms-flexbox
                    display: -ms-flex; // IE11
                    .item {
                        &-name {
                            margin-bottom: @indent__xs;
                        }
                    }
                    .image {
                        img {
                            display: block;
                            margin: 0 auto @indent__s;
                        }
                    }
                }
            }

            // ACTY SHIPPING
            &-shipping {
                .table-checkout-shipping-method {
                    width: 100%;
                }
            }

            // ACTY PAYMENT
            &-payment {
                .container.wrap {
                    div {
                        box-sizing: border-box;
                        display: flex;
                        display: -webkit-flex;
                        display: -ms-flexbox; // IE10 uses -ms-flexbox
                        display: -ms-flex; // IE11
                        margin-bottom: 1em;
                        align-items: center;
                        -webkit-align-items: center;
                        -ms-align-items: center;
                        -webkit-justify-content: space-between;
                        -ms-justify-content: space-between;
                        justify-content: space-between;
                        input[type="radio"] {
                            margin: 0 0.5em 0 0;
                        }
                        label {
                            display: inline-block;
                            margin: auto;
                            img {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #acty-checkout {
        // COLUMNS
        .container {
            flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
        }

        .acty-checkout {
            // ACTY PAYMENT
            &-payment {
                .container.wrap {
                    div {
                        width: 50%;
                        &:nth-child(even) {
                            padding-left: 0.5em;
                        }
                        &:nth-child(odd) {
                            padding-right: 0.5em;
                        }
                    }
                }
            }
            // ACTY CART
            &-cart {
                .item-container {
                    display: flex;
                    display: -webkit-flex;
                    display: -ms-flexbox; // IE10 uses -ms-flexbox
                    display: -ms-flex; // IE11
                    .item {
                        &-info {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #acty-checkout {
        // COLUMNS
        .container {
            flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            .wrap {
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
                -ms-justify-content: flex-start;
            }
            .col {
                flex: 1;
            }
            .w-100px {
                min-width: 100px;
            }

            .pr-1 {
                padding-right: 1em;
            }

            .pr-2 {
                padding-right: 2em;
            }

            .pr-3 {
                padding-right: 3em;
            }
        }

        .acty-checkout {
            // ACTY PAYMENT
            &-payment {
                .container.wrap {
                    div {
                        width: 33.33%;
                    }
                }
            }
            // ACTY CUSTOMER
            &-customer {
                .fieldset {
                    &.col-6 {
                        width: 50%;
                    }
                }
            }
        }
    }
}

//
//    Desktop Large
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    #acty-checkout {
        // ACTY PAYMENT
        .acty-checkout {
            &-payment {
                .container.wrap {
                    div {
                        width: 25%;
                    }
                }
            }
        }
    }
}
