<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var $block SwatchRenderer| \Amasty\Shopby\Block\Navigation\State */
use Amasty\Shopby\Block\Navigation\SwatchRenderer;
use \Amasty\Shopby\Model\Source\DisplayMode;
use Magento\Swatches\Model\Swatch;
?>
<?php
$swatchData = $block->getSwatchData();
$filterSetting = $block->getFilterSetting();
$filterCode = $filterSetting ? $block->escapeHtml($filterSetting->getFilterCode()) : '';
$extraClass = $filterSetting ? "am-filter-items-" . $filterCode : "";
$attributeCode = $block->escapeHtml($swatchData['attribute_code']);
$attributeFilter = $block->getFilter() ? $block->getFilter()->getRequestVar() : "";
$displayMode = $filterSetting ? $filterSetting->getDisplayMode() : false;
$displayMode = $displayMode ?: $block->getDisplayModeByAttributeCode($attributeCode);
$showImagesLabel = ($displayMode == DisplayMode::MODE_IMAGES_LABELS) ? true : false;
$relNofollow = $filterSetting ? $filterSetting->getRelNofollow() : false;
?>

<?php if ($filterSetting && $showImagesLabel && $filterSetting->isShowSearchBox(count($swatchData['options']))) : ?>
    <?= $block->getSearchForm(); ?>
<?php endif; ?>
    <form class="am-shopby-form" data-amshopby-filter="<?= /* @escapeNotVerified */ $attributeFilter ?>"
        <?php if ($filterSetting && $filterSetting->getEnableOverflowScroll() > 0) : ?>
            style="max-height:<?= $filterSetting->getEnableOverflowScroll() ?>px;
                overflow-y: auto;
                overflow-x: hidden;"
        <?php endif; ?>>
        <div class="<?= $extraClass;?> swatch-attribute swatch-layered <?= $attributeCode ?>
                <?= $showImagesLabel ? 'am-swatch-options': ''; ?>"
             attribute-code="<?= /* @escapeNotVerified */ $attributeCode ?>"
             attribute-id="<?= /* @escapeNotVerified */ $swatchData['attribute_id'] ?>"
             data-am-js="swatch-options">
            <?php foreach ($swatchData['options'] as $option => $label) : ?>
            <?php if ($block instanceof \Amasty\Shopby\Block\Navigation\State\Swatch) : ?>
                <span class="swatch-option-link-layered am-swatch-link">
            <?php else : ?>
                <a href="<?= /* @escapeNotVerified */
                $label['link'] ?>"
                    <?= $relNofollow ? ' rel="nofollow"' : '' ?>
                   data-label="<?= $label['label'] ?>"
                   class="swatch-option-link-layered am-swatch-link">
                    <?php endif; ?>
                    <?php
                    $selected = array_key_exists(SwatchRenderer::VAR_SELECTED, $label)
                        && $label[SwatchRenderer::VAR_SELECTED];
                    $extraSwatchClass = $selected ? 'selected' : '';
                    ?>
                    <?php if (isset($swatchData['swatches'][$option]['type'])) : ?>
                        <?php switch ($swatchData['swatches'][$option]['type']) :
                            case Swatch::SWATCH_TYPE_EMPTY:
                                $class = '';
                                $optionType = 3;
                                $swatchThumbPath = '';
                                $swatchTooltipValue = '';
                                $style = '';
                                $value = '';
                                break;
                            case Swatch::SWATCH_TYPE_VISUAL_IMAGE:
                                $class = 'image';
                                $optionType = 2;
                                $swatchTooltipValue = '';
                                $swatchThumbPath = $block->getSwatchPath('swatch_thumb',
                                    $swatchData['swatches'][$option]['value']
                                );
                                $swatchImagePath = $block->getSwatchPath('swatch_image',
                                    $swatchData['swatches'][$option]['value']
                                );
                                $style = "background: url(" . $swatchImagePath . ") no-repeat center; background-size: initial;";
                                $value = '';
                                break;
                            case SwatchRenderer::SWATCH_TYPE_OPTION_IMAGE:
                                $class = 'image';
                                $optionType = 2;
                                $swatchThumbPath = $swatchData['swatches'][$option]['value'];
                                $swatchTooltipValue = '';
                                $style = "background: url(" .
                                    $swatchData['swatches'][$option]['value']
                                    . ") no-repeat center; background-size: cover;";
                                $value = '';
                                break;
                            case Swatch::SWATCH_TYPE_VISUAL_COLOR:
                                $class = 'color';
                                $optionType = 1;
                                $swatchThumbPath = '';
                                $swatchTooltipValue = $swatchData['swatches'][$option]['value'];
                                $style = "background: " .
                                    $swatchData['swatches'][$option]['value'] . " no-repeat center;
                                         background-size: initial;";
                                $value = '';
                                break;
                            case Swatch::SWATCH_TYPE_TEXTUAL:
                            default:
                                $class = 'text';
                                $optionType = 0;
                                $swatchThumbPath = '';
                                $swatchTooltipValue = '';
                                $style = '';
                                $value = $swatchData['swatches'][$option]['value'];
                                break;
                        endswitch; ?>
                        <div class="<?= /* @escapeNotVerified */ $extraSwatchClass; ?> swatch-option
                                        <?= /* @escapeNotVerified */ $label['custom_style'] ?>
                                        <?= /* @escapeNotVerified */ $class; ?> "
                             data-am-js="swatch-item"
                             option-type="<?= /* @escapeNotVerified */ $optionType; ?>"
                             option-id="<?= /* @escapeNotVerified */ $option ?>"
                             option-label="<?= $block->escapeHtml($label['label']) ?>"
                             option-tooltip-thumb="<?= /* @escapeNotVerified */ $swatchThumbPath ?>"
                             option-tooltip-value="<?= /* @escapeNotVerified */ $swatchTooltipValue ?>"
                             style="<?= /* @escapeNotVerified */ $style ?>">
                            <?= /* @escapeNotVerified */ $value ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($showImagesLabel) : ?>
                        <div class="am-shopby-swatch-label">
                            <span class="label"><?= $label['label'] ?></span>
                            <?php if ($filterSetting && $filterSetting->isShowProductQuantities()) : ?>
                                <span class="count">
                                <?= $label[SwatchRenderer::VAR_COUNT]; ?>
                            </span>
                                <span class="filter-count-label">
                                <?php $title = ($label[SwatchRenderer::VAR_COUNT] == 1) ? __('item') : __('items');?>
                                <?= $block->escapeHtml($title) ?>
                            </span>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($filterSetting && $filterSetting->isMultiselect()):
                        $inputType = "checkbox";
                    elseif ($filterSetting && !in_array($filterCode, ['rating', 'stock'])):
                        $inputType = "radio";
                    endif;?>
                    <?php if (isset($inputType)) : ?>
                        <input  class="input -hidden"
                                name="amshopby[<?= /* @escapeNotVerified */ $block->getFilter()->getRequestVar(); ?>][]"
                                value="<?= $option; ?>"
                                type="<?= $inputType; ?>"
                            <?= $selected ? 'checked' : ''; ?>
                        />
                    <?php endif; ?>
                <?php if ($block instanceof \Amasty\Shopby\Block\Navigation\State\Swatch) : ?>
                    </span>
                <?php else : ?>
                    </a>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </form>
    <script>
        require(["jquery", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
            $('[data-am-js="swatch-item"]').SwatchRendererTooltip();
        });
    </script>
<?php if ($filterSetting) :?>
    <script type="text/x-magento-init">
{
    ".<?= $extraClass; ?>": {
        "amShopbyFilterSwatch": {
            "collectFilters": <?= /* @escapeNotVerified */ $block->collectFilters();?>
        }
    }
}
</script>
<?php endif; ?>
