<div id="acty-checkout" v-cloak>
    <template v-if="items > 0">
        <div class="container">
            <div class="col-left">
                <acty-checkout-cart></acty-checkout-cart>
                <acty-checkout-coupon></acty-checkout-coupon>
                <acty-checkout-crosssell></acty-checkout-crosssell>
                <acty-checkout-shipping></acty-checkout-shipping>
                <acty-checkout-customer></acty-checkout-customer>
                <acty-checkout-payment></acty-checkout-payment>

            </div>

            <div class="col-right">
                <div class="sticky-target">
                    <acty-checkout-cart></acty-checkout-cart>
                    <div class="badge-container">
                        <div class="badge-box teenindus">
                            <h5><?php echo __('Customer service'); ?></h5>
                            <p><?php echo __('Our helpful and friendly customer service is available and ready to help you Monday to Friday  9.00-17.30, our phone '); ?>
                            <?php
                                echo $this->getLayout()
                                ->createBlock('Acty\Puhh\Block\StorePhoneDisplay')
                                ->setTemplate('Magento_Theme::store_phone_display.phtml')
                                ->toHtml();
                            ?>.
                            </p>
                        </div>
                        <div class="badge-box transport">
                            <h5><?php echo __('Free delivery'); ?></h5>
                            <p><?php echo __('Free delivery from 29€ all over in Estonia.'); ?></p>
                        </div>
                        <div class="badge-box tagastus">
                            <h5><?php echo __('14 day returns'); ?></h5>
                            <p><?php echo __('Products purchased from our e-store can be returned with 14 days of the date of delivery notification. Products should be unused and original packaging.'); ?></p>
                        </div>
                        <div data-lang="<?php echo __('eng-turvalisus'); ?>" class="badge-box turvalisus">
                            <h5><?php echo __('Secure Shopping'); ?></h5>
                            <p><?php echo __('Karupoeg Puhh e-store is reliable and controlled by Estonian E-Commerce Association. We care about our clients and will do our best that the shopping in our e-store would be a pleasant and easy experience.'); ?></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-left">
                <acty-checkout-submit></acty-checkout-submit>
            </div>
        </div>
    </template>

    <p class="empty-cart" v-if="items === 0"><?php echo __('You have no items in your shopping cart.'); ?></p>
</div>

<script>
    window.actyCheckout = {
        countries: <?php echo $block->getCountries(); ?>,
        paymentMethods: <?php echo $block->getPaymentMethods(); ?>,
        translations: <?php echo $block->getTranslations(); ?>,
        isProduction: <?php echo $block->isProduction() ? 'true' : 'false'; ?>,
        options: <?php echo $block->getOptions(); ?>,
        policy: <?php echo $block->getPolicy(); ?>,
        locale: <?php echo $block->getLocale(); ?>
    }
</script>

<?php foreach($block->getComponents() as $template): ?>
    <script type="text/x-template" id="acty-checkout-<?php echo $template; ?>">
        <?php echo $block->getChildHtml('acty.checkout.'.$template); ?>
    </script>
<?php endforeach; ?>

<script type="text/x-magento-init">
    {
        "*": {
            "acty-checkout": {}
        }
    }
</script>
