<div class="acty-checkout-coupon">
    <template v-if="enabled">
        <a class="coupon-toggle" href="javascript:void(0);"
            v-if="code === null"
            @click="function(e){e.target.classList.toggle('active');}">
            <?php echo __('Insert a coupon code'); ?>
        </a>
        <template class="coupon-box" v-if="code === null">
            <div class="coupon-fieldset max-500">
                <div class="field" :class="[error ? 'has-error' : '']">
                    <div class="control">
                        <div class="field-error">
                            <span v-if="error != false">{{ error }}</span>
                        </div>
                        <div class="input">
                            <input
                            v-on:keyup.13="add(suggestion)"
                            placeholder="<?php echo __('Discount code'); ?>"
                            class="input-text" type="text" v-model="suggestion"><!--
                     --><a class="coupon-action" href="javascript:void(0);"
                            @click.prevent="add(suggestion)"><?php echo __('Add'); ?>
                         </a>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <a class="coupon-action" v-else href="#" @click.prevent="remove"><?php echo __('Remove coupon code:'); ?> {{ code }}</a>
    </template>
</div>
