<div class="acty-checkout-crosssell">
    <template v-if="enabled && items.length > 0">
        <h2 class="dotted-header"><span><?php echo __('Also available'); ?></span></h2 class="dotted-header">

        <div class="items-box">
            <div class="product-item-info" v-for="item in items">
                <div class="product-item-photo">
                    <a :href="item.url"><img :src="item.image" alt="item.name"></a>
                </div>
                <div class="product-item-details">
                    <h3 class="product-item-name"><a :href="item.url">{{ item.name }}</a></h3>
                    <p class="normal-price"><?php echo __('Price'); ?> {{ item.price|price }} <?php echo __('EUR'); ?></p>
                    <p class="regular-price" v-if="item.base_price !== item.price"><?php echo __('Regular Price'); ?> {{ item.base_price|price }} <?php echo __('EUR'); ?></p>
                    <div class="actions primary">
                        <button v-if="saleable(item)" @click.prevent="add(item.id)" class="action tocart primary with-icon">
                            <a :href="item.url"><?php echo __('Add to Cart'); ?></a>
                        </button>

                        <a v-else class="action tocart primary with-icon" :href="item.url"><?php echo __('Add to Cart'); ?></a>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
