<div class="acty-checkout-customer">

    <div class="max-500">
        <div class="field required" :class="[errors.phone ? 'has-error' : '']">
            <div class="control">
                <div v-if="errors.phone" class="field-error">
                    <span>{{ $t(errors.phone) }}</span>
                </div>
                <div class="input">
                    <label class="label"><span><?php echo __('Phone number'); ?></span></label><!--
                 --><input placeholder="<?php echo __('Phone number'); ?>" type="text" class="input-text" v-model="customer.phone" @blur="setAddressData('telephone', customer.phone)">
                </div>

                <div class="info-text"><?php echo __('You will be notified on this number when the package has arrived.'); ?></div>
            </div>
        </div>
    </div>

    <h2 :class="[errors.email || errors.firstname || errors.lastname ? 'has-error' : '']" class="dotted-header"><span><?php echo __('Your contact information'); ?></span></h2>

    <div class="max-500">
        <div class="field required" :class="[errors.email ? 'has-error' : '']">
            <div class="control">
                <div v-if="errors.email" class="field-error">
                    <span v-if="errors.email !== 'validation.email_taken'">{{ $t(errors.email) }}</span>
                    <span v-if="errors.email === 'validation.email_taken'" id="email-taken-error"><?php echo __('To make an order, please <span id="email-taken-button" href="#">sign in</span> or use another e-mail.'); ?></span>
                </div>
                <div class="input">
                    <label class="label"><span><?php echo __('E-mail address'); ?></span></label><!--
                 --><input placeholder="<?php echo __('E-mail address'); ?>" type="text" class="input-text" v-model="customer.email" @blur="setAddressData('email', customer.email)">
                </div>
            </div>
        </div>

        <div class="field required" :class="[errors.firstname ? 'has-error' : '']">
            <div class="control">
                <div v-if="errors.firstname" class="field-error">
                    <span>{{ $t(errors.firstname) }}</span>
                </div>
                <div class="input">
                    <label class="label"><span><?php echo __('First Name'); ?></span></label><!--
                 --><input placeholder="<?php echo __('First Name'); ?>" type="text" class="input-text" v-model="customer.firstname" @blur="setAddressData('firstname', customer.firstname)">
                </div>
            </div>
        </div>

        <div class="field required" :class="[errors.lastname ? 'has-error' : '']">
            <div class="control">
                <div v-if="errors.lastname" class="field-error">
                    <span>{{ $t(errors.lastname) }}</span>
                </div>
                <div class="input">
                    <label class="label"><span><?php echo __('Last Name'); ?></span></label><!--
                 --><input placeholder="<?php echo __('Last Name'); ?>" type="text" class="input-text" v-model="customer.lastname" @blur="setAddressData('lastname', customer.lastname)">
                </div>
            </div>
        </div>

        <div class="field required country-field">
            <label class="label"><span><?php echo __('Country'); ?></span></label>

            <div class="control">
                <div v-if="errors.country" class="field-error">
                    <span>{{ $t(errors.country) }}</span>
                </div>
                <select v-model="customer.country">
                    <option v-for="country in countries" :value="country.value">{{ country.label }}</option>
                </select>
            </div>
        </div>

        <div class="field" v-if="options.hasComment">
            <div class="control">
                <div class="input">
                    <label class="label"><span><?php echo __('Add a comment'); ?></span></label><!--
                 --><textarea placeholder="<?php echo __('Comment'); ?>" class="input-text" v-model="customer.comment" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
