<div class="acty-checkout-payment">
    <h2 :class="[errors.method ? 'has-error' : '']" class="dotted-header"><span><?php echo __('Choose a payment method'); ?></span></h2>
    <div v-if="errors.method" class="field-error">
        <span>{{ $t(errors.method) }}</span>
    </div>
    <div class="method-box max-600">
        <div class="payment-method"
        v-for="method in paymentMethods"
        v-if="method.code !== 'makecommerce_seb' && method.code !== 'makecommerce_swedbank' && method.code !== 'banktransfer' && method.code !== 'checkmo'">
            <input type="radio" v-model="payment.method" :value="method.code" :id="method.label">
            <label :for="method.label">
                <img :src="method.image" :alt="method.label" :title="method.label">
            </label>
        </div>
        <div class="payment-method"
        v-for="method in paymentMethods"
        v-if="method.code === 'banktransfer' || method.code === 'checkmo'">
            <input type="radio" v-model="payment.method" :value="method.code" :id="method.label">
            <label :for="method.label">
                <?php
                    $invoiceImgUrl = $this->getViewFileUrl('Acty_Checkout/img/banktransfer-') . $block->getStoreCode() . '.png';
                ?>
                <img src="<?php echo $invoiceImgUrl; ?>" :alt="method.label" :title="method.label">
            </label>
        </div>
    </div>
</div>
