<div class="acty-checkout-shipping">
    <h2 :class="[errors.carrier || errors.method ? 'has-error' : '']" class="dotted-header"><span><?php echo __('Choose delivery'); ?></span></h2>
    <div v-if="errors.carrier" class="field-error">
        <span>{{ $t(errors.carrier) }}</span>
    </div>
    <div v-if="errors.method" class="field-error">
        <span>{{ $t(errors.method) }}</span>
    </div>

    <div class="shipping-container">
        <template v-for="carrier in carriers">
            <div class="method-container" v-if="carrier.methods.length !== 0">
                <input type="radio" v-model="shipping.carrier" :id="carrier.code" :value="carrier.code">
                <label class="shipping-method" :for="carrier.code">
                    <p :id="carrier.code + '_label'" class="shipping-price">
                        <span>{{ carrier.label }}</span>
                        <span v-if="carrier.errormsg">{{ carrier.errormsg }}</span>
                        <span v-if="carrier.fee">{{ carrier.fee|price }}€</span>
                    </p>
                </label>
            </div>
        </template>

        <template v-for="carrier in carriers">
            <div class="select-container" v-if="shipping.carrier === carrier.code && carrier.methods.length !== 0 && (carrier.methods.length > 1 || carrier.code === 'actydelivery')">
                <select v-model="shipping.method">
                    <option :value="null" :selected="shipping.method === null"><?php echo __('Vali Asukoht'); ?></option>

                    <optgroup v-for="method in carrier.methods" :label="method.name">
                        <option v-for="point in method.points" :value="point.code" :selected="point.code == shipping.method">{{ point.label }}</option>
                    </optgroup>
                </select>
            </div>
        </template>

        <template v-for="carrier in carriers">
            <div v-if="shipping.carrier === carrier.code && carrier.methods.length === 1 && carrier.address === true" class="carrier-fieldset">
                <div class="field required" :class="[errors.street ? 'has-error' : '']">
                    <div class="control">
                        <div v-if="errors.street" class="field-error">
                            <span>{{ $t(errors.street) }}</span>
                        </div>
                        <div class="input">
                            <label class="label"><span><?php echo __('Street address'); ?></span></label><!--
                         --><input placeholder="<?php echo __('Street address'); ?>" type="text" class="input-text" v-model="address.street" @blur="setAddressData('street', address.street)">
                        </div>
                    </div>
                </div>

                <div class="field required" :class="[errors.city ? 'has-error' : '']">
                    <div class="control">
                        <div v-if="errors.city" class="field-error">
                            <span>{{ $t(errors.city) }}</span>
                        </div>
                        <div class="input">
                            <label class="label"><span><?php echo __('City'); ?></span></label><!--
                         --><input placeholder="<?php echo __('City'); ?>" type="text" class="input-text" v-model="address.city" @blur="setAddressData('city', address.city)">
                        </div>
                    </div>
                </div>

                <div class="field required" :class="[errors.postcode ? 'has-error' : '']">
                    <div class="control">
                        <div v-if="errors.postcode" class="field-error">
                            <span>{{ $t(errors.postcode) }}</span>
                        </div>
                        <div class="input">
                            <label class="label"><span><?php echo __('Postcode'); ?></span></label><!--
                         --><input placeholder="<?php echo __('Postcode'); ?>" type="text" class="input-text" v-model="address.postcode" @blur="setAddressData('postcode', address.postcode)">
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>
