<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>

<div data-bind="scope: 'customer'"
     class="user-button">
		    <div class="login-dialog-wrapper"
		        style="display: none;"
		        data-bind="style: { display: customer().firstname ? 'none' : 'block' }"
		        data-bind="css: { 'knockout-special': customer().firstname }"
		        data-block="authentication">
		        <div class="login-dialog"
		            data-trigger="authentication"
		            data-bind="css: { 'knockout-special': !customer().firstname }">
		            <div class="menu-link-icon"></div>
		        </div>

		        <div class="block block-customer-login block-authentication" style="display: none" data-bind="mageInit: {
		                'Magento_Ui/js/modal/modal':{
		                    'appendTo': '.customer-links-container',
		                    'type': 'custom',
		                    'clickableOverlay': true,
		                    'modalClass': 'authentication-dropdown',
		                    'trigger': '[data-trigger=authentication]',
		                    'wrapperClass': 'authentication-wrapper',
		                    'parentModalClass': '_has-modal-custom _has-auth-shown',
		                    'responsive': true,
		                    'responsiveClass': 'custom-slide',
		                    'overlayClass': 'dropdown-overlay modal-custom-overlay',
		                    'buttons': [],
		                    'focus': '#dialog-email'
		                }}">
		            <div class="block-title">
		                <h2 id="dialog-block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Regular Customer')) ?></h2>
		            </div>

		            <ul class="login-tabs">
		                <li><a href="javascript:rudrSwitchTab('tb_1', 'content_1');" id="tb_1" class="tabmenu active"><?= /* @escapeNotVerified */ __('Login') ?></a></li><li><a href="<?php echo $this->getUrl('customer/account/create') ?>" class="tabmenu"><?= /* @escapeNotVerified */ __('Register') ?></a></li>
		                <!-- <li><a href="javascript:rudrSwitchTab('tb_2', 'content_2');" id="tb_2" class="tabmenu"><?= /* @escapeNotVerified */ __('Register') ?></a></li> -->
		            </ul>

		            <div id="content_1" class="tabcontent">
		                <div class="block-content" aria-labelledby="block-customer-login-heading">
		                    <form class="form form-login"
		                          action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
		                          method="post"
		                          id="dialog-login-form"
		                          data-mage-init='{"validation":{}}'>
		                        <?= $block->getBlockHtml('formkey') ?>
		                        <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
		                            <div class="field email required">
		                                <label class="label" for="dialog-email"><span><?= $block->escapeHtml(__('Email Address')) ?></span></label>
		                                <div class="control">
		                                    <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="dialog-email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
		                                </div>
		                            </div>
		                            <div class="field password required">
		                                <label for="dialog-pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
		                                <a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a>
		                                <div class="control">
		                                    <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="dialog-pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
		                                </div>
		                            </div>
		                            <?= $block->getChildHtml('form_additional_info') ?>
		                            <div class="actions-toolbar">
		                                <div class="primary"><button type="submit" class="action login primary" name="send" id="dialog-send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
		                            </div>
		                        </fieldset>
		                    </form>
		                </div>
		            </div>
		            <div id="content_2" class="tabcontent" style="display:none;">
		                Content of the second tab.
		            </div>
		        </div>
		    </div>
</div>

<!-- Close login modal if clicked outside or on minicart -->
<script type="text/javascript">
    require(['jquery'],
    function($) {
$(document).ready(function(){
    $("body").click(
        function(e) {
                if ($('._has-modal-custom')[0]) {
                    // Close login modal on minicart opened
                    $("[data-block='minicart']").on("dropdowndialogopen", function() {
                        $(".block-authentication").modal("closeModal");
                    });
                    // Close if not a child of login modal is clicked
                    var checkclass = e.target.className;
                    if(checkclass) {
                        var modalElement = $('.' + checkclass);
                        if (!modalElement.parents().hasClass('customer-links-container')) {
                            $( ".block-customer-login" ).modal("closeModal");
                        }
                    }
                }
            }
        );
    });
})
</script>

<script>
    function rudrSwitchTab(rudr_tab_id, rudr_tab_content) {
        // first of all we get all tab content blocks (I think the best way to get them by class names)
        var x = document.getElementsByClassName("tabcontent");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = 'none'; // hide all tab content
        }
        document.getElementById(rudr_tab_content).style.display = 'block'; // display the content of the tab we need

        // now we get all tab menu items by class names (use the next code only if you need to highlight current tab)
        var x = document.getElementsByClassName("tabmenu");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].className = 'tabmenu';
        }
        document.getElementById(rudr_tab_id).className = 'tabmenu active';
    }
</script>

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "customer": {
                    "component": "Magento_Customer/js/view/customer"
                }
            }
        }
    }
}
</script>
