<?php
    return false;
    $data = $block->getIntervalPrice();
    $isPDP = $this->getRequest()->getFullActionName() == 'catalog_product_view';
    if(!$data && $isPDP) {
        $vm = $this->getMinPriceVm();
        if(!$vm) {return;}
        $data = $vm->getIntervalPriceDataPDP();
    }
    if(!$data){return;}
    $fromMin = $data['discount_from_min'];
    $min = $data['min_price'];
    $interval = $data['interval'];
?>
<span class="min-interval-price">
    <span>
        <?= __('Last %1 day min price', $interval); ?>: <?= $min; ?>
    </span>
    <?php if($fromMin > 0): ?>
        <span>
            (+<?= $fromMin;?>%)
        </span>
    <?php endif; ?>
    <?php if($fromMin < 0): ?>
        <span>
            (<?= $fromMin;?>%)
        </span>
    <?php endif; ?>
</span>