<p><img src="{{media url="wysiwyg/20221111_151137_1_.jpg"}}" alt=""></p>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .grid-item {
        border: 1px solid #ccc;
        padding: 20px;
    }

    @media screen and (min-width: 768px) {
        .grid-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (min-width: 1024px) {
        .grid-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

</style>
<div class="grid-container">
    <div class=" grid-item">
        <strong>TALLINN - Kauplus-OUTLET</strong>
        <p>Salve 2a 11612 Tallinn</p>
        <p>Telefon: 56 202 201</p>
        <p>E-mail: <a href="mailto:tallinn@karupoegpuhh.ee">tallinn@karupoegpuhh.ee</a></p>
        <p>E-R: 10.00-19.00</p>
        <p>L: 10.00-17.00</p>
        <p>P: 10.00-17.00</p>
    </div>
    <div class="grid-item"><strong>TALLINN - Ülemiste keskus</strong>
        <p>Suur-Sõjamäe 4, 11415 Tallinn</p>
        <p>Telefon: 56840551</p>
        <p>E-mail: <a href="mailto:jarve@karupoegpuhh.ee">ulemiste@karupoegpuhh.ee</a></p>
        <p>E-R: 10.00-21.00</p>
        <p>L: 10.00-21.00</p>
        <p>P: 10.00-19.00</p>
    </div>
    <div class="grid-item"><strong>TALLINN - Stroomi Keskus OUTLET</strong>
        <p>Tuulemaa 20 / Madala 5a 10315 Tallinn</p>
        <p>Telefon: 56 888 505</p>
        <p>E-mail: <a href="mailto:stroomi@karupoegpuhh.ee">stroomi@karupoegpuhh.ee</a></p>
        <p>E-R: 10.00-20.00</p>
        <p>L: 10.00-20.00</p>
        <p>P: 10.00-19.00</p>
    </div>
    <div class="grid-item"><strong>HAAPSALU - Rannarootsi Keskus</strong>
        <p>Rannarootsi tee 1 90404 Haapsalu</p>
        <p>Telefon: 56 506 509</p>
        <p>E-mail: <a href="mailto:haapsalu@karupoegpuhh.ee">haapsalu@karupoegpuhh.ee</a></p>
        <p>E-R: 10.00-19.00</p>
        <p>L: 10.00-19.00</p>
        <p>P: 10.00-19.00</p>
    </div>
    <div class="grid-item"><strong>PÄRNU - Port Artur 2</strong>
        <p>Port Artur 2, III KORRUS, Lai 11 Pärnu 80010 Pärnu</p>
        <p>Telefon: 51 06 955</p>
        <p>E-mail: <a href="mailto:parnu@karupoegpuhh.ee">parnu@karupoegpuhh.ee</a></p>
        <p>E-R: 10:00-20:00</p>
        <p>L: 10:00-20:00</p>
        <p>P: 10:00-18:00</p>
    </div>
    <div class="grid-item"><strong>PÄRNU - Pärnu Keskus</strong>
        <p>Lai tn 5, 80011 Pärnu</p>
        <p>Telefon: 52 609 95</p>
        <p>E-mail: <a href="mailto:parnukeskus@karupoegpuhh.ee">parnukeskus@karupoegpuhh.ee</a></p>
        <p>E-R: 10:00-20:00</p>
        <p>L: 10:00-20:00</p>
        <p>P: 10:00-18:00</p>
    </div>
    <div class="grid-item"><strong>RAKVERE - Põhjakeskus</strong>
        <p>Haljala tee 4 44415 Rakvere</p>
        <p>Telefon: 56 888 518</p>
        <p>E-mail: <a href="mailto:pohjakeskus@karupoegpuhh.ee">pohjakeskus@karupoegpuhh.ee</a></p>
        <p>E-R: 10:00-20:00</p>
        <p>L: 10:00-20:00</p>
        <p>P: 10:00-19:00</p>
    </div>
    <div class="grid-item"><strong>TARTU - Lõunakeskus</strong>
        <p>Ringtee 75 50501 Tartu</p>
        <p>Telefon: 56 966 603</p>
        <p>E-mail: <a href="mailto:lounakeskus@karupoegpuhh.ee">lounakeskus@karupoegpuhh.ee</a></p>
        <p>E-R: 10:00-21:00</p>
        <p>L: 10:00-21:00</p>
        <p>P: 10:00-21:00</p>
    </div>
    <div class="grid-item"><strong>TARTU - Eedeni Kaubanduskeskus</strong>
        <p>Kalda tee 1c 50703 Tartu</p>
        <p>Telefon: 56 466 900</p>
        <p>E-mail: <a href="mailto:tartu@karupoegpuhh.ee">tartu@karupoegpuhh.ee</a></p>
        <p>E-R: 10:00-21:00</p>
        <p>L: 10:00-21:00</p>
        <p>P: 10:00-21:00</p>
    </div>
    <div class="grid-item"><strong>VILJANDI - UKU Kaubanduskeskus</strong>
        <p>Tallinna 41 71013 Viljandi</p>
        <p>Telefon: 56 202 331</p>
        <p>E-mail: <a href="mailto:viljandi@karupoegpuhh.ee">viljandi@karupoegpuhh.ee</a></p>
        <p>E-R: 09.00-19.00</p>
        <p>L: 09.00-17.00</p>
        <p>P: 10.00-15.00</p>
    </div>
    <div class="grid-item"><strong>NARVA - Fama keskus OUTLET</strong>
        <p>Fama põik 10, 20303 Narva</p>
        <p>Telefon: 56 888 510</p>
        <p>E-mail: <a href="mailto:narva@karupoegpuhh.ee">narva@karupoegpuhh.ee</a></p>
        <p>E-R: 10.00-20.00</p>
        <p>L: 10.00-20.00</p>
        <p>P: 10.00-20.00</p>
    </div>
</div>
