<style>
    @media screen and (min-width: 768px) {
        .small-banners>a:nth-of-type(4) {
            width: 33.3333%;
        }

        .small-banners>a:nth-of-type(6) {
            width: 33.3333%;
        }
    }
</style>
<div class="small-banners">
    <a title="Предложения" href="https://ru.karupoegpuhh.ee/pakkumised">
        <img src="{{media url="wysiwyg/ale-rus.jpg"}}" alt=""> 
    </a> 
    <a title="Jumpy игрушка прыгун" href="https://ru.karupoegpuhh.ee/catalog/category/view/s/jumpy-igrushka-prygun/id/1904/">
        <img src="{{media url="wysiwyg/jumpy-rus.jpg"}}" alt="">
    </a> 
    <a title="Новинки" href="https://ru.karupoegpuhh.ee/uued-tooted">
        <img src="{{media url="wysiwyg/uus-rus.jpg"}}" alt="">
    </a>
    <a title="Школьные товары" href="https://ru.karupoegpuhh.ee/koolitarbed/koolitarbed">
        <img src="{{media url="wysiwyg/kool-rus.jpg"}}" alt="">
    </a> 
    <a title="Lego" href="https://www.karupoegpuhh.ee/manguasjad/lego?kampaania_tyyp=580"> 
        <img src="{{media url="wysiwyg/lego.jpg"}}" alt="">
    </a> 
    <a href="http://outlet.karupoegpuhh.ee">
        <img src="{{media url="wysiwyg/outlet-rus.jpg"}}" alt="">
    </a>
</div>