<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php $instantPurchaseTitle = __('Instant purchase'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
            <div class="field qty">
                <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
                <div class="control">
                    <select name="qty" id="qty" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                            class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>">
                            <?php $i = 1 ; ?>
                            <?php
                             while( $i < 11) { ?>
                                <option value="<?php echo $block->getProductDefaultQty() * $i; ?>"><?php echo $block->getProductDefaultQty() * $i; ?></option>
                                <?php $i++; ?>
                            <?php } ?>
                    </select>
                    <span class="qty-unit"><?= __("tk") ?></span>
                </div>
            </div>
            <?php endif; ?>
            <div class="actions">
                <button type="button"
                        title="<?= /* @escapeNotVerified */ $instantPurchaseTitle ?>"
                        class="action primary tocart"
                        id="addtocart-instant-purchase"
                    <span><?= /* @escapeNotVerified */ $instantPurchaseTitle ?></span>
                </button>
                <button type="submit"
                        title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                        class="action primary tocart with-icon"
                        id="product-addtocart-button">
                    <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
                </button>
                <?= $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        },
        "#addtocart-instant-purchase": {
            "Acty_InstantPurchase/js/instantpurchase": {
            "form_id": "product_addtocart_form"
          }
        }
    }
</script>