<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
$_attributeValue = '';

//fixed label when product in stock
//actual label value from admin when allowed for backorder
$prodQty = $_product->getExtensionAttributes()->getStockItem()->getQty();
if ($prodQty > 0) {
    $_attributeValue = __('1-3 darba dienas');
} else if ($prodQty <= 0 && $_product->getExtensionAttributes()->getStockItem()->getBackorders()) {
    $_attributeValue =$_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
}
?>
<?php if ($_attributeValue) { ?>
    <div class="product attribute <?php echo $_className?>">
        <div class="delivery-label"><?php echo __("Piegādes laiks")?>: <span class="value" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></span></div>
    </div>
<?php } ?>
