<div class="top-text">
    <a href="<?php echo $this->getUrl('ostuabi-10'); ?>"><?= /* @escapeNotVerified */ __('SHOPPING HELP') ?></a><p class="no-margin-left hide-mobile">: <?= /* @escapeNotVerified */ __('M-F') ?> 09:00 - 21:00</p>
    <?= __("<a href='mailto:info@toysoutlet.lv' class='top-email hide-mobile'>info@toysoutlet.lv</a>") ?>
    <?php
        $telNr = $block->getPhoneNumber();
    ?>
    <?php echo "<a href='tel:" . $telNr .  "' class='top-phone hide-mobile'>" . $telNr . "</a>" ?>
    <a href="<?php echo $this->getUrl('kauplused'); ?>"><?= /* @escapeNotVerified */ __('Our stores') ?></a>
</div>
