@breadcrumbs-current__color: @puhh-dark-blue;
@breadcrumbs-link__color: @puhh-dark-gray;

.breadcrumbs {
    .item {
        &.home {
            a {
                color: @puhh-dark-blue;
            }
            &:after {
                content: '|' !important;
            }
        }
        a {
            font-weight: normal;
        }
        &:not(:last-child):after {
            content: '/';
            color: @puhh-dark-gray;
            font-size: 20px;
            margin: -5px 2px 0;
            line-height: 24px;
        }
    }
}
