// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Color variables
//  _____________________________________________

// PUHH COLORS

@puhh-yellow: #feed00;
@puhh-secondary-yellow: #e2d300;
@puhh-light-blue: #BFE7F7;
@puhh-blue: #7bccf3;
@puhh-label-blue: #004CA5;
@puhh-dark-blue: #135775;
@puhh-gray: #ECECEC;
@puhh-secondary-gray: #F7F7F7;
@puhh-dark-gray: #999;
@puhh-green: #43E443;
@puhh-dark-green: #00CC00;
@puhh-pink: #FF3F7B;
@puhh-red: #9e3039;

// TOYSOUTLET COLORS
@toys-red: #9e3039;
@toys-bright-red: #e1262f;
@toys-yellow: #feed00;
@toys-secondary-yellow: #e2d300;
@toys-blue: #7bccf3;

@active__color: @puhh-secondary-yellow;
