//
//    Common
//--------------------------------------
& when (@media-common = true) {
    .catalog-product-view {
        .product.media {
            .fotorama__stage__frame {
                border: 1px solid @puhh-gray;
                box-sizing: border-box;
                border-radius: 10px;
            }
            .fotorama__nav__frame--thumb {
                box-sizing: border-box;
                border: 1px solid @puhh-gray;
                height: 120px !important;
                width: 120px !important;
                margin: 10px !important;
                padding: 10px !important;
            }
            .fotorama__thumb-border {
                display: none;
            }
            .fotorama__arr.fotorama__arr--next,
            .fotorama__arr.fotorama__arr--prev {
                display: none !important;
            }
            .fotorama__nav.fotorama__nav--thumbs {
                // .flex-display(flex);
                // .align-items(center);
            }
            .fotorama__caption {
                display: none;
            }
            .fotorama__thumb__arr.fotorama__thumb__arr--right,
            .fotorama__thumb__arr.fotorama__thumb__arr--left {
                background: transparent;
                .fotorama__thumb--icon {
                    background: url('@{baseDir}images/icons/arrow.svg') no-repeat;
                }
            }
            .fotorama__thumb__arr.fotorama__thumb__arr--left {
                .fotorama__thumb--icon {
                    .transform(rotate(270deg));
                }
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .product.media {
            .fotorama__stage {
                height: ~"calc(100vw - 40px)" !important;
            }
            .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
                margin: 10px 0 0;
                .fotorama__nav__frame.fotorama__nav__frame--dot {
                    width: 30px;
                    .fotorama__dot {
                        border: 0;
                        height: 13px;
                        width: 13px;
                        background-color: #e9e8e6;
                    }
                    &.fotorama__active {
                        .fotorama__dot {
                            background-color: @puhh-blue;
                        }
                    }
                }
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view {
        .product.media {

        }
    }
}

