// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__width: ''; // for the fixed width layout
@layout__max-width: 1300px;
@layout__width-xs-indent: 20px;

@layout-column__left-width: 26%;
@layout-column-main__width-2-left: 74%;
