// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Rating variables
//  _____________________________________________

@rating-icon__count: 5;
@rating-icon__content: @icon-star;
@rating-icon__font: @icon-font;
@rating-icon__font-size: 12px;
@rating-icon__letter-spacing: 5px;
@rating-icon__color: @puhh-gray;

@rating-icon__active__color: @puhh-yellow;

@rating-label__hide: true;
