//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header {
        .header.content.sticky {
            margin: 0 auto;
            max-width: 100%;
            max-height: 115px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 99;
            background: @toys-red;
            padding: 5px 0;
        }

        .header.content.sticky {
            .box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.3));
            .customer-links-container {
                margin-bottom: 0;
            }
        }
        &.has-sticky {
            margin-top: 60px;
            &:after {
                padding-top: 63px;
            }
        }
    }
    .autocomplete-suggestions {
        top: 155px !important;
        position: fixed !important;
    }
    .autocomplete-suggestions.sticky {
        top: 100px !important;
    }
}
