<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('New Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <h4><?= $block->escapeHtml(__("What's the benefit of becoming a Karupoeg Puhh store member?")) ?></h4>
        <ul>
            <li><?= $block->escapeHtml(__("Registered members will always get a 10% discount to all products.")) ?> </li>
            <li><?= $block->escapeHtml(__("Ordering with prefilled form fields is faster and more convenient.")) ?> </li>
            <li><?= $block->escapeHtml(__("You can keep an eye on your previous orders.")) ?> </li>
            <li><?= $block->escapeHtml(__("There are often sales campaigns with great prices for registered customers.")) ?> </li>
        </ul>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>" class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
