// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Typography variables
//  _____________________________________________

//
//  Fonts
//  ---------------------------------------------

//  Font families
@font-family__sans-serif: 'Roboto', sans-serif;
@font-family__serif: Georgia, 'Times New Roman', Times, serif;
@font-family__monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family__base: @font-family__sans-serif;
@font-size-ratio__base: 1.5; // Defines ratio of the root font-size to the base font-size

@line-height__base: 1.36;

//  Colors
@text__color: @puhh-dark-blue;

//
//  Headings
//  ---------------------------------------------

@h1__font-size: ceil((@font-size__base * 2.1));
@h1__font-family: 'Balsamiq Sans', cursive;

@h1__line-height: @heading__line-height__base;
@h1__font-size-desktop: ceil((@font-size__base * 2.1));

@h2__font-size: @font-size__base;
@h2__font-family: @heading__font-family__base;
@h2__font-weight: @font-weight__semibold;

//
//  Links
//  ---------------------------------------------

@link__color: @puhh-blue;
@link__text-decoration: none;

@link__visited__color: @link__color;
@link__visited__text-decoration: none;

@link__hover__color: @puhh-dark-blue;
@link__hover__text-decoration: none;

@link__active__color: @active__color;
@link__active__text-decoration: none;

a {
    font-weight: 400;
}

//
//  Focus
//  ---------------------------------------------

@focus__color: @puhh-yellow;

// CUSTOM HEADER WITH DOTTED LINES
.dotted-header {
    font-family: @h1__font-family;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 60px;
    & > span {
        position: relative;
        display: inline-block;
    }
    & > span:before,
    & > span:after{
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: 4px dotted @puhh-dark-blue;
        width: 592px; /* half of limiter */
        margin: 0 20px;
    }
    & > span:before{
        right: 100%;
    }
    & > span:after{
        left: 100%;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
}
