<tr class="row" click="element.selectShippingMethod">
    <td class="col col-method">
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.isSelected"/>
    </td>

    <td class="col col-price">
        <each args="element.getRegion('price')" render=""/>
    </td>

    <td class="col col-method" attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code" text="method.method_title"/>
    <td class="col col-carrier" attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code" text="method.carrier_title"></td>
</tr>

<tr class="row" if="element.isSelected() === method.carrier_code + '_' + method.method_code">
    <td colspan="4">
        <form id="smartpost_parcel_point_form">
            <select name="smartpost_parcel_points" data-validate="{required:true, 'validate-number': true}" id="smartpost_parcel_points" data-bind="value: element.selectedSmartpostPickupPoint">
                <option value="" translate="'Select...'"></option>

                <!-- ko foreach: element.getSmartpostParcelPointsOptionsArray(method) -->
                <optgroup data-bind="attr: { label: $data.label }, foreach: $data.locations">
                    <option data-bind="text: $data.fullName, value: $data.place_id"></option>
                </optgroup>
                <!-- /ko -->
            </select>
        </form>
    </td>
</tr>

<tr class="row row-error" if="method.error_message">
    <td class="col col-error" colspan="4">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>

        <span class="no-display">
            <input type="radio" attr="'value' : method.method_code, 'id': 's_method_' + method.method_code"/>
        </span>
    </td>
</tr>
