.amscroll-load-button {
    background: rgb(58,79,98);
    border: 0;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0);
    color: #5fbdeb;
    background: transparent;
}
.amscroll-load-button[amscroll_type="before"] {
    margin-bottom: 30px;
}
.amscroll-load-button[amscroll_type="after"] {
    margin-top: 30px;
}

.amscroll-loading {
    background-repeat:no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 50px;
}

.amscroll-page-num {
    background: #efefef;
    color: #807d7d;
    padding: 5px 10px;
    text-align: left;
    font-size: larger;
    font-weight: bold;
    clear: both;
}

.amscroll-navbar{
    position: fixed;
    border-radius:10px;
    bottom: 10px;
    left:10px;
    z-index: 99999;
    color: #ECECEC;
    background-color:#9e3039;
    font-weight: 300;
    padding: 4px;
    padding-right:36px;
    height: 26px;
}

.amscroll-navbar-text {
    line-height: 26px;

}

.amscroll-navbar a{
    background: url(../images/up.png);
    display: inline-block;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 5px;
    cursor: pointer;
}

@media(max-width: 767px) {
    .amscroll-load-button[amscroll_type="before"] {
        margin-bottom: 0;
        padding: 5px 0 17px;
    }
    .amscroll-load-button[amscroll_type="after"] {
        margin-top: 0;
        margin-bottom: 40px;
    }
}
