@puhh-red: #FF004F;

& when (@media-common = true) {
    .min-interval-price {
        font-size:8px;
        color: #ccc;
    }
    .catalog-product-view {
        .min-interval-price {
            margin-bottom:20px;
            display: block;
            font-size:10px;
        }
    }
}