<!doctype html>

<html lang="et">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <title>Koduleht uueneb!</title>
    <style type="text/css">
        body {
            text-align: center;
            margin: 0;
            padding: 0;
        }
        p {
            margin: 1em 0;
            text-align: center;
            line-height: 2;
        }
        img {
            margin-top: 2em;
            margin-bottom: 2em;
            max-width: 100%;
            height: auto;
        }
        .wrapper {
            padding: 1em;
            max-width: 600px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <img src="pub/errors/puhh/images/puhh.png" alt="Karupoeg puhh" width="430" height="107">
        <p><strong>Teostame korralisi hooldustöid, et parandada Teie kogemust Karupoeg Puhh e-poes. Oleme tagasi mõne hetke pärast.</strong></p>
    </div>
</body>
</html>
