<!-- ko foreach: { data: paymentMethods, as: 'method' } -->
    <div class="payment-method"
         data-bind="css: {'_active': $parent.getCode() == $parent.isChecked() && method.type == $parent.selectedPaymentMethodType()}"
    >
        <div class="payment-method-title field choice">
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="
                        attr: {'id': 'holm_partner_' + method.type},
                        value: 'holm_partner_' + method.type,
                        checked: $parent.getCode() == $parent.isChecked() ? 'holm_partner_' + $parent.selectedPaymentMethodType() : null,
                        click: $parent.selectPaymentMethod.bind($parent),
                        visible: $parent.isRadioButtonVisible()"
            />

            <label data-bind="attr: {'for': 'holm_partner_' + method.type}" class="label">
                <img width="68px"
                     id="liisi-icon"
                     style="vertical-align: middle"
                     data-bind="attr: {'src': method.paymentAcceptanceMarkSrc}"
                />
                <span data-bind="text: $parent.getTitle() + ' ' + method.title"></span>
            </label>
        </div>
        <div class="payment-method-content">
            <!-- ko foreach: $parent.getRegion('messages') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parents[1].getRegion($parent.getBillingAddressFormName()) -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="checkout-agreements-block">
                <!-- ko foreach: $parents[1].getRegion('before-place-order') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="
                                click: $parent.placeOrder.bind($parent),
                                attr: {title: $t('Place Order')},
                                css: {disabled: !$parent.isPlaceOrderActionAllowed()},
                                enable: $parent.getCode() == $parent.isChecked() && method.type == $parent.selectedPaymentMethodType()
                            "
                            disabled
                    >
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<!--/ko-->
