@font-face {
    font-display: swap;
    font-family: 'slick';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/slick.eot') format('embedded-opentype'),
    url('../fonts/slick.woff') format('woff'),
    url('../fonts/slick.svg') format('svg'),
    url('../fonts/slick.tff') format('truetype');
}