// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-title-border-color: @puhh-dark-blue;
@account-table-border-bottom-color: @puhh-dark-blue;
@account-table-action-delete: @color-red12;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .account {
        fieldset.fieldset {
            legend.legend {
                border: none;
                span {
                    color: @puhh-blue;
                    font-family: 'Montserrat-Regular';
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            label.label {
                padding-left: 10px;
                &:after {
                    content: none;
                }
            }
        }
        &.sales-order-invoice,
        &.sales-order-view {
            span.price {
                color: @puhh-dark-blue;
            }
            .order {
                &-links {
                    list-style: none;
                    margin-bottom: 0;
                    padding-left: 0;
                    .item {
                        a {
                            color: @puhh-dark-blue;
                        }
                    }
                }
                &-status {
                    margin: 0 0 15px 0;
                }
                &-date {
                    margin: 0 0 15px !important;
                }
            }
        }
        &.customer-account-edit {
            .form-edit-account {
                .fieldset {
                    margin-bottom: 0;
                    .field.required {
                        margin-bottom: 20px !important;
                        label.label {
                            &:after {
                                content: none;
                            }
                        }
                    }
                    &.password {
                        margin: 0;
                    }
                }
                .field.choice {
                    margin: 0 0 20px 0;
                    label.label {
                        font-family: 'Montserrat-Regular';
                        font-weight: 600;
                        color: @puhh-blue;
                        &:hover {
                            cursor: pointer;
                            color: @puhh-dark-blue;
                        }
                        &:after {
                            content: '';
                            height: 10px;
                            width: 14px;
                            display: inline-block;
                            background: url('@{baseDir}images/icons/arrowDown.png') no-repeat center center;
                            background-size: 14px;
                            float: right;
                            margin-top: 5px;
                        }
                    }
                    input.checkbox {
                        display: none;

                        &[type="checkbox"]:checked + label.label {
                            &:after {
                                .transform(rotate(180deg));
                                opacity: .3;
                            }
                        }
                    }
                }
            }
        }
    }
    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            &-customer-login {
                .primary {
                    margin-bottom: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);

            &:after {
                margin-top: 35px;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .item.actions {
                margin-top: @indent__xs;

                .action {
                    &:extend(.abs-account-actions all);
                }
            }
        }

        address {
            &:extend(.abs-account-block-line-height all);
        }
    }

    .form-address-edit {
        #region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: none;
                }
            }
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information,
    .box-newsletter {
        .box-content {
            &:extend(.abs-account-block-line-height all);
        }
    }

    //  My account
    .account {
        &.customer-account-index {
            .page-title-wrapper {
                .page-title {
                    display: inline-block;
                    font-family: 'Montserrat-Regular';
                    font-weight: 600;
                    font-size: 30px;
                    color: @puhh-blue;
                }
            }
            .block.block-reviews-dashboard {
                ol.items {
                    padding-left: 0;
                    list-style-position: inside;
                }
            }
        }
        .page-title-wrapper {
            .page-title {
                font-size: 25px;
                font-family: 'Montserrat-Medium';
            }
        }

        .messages {
            // margin-bottom: @indent__base;
        }

        .column.main {
            margin-bottom: @indent__l;

            h2 {
                margin-top: 0;
            }

            .block-title {
                border-bottom: none;
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
                .box-title {
                    min-width: 62%;
                    padding: 10px 0;
                    color: @puhh-blue;
                    border-bottom: 1px solid @puhh-dark-blue;
                    span {
                        font-size: 18px;
                        font-family: 'Montserrat-Regular';
                    }
                }
                .box-actions {
                    a {
                        font-size: 13px;
                    }
                }
            }


        }

        .sidebar-main {
            .block-collapsible-nav {
                &-content {
                    background: @color-white;
                    padding: 0;
                    .nav.items {
                        list-style: none;
                        padding: 0;
                        margin-bottom: 10px;
                        .nav.item {
                            margin: 0;
                            line-height: 40px;
                            span.delimiter {
                                border-top: 4px dotted #d1d1d1;
                                margin: 0;
                            }
                            a {
                                border: none;
                                font-family: 'Montserrat-Regular';
                                font-weight: 600;
                                color: @puhh-dark-blue;
                                padding: 0 9px;
                                &:hover {
                                    .rgba(rgb(255,206,84), 0.5);
                                }
                            }
                            &.current {
                                a {
                                    strong {
                                        padding: 0;
                                    }
                                }
                                strong {
                                    color: @puhh-yellow;
                                    border: none;
                                    padding: 0 9px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sidebar-additional {
            margin-top: @indent__xl;
        }

        .table-wrapper {
            .lib-css(margin-bottom, @indent__base);
            border-bottom: 1px solid @account-table-border-bottom-color;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .legend {
            &:extend(.abs-account-title all);
        }
    }

    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .order-details-items {
                .table-wrapper {
                    .data.table {
                        &:extend(.abs-table-striped all);
                    }
                }
            }
        }

        .data.table {
            .col.actions {
                .action {
                    &:extend(.abs-account-actions all);
                    &.delete {
                        .lib-css(color, @account-table-action-delete);
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            strong {
                .lib-heading(h4);
                .column.main & {
                }
            }

            margin-bottom: @indent__s;
        }

        p {
            &:last-child {
                margin: 0;
            }
        }

        .box-actions {
            margin-top: 10px;

            .action {
                &:extend(.abs-account-actions all);
            }
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .account {
        .data.table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    .order-products-toolbar {
        position: relative;

        .toolbar-amount {
            position: relative;
            text-align: center;
            margin-top: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .order-products-toolbar {
        .toolbar-amount {
            margin-top: 43px;
        }
    }
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);
            .actions-toolbar {
                > .primary {
                    margin-bottom: 0;
                    margin-right: @indent__l;
                }

                > .secondary {
                    float: left;
                    margin-top: 10px;
                }
            }

        }

        .fieldset {
            > .field {
                > .control {
                    width: 55%;
                }
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                display: table;
                width: 100%;

                .field {
                    display: table-cell;

                    + .field {
                        padding-left: @indent__s;
                    }
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        min-width: 600px;
        width: 50%;
    }

    //  My account
    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22%;
            padding-right: 5%;
        }

        .column.main {
            width: 78%;
            margin-bottom: 0;
        }
    }

    .account {
        main.page-main {
            margin-top: 30px;
        }
        &.customer-account-edit {
            .form-edit-account {
                .field.choice {
                    label.label {
                        &:after {
                            margin-right: 65px;
                        }
                    }
                }
                .fieldset {
                    width: 50%;
                    padding-right: 65px;
                    box-sizing: border-box;
                }
                .actions-toolbar {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
        .page-title-wrapper {
            &:extend(.abs-add-clearfix-desktop all);
        }

        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .sidebar-main {
            .block-collapsible-nav {
                padding: 0;
                &-content {
                    .nav.items {

                    }
                }
            }
        }

        .data.table {
            margin-bottom: 0;

            .col {
                &.actions {
                    white-space: nowrap;
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 4%;
                }
            }
        }

        address {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .page-main {
        .block {
            &:extend(.abs-margin-for-blocks-and-widgets-desktop all);
        }
    }

    .form-address-edit {
        > .fieldset {
            &:extend(.abs-blocks-2columns all);
        }
    }

    .form-edit-account {
        .fieldset {
            &:extend(.abs-blocks-2columns all);

            .fieldset {
                margin-bottom: @indent__base;
                width: 100%;
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information {
        .box-content {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }

        .data.table {
            &:extend(.abs-table-striped-mobile all);
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .page-title-wrapper {
            .page-title {
                margin-right: 0 !important;
                span.base {
                    font-size: 24px;
                }
            }
        }
        .page.messages {
            margin-bottom: @indent__xl;
        }

        .column.main {
            padding-bottom: 0;
            .block:not(.widget) {
                .box-title {
                    min-width: inherit;
                    width: 100%;
                }
                .block-title {
                    &:extend(.abs-add-clearfix-mobile-m all);

                    > .action {
                        float: right;
                        .lib-css(margin-top, @indent__xs);
                    }
                }

                .block-content {
                    .box {
                        .lib-css(margin-bottom, @indent__base);
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .sidebar-main {
            min-height: 70px;
            .block-collapsible-nav {
                top: 0;
                &-title {
                    padding: 0;
                    border-top: 1px solid @puhh-gray;
                    border-bottom: 1px solid @puhh-gray;
                    font-size: 18px;
                    padding: 15px 20px;
                    &.active {
                        z-index: 1;
                        border: none;
                        &:after {
                            .transform(rotate(180deg));
                        }
                    }
                    &:after {
                        content: '';
                        height: 16px;
                        width: 20px;
                        display: inline-block;
                        background: url('@{baseDir}images/icons/arrowDown.png') no-repeat center center;
                        background-size: 20px;
                        margin-top: 9px;
                    }
                }
                &-content {
                    border-radius: 25px;
                    margin: 0;
                    border: 1px solid #ececec;
                    position: absolute;
                    box-sizing: border-box;
                    width: 100%;
                    top: 0;
                    padding: 54px 0 0;
                    .box-shadow(0 0 8px 0 @puhh-gray);
                    &.active {
                        width: 100%;
                    }
                    .nav.items {
                        .nav.item {
                            a {
                                padding: 2px 20px;
                            }
                            span.delimiter {
                                margin: 0 20px;
                            }
                            &.current {
                                strong {
                                    padding: 2px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .control.captcha-image {
        .captcha-img {
            display: block;
            .lib-css(margin-bottom, @indent__s);
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }
}
