<?php
/**
 * @var \Siim\CouponPromoPrice\ViewModel\CouponPromoVm
 */
$vm = $this->getViewModel();
if (!$vm || !$type = $vm->determinePromoType()) {return false;}

$promoPrice = $vm->getPromoPrice();

?>
<?php if ($type && $promoPrice): ?>
    <div class="promo-price">
        <h3 class="promo-title">
            <?= __('Promo price'); ?>
        </h3>
        <?= $promoPrice; ?>
        <p class="disclaimer">
            <?= __('Applicable if you buy at least %1€ worth of items', $vm->getMinCartSumForPromoPrice($type));?>
        </p>
        
    </div>
<?php endif;?>