<?php
/**
 * @var \Siim\CouponPromoPrice\ViewModel\CouponPromoVm
 */
$vm = $this->getViewModel();
if (!$vm || !$type = $vm->determinePromoType($this->getData('product'))) {return false;}

$product = $this->getData('product');

$promoPrice = $vm->getPromoPrice($product);

?>
<?php if ($type && $promoPrice): ?>
    <div class="promo-price promo-price-cat">
        <span><?= __('Promo price').': '; ?></span><?= $promoPrice; ?>
    </div>
<?php endif;?>