<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?= $block->getUrl('') ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
<?php endif ?>
        <img src="<?php echo $this->getViewFileUrl('images/logo/puhh_logo.png'); ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>

<style>
.customer-links-container ul.header.links li.authorization-link {
   display: none !important;
}
.customer-links-container .customer-menu ul.header.links li.authorization-link {
    display: block !important;
}

@media(min-width:1025px) {
/*.catalog-category-view .product-item-actions .actions-primary {
    height: 100%;
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-category-view .product-item-actions .actions-primary form:first-child {
    position: absolute;
    top: 0;
    right: 15px;
}
*/
.catalog-category-view .product-item-actions .actions-primary form:first-child button.action.tocart.primary {
    font-size: 1.2rem;
    padding: 5px 10px;
}

/*.catalog-category-view .products-grid .product-item-actions {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    transform: none;
}
.catalog-category-view .products-grid .product-item-info:hover .product-item-actions, .products-grid .product-item-info.active .product-item-actions {
    z-index: 999;
}

.cms-home .products-grid .product-item-actions {
    left: 0;
    top: 0;
    transform: none;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 9 !important;
}

.cms-home .products-grid .product-item-actions .actions-primary {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    z-index: 9999;
}*/

.cms-home .products-grid .product-item-actions .actions-primary button.action.tocart:first-child {
  /*  position: absolute;
    top: 0;
    right: 15px;
    z-index: 9999999;*/
    font-size: 12px;
    padding: 5px 10px;
}
}


/** 31-08-2021 **/
}
.form-create-account .actions-toolbar {
    display: flex;
    justify-content: flex-start;
}
.form-create-account .actions-toolbar .b2b-registration a {
    background-image: none;
    background: #feed00;
    border: 4px solid #e2d300;
    color: #135775;
    cursor: pointer;
    display: inline-block;
    font-family: montserrat-medium,Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 12px 30px;
    font-size: 1.5rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 3rem;
}
.form-create-account .actions-toolbar .b2b-registration a:hover, .actions-toolbar .b2b-registration a:focus {
    background: #e5d500;
    border: 4px solid #c9bb00;
    color: #135775;
}

@media(max-width:767px) {
#acty-checkout .col-left .acty-checkout-cart .cart-item .item-info .action.delete {
    right: -30px;
    top: -14px;
}
#acty-checkout .col-left {
    width: 100%;
}
#acty-checkout .col-left .acty-checkout-cart .cart-item .item-info {
    display: block;
}
#acty-checkout .col-left .acty-checkout-crosssell .items-box {
    flex-direction: column;
    width: 100%;
}
#acty-checkout .col-left .acty-checkout-crosssell .items-box .product-item-info {
    max-width: 100% !important;
    min-width: 100%;
    margin: 0px;
    margin-bottom: 10px;
}
#acty-checkout .field.required {
    display: block;
}
#acty-checkout .acty-checkout-customer .input {
    display: block;
}
#acty-checkout .acty-checkout-customer label {
    display: block !important;
    width: 100%;
    min-width: 100%;
    text-align: left !important;
    float: left;
    margin-bottom: 5px;
}
#acty-checkout .acty-checkout-customer input {
    width: 100% !important;
}
#acty-checkout .col-left .field {
    margin-bottom: 10px !important;
}

#acty-checkout .acty-checkout-customer textarea {
    width: 100% !important;
}
#acty-checkout .acty-checkout-totals {
    width: 100%;
}
#acty-checkout .col-right {
    width: 100% !important;
}
#acty-checkout .acty-checkout-totals .totals-title {
    padding: 0px 20px;
    text-align: center;
}
.col-right .sticky-target.is_stuck {
    position: inherit !important;
}

#acty-checkout .col-right .sticky-target.is_stuck + div {
    height: auto !important;
}
}
</style>

