<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
?>
<nav class="mobile-navigation">
    <ul>
    <?php
    foreach($categories as $category):
         if (!$category->getIsActive()) {
            continue;
         }
    ?>
    <li class="level-top"><a class="level-top" href="<?php echo $categoryHelper->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a></li>
    <?php
    endforeach;
    ?>
    </ul>
</nav>

