<div class="age-wrapper">
    <h2 class="dotted-header"><span><?= /* @escapeNotVerified */ __('Choose by Age') ?></span></h2>
    <div class="attribute-options-container age-slider">
        <?php foreach ($block->getCollection() as $age): ?>
            <div class="attribute-option">
                <a href="<?php echo $age->getUrlPath() ?>">
                    <img class="lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php  echo $block->getResizedImageUrl($age->getImage(), 130); ?>" alt="<?php echo $block->escapeHtml($age->getLabel()) ?>">
                    <p><?php echo $block->getAttributeOptionText('age', $age->getData('option_id'));?></p>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
</div>

<script>
    require(
        [
            'jquery',
            'slick'
        ],
        function($) {
            $(".age-slider").not('.slick-initialized').slick({
                infinite: true,
                slidesToShow: 7,
                slidesToScroll: 7,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 6,
                            slidesToScroll: 6
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 5
                        }
                    },
                    {
                    breakpoint: 480,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    }
                ]
            });
        }
    );
</script>
