<div class="brand-wrap">
    <h2 class="dotted-header"><span><?= /* @escapeNotVerified */ __('Choose by Brand') ?></span></h2>
    <div class="brand-slider">
       <?php foreach ($block->getCollection() as $brand): ?>
            <div>
                <a href="<?php echo $brand->getUrlPath() ?>">
                    <img class="lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php  echo $block->getResizedImageUrl($brand->getImage(), 138); ?>" alt="<?php echo $block->escapeHtml($brand->getLabel()) ?>">
                </a>
            </div>
    <?php endforeach; ?>
    </div>
</div>
