<div class="character-wrapper">
    <h2 class="dotted-header"><span><?= /* @escapeNotVerified */ __('Choose Favourite Character') ?></span></h2>
    <div class="attribute-options-container">
        <?php foreach ($block->getCollection() as $character): ?>
            <div class="attribute-option">
                <a href="<?php echo $character->getUrlPath() ?>">
                    <img src="<?php  echo $block->getResizedImageUrl($character->getImage(), 130); ?>" alt="<?php echo $block->escapeHtml($character->getLabel()) ?>">
                    <p><?php echo $character->getLabel();?></p>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
</div>
