<div class="banner-wrapper">
<?php
$banners = $block->getBanner();//$block->getFrontBanners();
?>
<article id="slider">

        <!-- The Slider -->

        <div id=slides>
            <div id=overflow>
                <div class=inner>
                    <?php  foreach($banners as $index => $banner): ?>
                        <article>
                            <a href="<?php echo $banner->getLink() ?>" title="<?php echo $banner->getTitle() ?>"><img data-lazy=<?php echo $this->getImgFullPath($banner->getData('bannerimage')) ?>></a>
                        </article>
                    <?php endforeach; ?>
                </div> <!-- .inner -->
            </div> <!-- #overflow -->
        </div> <!-- #slides -->
        <!-- Controls and Active Slide Display -->

        <div id=controls>
            <?php $i=1;  foreach($banners as $index => $banner){  ?>
                <label class="bannerlabel" for=<?php echo 'slide'. $i ?>></label>
            <?php $i++;  }   ?>
        </div>

        <div id=active>
            <?php $i=1; foreach($banners as $index => $banner){  ?>
                <label class="bannerlabel" for=<?php echo 'slide'. $i ?>></label>
            <?php $i++;  }   ?>
        </div> <!-- #active -->


</article>

<script type="text/javascript">

var iPadLabels = function () {
            function fix() {
                var labels = document.getElementsByClassName('bannerlabel'),
                    target_id,
                    el;
                for (var i = 0; labels[i]; i++) {
                    if (labels[i].getAttribute('for')) {
                        labels[i].onclick = labelClick;
                    }
                }
            };
            function labelClick() {
                el = document.getElementById(this.getAttribute('for'));
                if (['radio', 'checkbox'].indexOf(el.getAttribute('type')) != -1) {
                    el.setAttribute('selected', !el.getAttribute('selected'));
                } else {
                    el.focus();
                }
            };
                return {
                fix: fix
            }
        }();

        window.onload = function () {
            iPadLabels.fix();
        }
</script>
</div>
