<div class="acty-checkout-coupon">
    <template v-if="enabled">
        <input type="checkbox" v-model="address.enabled"> <?php echo __('Different billing address'); ?>

        <div v-if="address.enabled" class="container">
            <div class="col-6 fieldset pr-1">
                <div class="field required">
                    <label class="label"><span><?php echo __('Company Name'); ?></span></label>

                    <div class="control">
                        <input type="text" class="input-text" v-model="address.company" @blur="setAddressData('company', address.company)">
                        <div v-if="errors.company" class="field-error">
                            <span>{{ $t(errors.company) }}</span>
                        </div>
                    </div>
                </div>

                <div class="field required">
                    <label class="label"><span><?php echo __('Registration code'); ?></span></label>

                    <div class="control">
                        <input type="text" class="input-text" v-model="address.code" @blur="setAddressData('registration_code', address.code)">
                        <div v-if="errors.code" class="field-error">
                            <span>{{ $t(errors.code) }}</span>
                        </div>
                    </div>
                </div>

                <div class="field required">
                    <label class="label"><span><?php echo __('Street'); ?></span></label>

                    <div class="control">
                        <input type="text" class="input-text" v-model="address.street" @blur="setAddressData('street', address.street)">
                        <div v-if="errors.street" class="field-error">
                            <span>{{ $t(errors.street) }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 fieldset pr-1">
                <div class="field required">
                    <label class="label"><span><?php echo __('City'); ?></span></label>

                    <div class="control">
                        <input type="text" class="input-text" v-model="address.city" @blur="setAddressData('city', address.city)">
                        <div v-if="errors.city" class="field-error">
                            <span>{{ $t(errors.city) }}</span>
                        </div>
                    </div>
                </div>

                <div class="field required">
                    <label class="label"><span><?php echo __('postcode'); ?></span></label>

                    <div class="control">
                        <input type="text" class="input-text" v-model="address.postcode" @blur="setAddressData('postcode', address.postcode)">
                        <div v-if="errors.postcode" class="field-error">
                            <span>{{ $t(errors.postcode) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
