<div class="acty-checkout-cart">
    <div class="cart-item" v-for="item, i in items">
        <div class="item-container">
            <div class="image pr-1 w-100px">
                <img v-if="item.thumbnail !== null" :src="item.thumbnail" :alt="item.name">
            </div>

            <div class="item-info">
                <p class="item-name"><b>{{ item.name }}</b> <a v-if="options.canDeleteItem" href="#" class="action delete" @click.prevent="removeItem(item.id)">x</a></p>

                <p class="item-qty">
                    <?php echo __('Quantity'); ?> {{ item.qty }} <?php echo __('pc'); ?>

                    <select v-if="options.canUpdateQty" v-model="item.qty" @change="updateQty(item.id, item.qty, i)">
                        <option v-for="n in maxAllowedChange(item)" :value="n">{{ n }}</option>
                    </select>
                </p>

                <p class="item-price"><?php echo __('Price'); ?> {{ item.base_row_total_incl_tax|price }} <?php echo __('EUR'); ?></p>

                <p v-if="item.options !== undefined">
                    <span v-for="option in (item.options)">{{ option.title }} </span>
                </p>

                <p v-if="item.error === true" class="has-error">
                    <?php echo __('Maximum allowed quantity {{ item.available }}'); ?>
                </p>
            </div>
        </div>

        <hr>
    </div>
    <div class="totals">
        <h5>{{ totals.subtotal.title }} {{ totals.subtotal.value|price }} <?php echo __('EUR'); ?></h5>
        <h5 v-if="totals.discount > 0"><?php echo __('Discount total'); ?> {{ totals.discount|price  }} <?php echo __('EUR'); ?></h5>
        <h5><?php echo __('Delivery'); ?> {{ totals.shipping.title }} {{ totals.shipping.value|price }} <?php echo __('EUR'); ?></h5>
        <h3>{{ totals.grand_total.title }} {{ totals.grand_total.value|price }} <?php echo __('EUR'); ?></h3>
    </div>
</div>
