<div id="acty-checkout" v-cloak>
    <template v-if="items > 0">
        <div class="container">
            <div class="col pr-3">
                <acty-checkout-customer></acty-checkout-customer>
                <acty-checkout-billing></acty-checkout-billing>
                <acty-checkout-shipping></acty-checkout-shipping>
                <acty-checkout-payment></acty-checkout-payment>
            </div>

            <div class="col">
                <acty-checkout-cart></acty-checkout-cart>
                <acty-checkout-coupon></acty-checkout-coupon>
                <acty-checkout-submit></acty-checkout-submit>
                <acty-checkout-crosssell></acty-checkout-crosssell>
            </div>
        </div>
    </template>

    <p v-if="items === 0"><?php echo __('You have no items in your shopping cart.'); ?></p>
</div>

<script>
    window.actyCheckout = {
        countries: <?php echo $block->getCountries(); ?>,
        paymentMethods: <?php echo $block->getPaymentMethods(); ?>,
        translations: <?php echo $block->getTranslations(); ?>,
        isProduction: <?php echo $block->isProduction() ? 'true' : 'false'; ?>,
        options: <?php echo $block->getOptions(); ?>,
        policy: <?php echo $block->getPolicy(); ?>,
        locale: <?php echo $block->getLocale(); ?>
    }
</script>

<?php foreach($block->getComponents() as $template): ?>
    <script type="text/x-template" id="acty-checkout-<?php echo $template; ?>">
        <?php echo $block->getChildHtml('acty.checkout.'.$template); ?>
    </script>
<?php endforeach; ?>

<script type="text/x-magento-init">
    {
        "*": {
            "acty-checkout": {}
        }
    }
</script>
