<div class="acty-checkout-coupon">
    <template v-if="enabled">
        <h1>Coupon</h1>

        <template  v-if="code === null">
            <input type="text" v-model="suggestion">
            <a href="#" @click.prevent="add(suggestion)">add</a>
        </template>

        <a v-else href="#" @click.prevent="remove">remove {{ code }}</a>

        <p v-if="error != false" class="has-error">{{ error }}</p>
    </template>
</div>
