<div class="acty-checkout-cart">
    <template v-if="enabled">
        <h1>crosssell</h1>

        <div v-for="item in items">
            <h2>{{ item.name }}</h2>
            <img :src="item.image" alt="item.name">
            <p class="regular-price" v-if="item.base_price !== item.price"><?php echo __('Regular Price'); ?> {{ item.base_price|price }} <?php echo __('EUR'); ?></p>
            <p><?php echo __('Price'); ?> {{ item.price|price }} <?php echo __('EUR'); ?></p>

            <a v-if="saleable(item)" @click.prevent="add(item.id)" :href="item.url"><?php echo __('Add to cart'); ?></a>
            <a v-else :href="item.url"><?php echo __('Add to cart'); ?></a>

            <hr>
        </div>
    </template>
</div>
