<div class="acty-checkout-customer">
    <div class="container">
        <div class="col-6 fieldset pr-1">
            <div class="field required">
                <label class="label"><span><?php echo __('First Name'); ?></span></label>

                <div class="control">
                    <input type="text" class="input-text" v-model="customer.firstname" @blur="setAddressData('firstname', customer.firstname)">
                    <div v-if="errors.firstname" class="field-error">
                        <span>{{ $t(errors.firstname) }}</span>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label class="label"><span><?php echo __('E-mail'); ?></span></label>

                <div class="control">
                    <input type="text" class="input-text" v-model="customer.email" @blur="setAddressData('email', customer.email)">
                    <div v-if="errors.email" class="field-error">
                        <span>{{ $t(errors.email) }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 fieldset">
            <div class="field required">
                <label class="label"><span><?php echo __('Last Name'); ?></span></label>

                <div class="control">
                    <input type="text" class="input-text" v-model="customer.lastname" @blur="setAddressData('lastname', customer.lastname)">
                    <div v-if="errors.lastname" class="field-error">
                        <span>{{ $t(errors.lastname) }}</span>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label class="label"><span><?php echo __('Phone Number'); ?></span></label>

                <div class="control">
                    <input type="text" class="input-text" v-model="customer.phone" @blur="setAddressData('telephone', customer.phone)">
                    <div v-if="errors.phone" class="field-error">
                        <span>{{ $t(errors.phone) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <fieldset class="fieldset">
        <div class="field required">
            <label class="label"><span><?php echo __('Country'); ?></span></label>

            <div class="control">
                <select v-model="customer.country">
                    <option v-for="country in countries" :value="country.value">{{ country.label }}</option>
                </select>
                <div v-if="errors.country" class="field-error">
                    <span>{{ $t(errors.country) }}</span>
                </div>
            </div>
        </div>

        <div class="field" v-if="options.hasComment">
            <label class="label"><?php echo __('Purchase comment'); ?></label>

            <div class="control">
                <textarea v-model="customer.comment" rows="3"></textarea>
            </div>
        </div>
    </fieldset>
    </fieldset>
</div>
