<div class="acty-checkout-payment">
    <div v-if="errors.method" class="field-error">
        <span>{{ $t(errors.method) }}</span>
    </div>

    <div class="container wrap">
        <div class="pr-1" v-for="method in paymentMethods">
            <input type="radio" v-model="payment.method" :value="method.code" :id="method.label">
            <label :for="method.label">
                <img :src="method.image" :alt="method.label" title="method.label">
            </label>
        </div>
    </div>
</div>
