<div class="acty-checkout-shipping">
    <div v-if="errors.carrier" class="field-error">
        <span>{{ $t(errors.carrier) }}</span>
    </div>

    <table class="table-checkout-shipping-method">
        <tbody>
            <template v-for="carrier in carriers">
                <tr class="row">
                    <td class="col col-method">
                        <input type="radio" v-model="shipping.carrier" :value="carrier.code">
                    </td>
                    <td class="col col-price">
                        {{ carrier.fee|price }} EUR
                    </td>
                    <td class="col col-method">
                        {{ carrier.label }}
                    </td>
                </tr>

                <tr class="row" v-if="shipping.carrier === carrier.code && carrier.methods.length === 1 && carrier.address === true">
                    <td colspan="3">
                        <div class="field required">
                            <label class="label"><span><?php echo __('Street'); ?></span></label>

                            <div class="control">
                                <input type="text" class="input-text" v-model="address.street" @blur="setAddressData('street', address.street)">
                                <div v-if="errors.street" class="field-error">
                                    <span>{{ $t(errors.street) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="field required">
                            <label class="label"><span><?php echo __('City'); ?></span></label>

                            <div class="control">
                                <input type="text" class="input-text" v-model="address.city" @blur="setAddressData('city', address.city)">
                                <div v-if="errors.city" class="field-error">
                                    <span>{{ $t(errors.city) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="field required">
                            <label class="label"><span><?php echo __('postcode'); ?></span></label>

                            <div class="control">
                                <input type="text" class="input-text" v-model="address.postcode" @blur="setAddressData('postcode', address.postcode)">
                                <div v-if="errors.postcode" class="field-error">
                                    <span>{{ $t(errors.postcode) }}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="row" v-if="shipping.carrier === carrier.code && carrier.methods.length > 1">
                    <td colspan="3">
                        <select v-model="shipping.method">
                            <option :value="null" :selected="shipping.method === null"><?php echo __('---- Vali Asukoht ----'); ?></option>

                            <optgroup v-for="method in carrier.methods" :label="method.name">
                                <option v-for="point in method.points" :value="point.code" :selected="point.code == shipping.method">{{ point.label }}</option>
                            </optgroup>
                        </select>

                        <div v-if="errors.method" class="field-error">
                            <span>{{ $t(errors.method) }}</span>
                        </div>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
