<div class="acty-checkout-payment">
    <form method="post" v-if="post.url !== null" :action="post.url" ref="postFieldsForm">
        <input type="hidden" v-for="field in post.fields" :name="field.name" :value="field.value">
    </form>

    <p class="input-container">
        <div class="checkbox-wrap">
            <input type="checkbox" v-model="accepted" id="accept-terms-checkbox">
            <label for="accept-terms-checkbox"></label>
        </div>

        <?php echo __("Agree <a href='#' @click.prevent='toggleAgreements'>terms and privacy</a>"); ?>

        <div v-if="accepted === false" class="field-error">
            <span><?php echo __('Please agree to all the terms and conditions before placing the order'); ?></span>
        </div>
    </p>

    <p class="input-container" v-if="options.hasPrivacy">
        <div class="checkbox-wrap">
            <input type="checkbox" v-model="subscribed" id="subscribe-newsletter">
            <label for="subscribe-newsletter"></label>
        </div>

        <?php echo __("Subscribe to newsletter and accept <a href='#' @click.prevent='togglePolicy'>privacy terms</a>"); ?>
    </p>

    <div v-if="error" class="field-error">
        <span>{{ error === true ? $t('validation.validation_error') : error }}</span>
    </div>

    <button v-if="submitting" class="button action continue" @click.prevent><?php echo __('PLEASE WAIT'); ?></button>
    <button v-else class="button action continue primary" @click.prevent="submit"><?php echo __('PLACE ORDER'); ?></button>

    <template v-if="agreements">
        <div role="dialog" class="modal-popup agreements-modal modal-slide _inner-scroll _show" style="z-index: 900;">
            <div class="modal-inner-wrap">
                <header class="modal-header">
                    <button class="action-close" type="button" @click.prevent="toggleAgreements">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </header>

                <div class="modal-content">
                    <div class="checkout-agreements-item-content">
                        <?php foreach ($block->getAgreements() as $agreement): ?>
                            <h1><?php echo $agreement['name']; ?></h1>

                            <?php echo $agreement['content']; ?>
                        <?php endforeach; ?>
                    </div>
                </div>

                <footer class="modal-footer">
                    <button class="action secondary action-hide-popup" type="button" @click.prevent="toggleAgreements">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </footer>
            </div>
        </div>

        <div class="modals-overlay" style="z-index: 899;"></div>
    </template>

    <template v-if="policy">
        <div role="dialog" class="modal-popup agreements-modal modal-slide _inner-scroll _show" style="z-index: 900;">
            <div class="modal-inner-wrap">
                <header class="modal-header">
                    <button class="action-close" type="button" @click.prevent="togglePolicy">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </header>

                <div class="modal-content">
                    <div class="checkout-agreements-item-content" v-html="policyContent"></div>
                </div>

                <footer class="modal-footer">
                    <button class="action secondary action-hide-popup" type="button" @click.prevent="togglePolicy">
                        <span><?php echo __('Close'); ?></span>
                    </button>
                </footer>
            </div>
        </div>

        <div class="modals-overlay" style="z-index: 899;"></div>
    </template>
</div>
