// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products.products-upsell,
    .products.products-related {
        margin: 15px 0 80px 0;
    }

    #back_to_top {
        display: block;
        margin: auto;
        span.to-top:before {
            content: '';
            height: 16px;
            width: 20px;
            background: url('@{baseDir}images/icons/arrowDown.png') no-repeat center center;
            .transform(rotate(180deg));
            background-size: 18px;
            display: block;
            margin: 5px auto;
        }
        p {
            color: @puhh-blue;
            font-weight: 600;
            text-align: center;
        }
    }

    .catalog-category-view,
    .catalogsearch-result-index,
    .amshopby-index-index,
    .ambrand-index-index {
        .block.widget {
            .block-title {
                display: block;
            }
        }
        &.page-products {
            .columns {
                padding-top: 0;
            }
        }
        .columns .column.main {
            padding-bottom: 0;
        }
        .breadcrumbs {
            height: 60px;
            .flex-display(flex);
            .align-items(center) ;
            padding: 0;
            display: none;
        }
        .category-title-container {
            display: none;
            .page-title {
                font-family: @h1__font-family;
                overflow: hidden;
                text-align: center;
                font-weight: normal;
                margin: 30px 0;
                font-size: 30px;
                & > span {
                    position: relative;
                    display: inline-block;
                }
                & > span:before,
                & > span:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    border-bottom: 4px dotted @puhh-dark-blue;
                    width: 592px; /* half of limiter */
                    margin: 0 20px;
                }
                & > span:before{
                    right: 100%;
                }
                & > span:after{
                    left: 100%;
                }
            }
        }
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block !important;
                width: 100%/2;
            }

            &.slick-slide.item.product {
                padding: 12px 6px;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: none;
                -ms-hyphens: none;
                -webkit-hyphens: none;
                display: block;
                hyphens: none;
                margin: 0 0 @indent__xs 0;
                word-wrap: break-word;
                .product-item-link {
                    font-weight: 400;
                    font-size: 17px;
                }
            }

            &-info {
                max-width: 100%;
                // width: 152px;
                border-radius: 0 0 10px 10px;
                position: relative;
                .box-shadow(0 0 7px 0 @puhh-gray);

                .page-products & {
                    // width: 240px;
                }

                .product-item-photo {
                    .product-image-photo {
                        padding: 10px;
                        box-sizing: border-box;
                    }
                }

                .box-cover-link {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .discount-container {
                    position: absolute;
                    top: 0;
                    z-index: 2;
                    width: 100%;
                    .discount-percentage {
                        font-family: @h1__font-family;
                        font-size: 20px;
                        color: @color-white;
                        float: right;
                        padding: 2px 0;
                        position: relative;
                        margin-right: 0px;
                        width: 54px;
                        box-sizing: border-box;
                        text-align: center;
                        &:after {
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            width: 0;
                            height: 42px;
                            border: 27px solid @puhh-red;
                            border-top: 0 solid rgba(0,0,0,1);
                            border-bottom: 12px solid transparent;
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: -1;
                        }
                    }
                    .new-label {
                        font-family: @h1__font-family;
                        text-transform: uppercase;
                        font-size: 20px;
                        color: @color-white;
                        float: left;
                        padding: 2px 0;
                        position: relative;
                        margin-left: 0px;
                        width: 54px;
                        box-sizing: border-box;
                        text-align: center;
                        &:after {
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            width: 0;
                            height: 42px;
                            border: 27px solid @puhh-blue;
                            border-top: 0 solid rgba(0,0,0,1);
                            border-bottom: 12px solid transparent;
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: -1;
                        }
                    }
                }
            }
            &-details {
                padding: 13px;
                text-align: center;
            }

            &-actions {
                display: none;

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                margin-bottom: 10px;
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                margin: 0;

                .price {
                    white-space: nowrap;
                    font-size: 14px;
                }

                .price-label {
                    .lib-css(color, @puhh-dark-blue);
                    font-size: 14px;
                }
            }

            .guest-price {
                margin: 5px 0 0;
                display: block;
            }

            .guest-promo-price {
                font-weight: 600;
                .price {
                    font-size: 15px;
                }

                .price-label {
                    font-size: 15px;
                }
            }

            .old-price {
                margin: @indent__xs 0 0;
                display: block;
                font-size: 15px;
                color: @puhh-dark-gray;
                text-decoration: line-through;
                .price-label {
                    .lib-css(color, @puhh-dark-gray);
                }
                .price {
                    font-size: 14px;
                    font-weight: normal;
                }
            }

            .special-price {
                color: @puhh-red;
                font-weight: 600;
                font-size: 15px;
                .price-label {
                    color: @puhh-red;
                    height: auto;
                    width: auto;
                    position: static;
                    clip: initial;
                    font-size: 15px;
                }
                .price {
                    font-weight: 600;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(15px);
                padding: 10px;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
                margin: 12px 0;
                &.with-icon {
                    span {
                        &::before {
                            content: '';
                            height: 16px;
                            width: 18px;
                            background: url('@{baseDir}images/icons/cart_white.svg') no-repeat center center;
                            background-size: 18px;
                            display: inline-block;
                            vertical-align: bottom;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding: 0 6px 12px;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .column.main {
        .products-grid {
            margin: 0 -10px;
        }
        .item.product-item {
            width: 100%;
            .product-item-info {
                .flex-display(flex);
                .align-items(center);
                border-radius: 10px;
                .product-item-photo {
                    width: 30%;
                    min-width: 92px;
                    margin: 13px 0 13px 13px;
                    display: inline-block;
                    .product-image-photo {
                        padding: 0;
                    }
                    .product-image-container {
                        vertical-align: middle;
                    }
                }
                .discount-container {
                    width: 30%;
                    .flex-display(flex);
                    .discount-percentage,
                    .new-label {
                        width: 36px;
                        font-size: 16px;
                        padding: 2px 0;
                        float: none;
                        display: inline-block;
                        margin: 0 0 0 2px;
                        &:after {
                            border-left-width: 18px;
                            border-right-width: 18px;
                            border-bottom-width: 10px;
                            height: 36px;
                        }
                    }
                }
                .product-item-details {
                    text-align: left;
                    width: 100%;
                    display: inline-block;
                    padding: 13px 10px;
                    .old-price,
                    .guest-price {
                        margin: 2px 0 0;
                    }
                    .product-item-name{
                        margin: 0 0 2px 0;
                        .product-item-link {
                            font-size: 15px;
                        }
                    }
                    .product-reviews-summary {
                        margin-bottom: 5px;
                        .reviews-actions {
                            margin-top: 0;
                            margin-top: 2px;
                        }
                    }
                    .product-item-actions {
                        display: block;
                        .actions-primary {
                            .flex-display(flex);
                            .justify-content(space-between);
                            .flex-wrap(wrap);
                            .flex-direction(row-reverse);
                        }
                        .action {
                            background: transparent;
                            margin: 0;
                            border: none;
                            color: @puhh-blue;
                            padding: 7px 0;
                            position: relative;
                            z-index: 1;
                            span {
                                &:before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .product-item-info {
        .discount-container {
            .discount-percentage {
                font-size: 20px;
                padding: 9px 0;
                position: relative;
                margin-right: 5px;
                width: 56px;
                &:after {
                    height: 56px;
                    border: 28px solid @puhh-red;
                    border-bottom: 12px solid transparent;
                }
            }
            .new-label {
                font-size: 20px;
                padding: 9px 0;
                margin-left: 5px;
                width: 56px;
                &:after {
                    height: 56px;
                    border: 28px solid @puhh-blue;
                    border-bottom: 12px solid transparent;
                }
            }
        }
    }
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                .box-shadow(0 0 7px 0 #999999);
                position: relative;
                z-index: 2;

                .product-item-inner {
                    display: block;
                }
                .product-item-actions {
                    z-index: 1;
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        top: 9px;
                        left: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, @product-item__hover__box-shadow);
            border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            margin: 9px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            .transform(translate(-50%, -50%));
        }

        .actions-primary + .actions-secondary {
            display: table-cell;
            // padding-left: 10px;
            width: 50%;
            vertical-align: middle;

            > .action {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: table-cell;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .product-item-actions {
            // position: relative;
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: 0;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view,
    .catalogsearch-result-index,
    .amshopby-index-index,
    .ambrand-index-index {
        .block.widget {
            .block-title {
                display: none;
            }
        }
        #back_to_top {
            display: none;
        }
        .breadcrumbs {
            height: auto;
            display: block;
        }
    }
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }

    .catalog-category-view,
    .catalogsearch-result-index,
    .amshopby-index-index,
    .ambrand-index-index {
        .category-title-container {
            display: block;
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
                // padding: 0 10px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .catalog-category-view,
    .catalogsearch-result-index,
    .amshopby-index-index,
    .ambrand-index-index {
        .column.main {
            width: 81%;
        }
        .sidebar.sidebar-main {
            width: 19%;
        }
    }

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/5;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                // margin-left: calc(~'(100% - 4 * 24.439%) / 3');
                width: 25%;

                // &:nth-child(4n + 1) {
                //     margin-left: 0;
                // }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
