<script>
    window.actyReviews = {
        productId: <?php echo $block->getProductId(); ?>
    };
</script>

<div v-if="items.length > 0" id="acty-review" v-cloak>
    <div class="block review-list" id="customer-reviews">
        <div class="block-content">
            <ol class="items review-items">
                <li v-for="item in items" class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                    <div class="review-ratings">
                        <div v-for="vote in item.votes" class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <div class="rating-result" :title="vote.percent">
                                <meta itemprop="worstRating" content = "1">
                                <meta itemprop="bestRating" content = "100">

                                <span :style="'width:' + vote.percent + '%'">
                                    <span itemprop="ratingValue">{{ vote.percent }}%</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="review-content" itemprop="description">
                        <template v-for="line in item.detail.split('\n')">{{ line }}<br></template>
                    </div>

                    <div class="review-details">
                        <p class="review-date">
                            <p class="review-author">
                                <strong class="review-details-value" itemprop="author">{{ item.nickname }}</strong>
                            </p>
                            <span class="review-details-label"><?php echo __('Posted on') ?></span>
                            <time class="review-details-value" itemprop="datePublished" :datetime="item.datetime">{{ item.date }}</time>
                        </p>
                    </div>
                </li>
            </ol>

            <div v-if="items.length > 0" class="load-more-wrapper">
                <a class="load-more" @click.prevent="more" :class="items.length == total ? 'disabled' : ''" :disabled="items.length == total">
                    <?php echo __('Load more') ?>
                </a>
            </div>

            <div class="toolbar review-toolbar">
                <?php echo $block->getChildHtml('toolbar') ?>
            </div>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "acty-reviews": {}
        }
    }
</script>
