<div id="back_to_top">
    <span class="to-top"></span>
    <p><?= /* @escapeNotVerified */ __('Back to top') ?></p>
</div>

<script>
    require(
        [
            'jquery'
        ],
        function($,modal) {
            $('#back_to_top').click(function() {
                $('body,html').animate({scrollTop:0},500);
            });
        }
    );
</script>
