<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_B2bRegistration
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * New Customer block template
 *
 * @var \Bss\B2bRegistration\Block\Form\Login\Info $block
 */
?>
<?php 
    $enable = $block->isEnable();
    $enableShortCut = $block->isEnableShortcutLink();
    $shortCutLinkText = $block->getShortcutLinkText();
    $b2bCreateUrl = $block->getUrlB2bAccountCreate();
?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?php echo $block->escapeHtml(__('New Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
       <h4><?= $block->escapeHtml(__("What's the benefit of becoming a Karupoeg Puhh store member?")) ?></h4>
        <ul>
            <li><?= $block->escapeHtml(__("Registered members will always get a 10% discount to all products.")) ?> </li>
            <li><?= $block->escapeHtml(__("Ordering with prefilled form fields is faster and more convenient.")) ?> </li>
            <li><?= $block->escapeHtml(__("You can keep an eye on your previous orders.")) ?> </li>
            <li><?= $block->escapeHtml(__("There are often sales campaigns with great prices for registered customers.")) ?> </li>
        </ul>
        <div class="actions-toolbar">
            <?php if (($enable && $block->getRegistration()->isAllowed()) || !$enable): ?>
                <div class="primary">
                    <a href="<?php echo $block->escapeUrl($block->getCreateAccountUrl()) ?>" class="action create primary"><span><?php echo $block->escapeHtml(__('Create an Account')) ?></span></a>
                </div>
            <?php endif; ?>
            <?php if ($enable): ?>
                <div class="second-primary">
                    <a href="<?php echo $block->escapeUrl($b2bCreateUrl) ?>" class="action create primary"><span><?php echo $block->escapeHtml(__($shortCutLinkText)) ?></span></a>
                </div>
            <?php endif ?>
        </div>
    </div>
</div>
