@font-face {
    font-display: swap;
    font-family: 'slick';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/slick.eot') format('embedded-opentype'),
    url('../fonts/slick.woff') format('woff'),
    url('../fonts/slick.svg') format('svg'),
    url('../fonts/slick.tff') format('truetype');
}@font-face {
    font-display: swap;
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Montserrat-Regular.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.tff') format('truetype');
}@font-face {
    font-display: swap;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/montserrat-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}@font-face {
    font-display: swap;
    font-family: 'PatrickHandSC-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/patrick-hand-sc-v5-latin-regular.eot') format('embedded-opentype'),
    url('../fonts/patrick-hand-sc-v5-latin-regular.woff') format('woff'),
    url('../fonts/patrick-hand-sc-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/patrick-hand-sc-v5-latin-regular.svg') format('svg'),
    url('../fonts/patrick-hand-sc-v5-latin-regular.tff') format('truetype');
}@font-face {
    font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}@font-face {
    font-display: swap;
  font-family: 'Open-Sans-600';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
