<!--
/**
 * Makecommerce Template
 *
 * @category    Makecommerce
 * @package     Makecommerce_Ecommerce
 * @author      Maksekeskus AS <info@maksekeskus.ee>
 * @copyright   Makecommerce
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<!-- Divided means many separate channels, backend config === inline -->
<!-- ko if: (!getUIManager().isDivided()) -->
    <!-- Banks can be grouped by country, each country will be a separate widget -->
    <!-- ko if: !getUIManager().areBanksGrouped() -->
        <!-- ko if: getChannelManager().getBanks().length  -->
            <div class="payment-method" data-bind="css: {'_active': getUIManager().isMonoActive() }">
                <div class="payment-method-title field choice">
                    <input type="radio"
                           name="payment[method]"
                           class="radio"
                           data-bind="attr: {'id': getCode(), 'checked': getUIManager().isMonoActive()},
                               value: getCode(),
                               click: getUIManager().selectMono(),
                               visible: isRadioButtonVisible()"/>
                    <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
                </div>
                <div class="payment-method-content">
                    <!-- ko foreach: getRegion('messages') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <div class="payment-method-billing-address">
                        <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                    </div>
                    <div class="payment-method-makecommerce-countries">
                        <!-- ko if: !getUIManager().useFlags() -->
                            <select data-bind="
                             options: getCountryManager().getCollection(),
                             optionsText: 'title',
                             value: getCountryManager().getObserver()">
                            </select>
                        <!-- /ko  -->
                        <!-- ko if: getUIManager().useFlags() -->
                            <!-- ko foreach: getCountryManager().getCollection() -->
                                <div class="countryImage" data-bind="
                                style:{'background-image': 'url('+imagePath+')'},
                                click: $parent.getCountryManager().selectCountry($data),
                                css: { activeCountry:  $parent.getCountryManager().isCountrySelected($data) }"></div>
                            <!--/ko-->
                        <!-- /ko -->
                    </div>
                    <div data-bind=" attr: { class: getUIManager().getLogoSize() }">
                        <!-- ko if: !getUIManager().areCardsGrouped() -->
                            <!-- ko foreach: getChannelManager().getBanks() -->
                                <span
                                    class="makecommerceOverlay"
                                    data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                    css: {
                                        disabled: $parent.getChannelManager().isChannelDisabled($data)
                                    }" >
                                    <img
                                    class="makecommerceLink"
                                    data-bind="
                                        attr:{src: imagePath},
                                        click: $parent.getChannelManager().selectChannel($data),
                                        visible: $parent.getChannelManager().isChannelVisible($data),
                                        css: {
                                            activeLink: $parent.getChannelManager().isChannelSelected($data),
                                            disabled: $parent.getChannelManager().isChannelDisabled($data)
                                        }">
                                </span>
                            <!--/ko-->
                            <!-- ko foreach: getChannelManager().getOthers() -->
                                <span
                                    class="makecommerceOverlay"
                                    data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                    css: {
                                        disabled: $parent.getChannelManager().isChannelDisabled($data)
                                    }" >
                                    <img
                                    class="makecommerceLink"
                                    data-bind="
                                        attr:{src: imagePath},
                                        click: $parent.getChannelManager().selectChannel($data),
                                        visible: $parent.getChannelManager().isChannelVisible($data),
                                        css: {
                                            activeLink: $parent.getChannelManager().isChannelSelected($data),
                                            disabled: $parent.getChannelManager().isChannelDisabled($data)
                                        }">
                                </span>
                            <!--/ko-->
                            <!-- ko foreach: getChannelManager().getPaylaters() -->
                                <span
                                    class="makecommerceOverlay"
                                    data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                    css: {
                                        disabled: $parent.getChannelManager().isChannelDisabled($data)
                                    }" >
                                    <img
                                    class="makecommerceLink"
                                    data-bind="
                                        attr:{src: imagePath},
                                        click: $parent.getChannelManager().selectChannel($data),
                                        visible: $parent.getChannelManager().isChannelVisible($data),
                                        css: {
                                            activeLink: $parent.getChannelManager().isChannelSelected($data),
                                            disabled: $parent.getChannelManager().isChannelDisabled($data)
                                        }">
                                </span>
                            <!--/ko-->
                            <!-- ko foreach: getChannelManager().getCards() -->
                                <span class="makecommerceOverlay" 
                                    data-bind="css: {
                                    disabled: $parent.getChannelManager().isChannelDisabled($data)
                                }" >
                                    <img 
                                    class="makecommerceLink"
                                    data-bind="
                                        attr:{src: imagePath}, 
                                        click: $parent.getChannelManager().selectChannel($data), 
                                        css: { 
                                            activeLink: $parent.getChannelManager().isChannelSelected($data),  
                                            disabled: $parent.getChannelManager().isChannelDisabled($data) 
                                        }">
                                </span>
                            <!--/ko-->
                        <!--/ko-->

                        <!-- ko if: getUIManager().areCardsGrouped() -->
                            <!-- ko foreach: getChannelManager().getBanks() -->
                                <span
                                    class="makecommerceOverlay"
                                    data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                    css: {
                                        disabled: $parent.getChannelManager().isChannelDisabled($data)
                                    }" >
                                    <img
                                    class="makecommerceLink"
                                    data-bind="
                                        attr:{src: imagePath},
                                        click: $parent.getChannelManager().selectChannel($data),
                                        visible: $parent.getChannelManager().isChannelVisible($data),
                                        css: {
                                            activeLink: $parent.getChannelManager().isChannelSelected($data),
                                            disabled: $parent.getChannelManager().isChannelDisabled($data)
                                        }">
                                </span>
                            <!--/ko-->
                            <!-- ko foreach: getChannelManager().getOthers() -->
                                <span
                                    class="makecommerceOverlay"
                                    data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                    css: {
                                        disabled: $parent.getChannelManager().isChannelDisabled($data)
                                    }" >
                                    <img
                                    class="makecommerceLink"
                                    data-bind="
                                        attr:{src: imagePath},
                                        click: $parent.getChannelManager().selectChannel($data),
                                        visible: $parent.getChannelManager().isChannelVisible($data),
                                        css: {
                                            activeLink: $parent.getChannelManager().isChannelSelected($data),
                                            disabled: $parent.getChannelManager().isChannelDisabled($data)
                                        }">
                                </span>
                            <!--/ko-->
                            <!-- ko foreach: getChannelManager().getPaylaters() -->
                                <span
                                    class="makecommerceOverlay"
                                    data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                    css: {
                                        disabled: $parent.getChannelManager().isChannelDisabled($data)
                                    }" >
                                    <img
                                    class="makecommerceLink"
                                    data-bind="
                                        attr:{src: imagePath},
                                        click: $parent.getChannelManager().selectChannel($data),
                                        visible: $parent.getChannelManager().isChannelVisible($data),
                                        css: {
                                            activeLink: $parent.getChannelManager().isChannelSelected($data),
                                            disabled: $parent.getChannelManager().isChannelDisabled($data)
                                        }">
                                </span>
                            <!--/ko-->
                        <!--/ko-->
                    </div>
                    <div class="checkout-agreements-block">
                        <!-- ko foreach: $parent.getRegion('before-place-order') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                    </div>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button class="action primary checkout"
                                    type="submit"
                                    data-bind="
                                    click: placeOrder,
                                    attr: {title: $t('Place Order')},
                                    css: {disabled: !getUIManager().isOrderPlaceAllowed()},
                                    enable: getUIManager().isOrderPlaceAllowed()
                                    "
                                    disabled>
                                <span data-bind="text: $t('Place Order')"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /ko -->
    <!-- /ko -->
    <!--
        UIManager's select country is different from ChannelManager's one
        It also tracks state and selects the payment method for magento
     -->
    <!-- ko if: getUIManager().areBanksGrouped()  -->
        <!-- ko if: getChannelManager().getBanks().length  -->
            <!-- ko foreach: getCountryManager().getCollection() -->
                <!-- ko with: $parent -->
                    <div
                        class="payment-method"
                        data-bind="css: {
                            '_active': getUIManager().isCountryActive($parent)
                        }">
                        <div class="payment-method-title field choice">
                            <input type="radio"
                                name="payment[method]"
                                class="radio"
                                data-bind="attr: {
                                    'id': $parent.name,
                                    'checked': getUIManager().isCountryActive($parent)
                                },
                                value: getCode(),
                                click: getUIManager().selectCountry($parent),
                                visible: isRadioButtonVisible()"/>
                                <label class="makecommerce-title" data-bind="attr: {'for': $parent.name }" class="label">
                                <span  data-bind="html: $parent.title "></span>
                                </label>
                        </div>
                        <div class="payment-method-content">
                            <!-- ko foreach: $parents[2].getRegion('messages') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                            <!--/ko-->
                            <div class="payment-method-billing-address">
                                <!-- ko foreach: $parents[2].getRegion(getBillingAddressFormName()) -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!--/ko-->
                            </div>
                            <div data-bind=" attr: { class: getUIManager().getLogoSize() }">
                                <!-- ko if: !getUIManager().areCardsGrouped() -->
                                    <!-- ko foreach:getChannelManager().getCollection() -->
                                        <span
                                            class="makecommerceOverlay"
                                            data-bind="
                                                visible: $parent.getChannelManager().isChannelVisible($data),
                                                css: {
                                                    disabled: $parent.getChannelManager().isChannelDisabled($data)
                                                }"
                                        >
                                            <img
                                            class="makecommerceLink"
                                            data-bind="
                                                attr:{src: imagePath},
                                                click: $parent.getChannelManager().selectChannel($data),
                                                visible: $parent.getChannelManager().isChannelVisible($data),
                                                css: {
                                                    activeLink: $parent.getChannelManager().isChannelSelected($data), disabled: $parent.getChannelManager().isChannelDisabled($data)
                                                }">
                                        </span>
                                    <!--/ko-->
                                <!--/ko-->
                                <!-- ko if: getUIManager().areCardsGrouped() -->
                                    <!-- ko foreach: getChannelManager().getBanks() -->
                                        <span
                                            class="makecommerceOverlay"
                                            data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                            css: {
                                                disabled: $parent.getChannelManager().isChannelDisabled($data)
                                            }" >
                                            <img
                                            class="makecommerceLink"
                                            data-bind="
                                                attr:{src: imagePath},
                                                click: $parent.getChannelManager().selectChannel($data),
                                                visible: $parent.getChannelManager().isChannelVisible($data),
                                                css: {
                                                    activeLink: $parent.getChannelManager().isChannelSelected($data),
                                                    disabled: $parent.getChannelManager().isChannelDisabled($data)
                                                }">
                                        </span>
                                    <!--/ko-->
                                    <!-- ko foreach: getChannelManager().getOthers() -->
                                        <span
                                            class="makecommerceOverlay"
                                            data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                            css: {
                                                disabled: $parent.getChannelManager().isChannelDisabled($data)
                                            }" >
                                            <img
                                            class="makecommerceLink"
                                            data-bind="
                                                attr:{src: imagePath},
                                                click: $parent.getChannelManager().selectChannel($data),
                                                visible: $parent.getChannelManager().isChannelVisible($data),
                                                css: {
                                                    activeLink: $parent.getChannelManager().isChannelSelected($data),
                                                    disabled: $parent.getChannelManager().isChannelDisabled($data)
                                                }">
                                        </span>
                                    <!--/ko-->
                                    <!-- ko foreach: getChannelManager().getPaylaters() -->
                                        <span
                                            class="makecommerceOverlay"
                                            data-bind="visible: $parent.getChannelManager().isChannelVisible($data),
                                            css: {
                                                disabled: $parent.getChannelManager().isChannelDisabled($data)
                                            }" >
                                            <img
                                            class="makecommerceLink"
                                            data-bind="
                                                attr:{src: imagePath},
                                                click: $parent.getChannelManager().selectChannel($data),
                                                visible: $parent.getChannelManager().isChannelVisible($data),
                                                css: {
                                                    activeLink: $parent.getChannelManager().isChannelSelected($data),
                                                    disabled: $parent.getChannelManager().isChannelDisabled($data)
                                                }">
                                        </span>
                                    <!--/ko-->
                                <!--/ko-->
                            </div>
                            <div class="checkout-agreements-block">
                                <!-- ko foreach: $parents[2].getRegion('before-place-order') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!--/ko-->
                            </div>
                            <div class="actions-toolbar">
                                <div class="primary">
                                    <button class="action primary checkout"
                                            type="submit"
                                            data-bind="
                                            click: placeOrder,
                                            attr: {title: $t('Place Order')},
                                            css: {disabled: !getUIManager().isOrderPlaceAllowed()},
                                            enable: getUIManager().isOrderPlaceAllowed($parent)
                                            "
                                            disabled>
                                        <span data-bind="text: $t('Place Order')"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: getUIManager().areCardsGrouped()-->
        <div class="payment-method" data-bind="css: { '_active': getUIManager().isCardActive() }">
            <div class="payment-method-title field choice">
                <input type="radio"
                       name="payment[method]"
                       class="radio"
                       data-bind="attr: {
                            'id': getCardCode(), 
                            'checked': getUIManager().isCardActive()
                        },
                       value: getCode(),
                       click: getUIManager().selectCard(), 
                       visible: isRadioButtonVisible()"/>
                <label data-bind="attr: {'for': getCardCode()}" class="label"><span data-bind="text: getCardGroupTitle()"></span></label>
            </div>
            <div class="payment-method-content">
                <!-- ko foreach: getRegion('messages') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
                <div class="payment-method-billing-address">
                    <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
                <div data-bind=" attr: { class: getUIManager().getLogoSize() }">
                    <!-- ko foreach: getChannelManager().getCards() -->
                        <span class="makecommerceOverlay" 
                            data-bind="css: {
                            disabled: $parent.getChannelManager().isChannelDisabled($data)
                        }" >
                            <img 
                            class="makecommerceLink"
                            data-bind="
                                attr:{src: imagePath}, 
                                click: $parent.getChannelManager().selectChannel($data), 
                                css: { 
                                    activeLink: $parent.getChannelManager().isChannelSelected($data),  
                                    disabled: $parent.getChannelManager().isChannelDisabled($data) 
                                }">
                        </span>
                    <!--/ko-->
                </div>
                <div class="checkout-agreements-block">
                    <!-- ko foreach: $parent.getRegion('before-place-order') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action primary checkout"
                                type="submit"
                                data-bind="
                                click: placeOrder,
                                attr: {title: $t('Place Order')},
                                css: {disabled: !getUIManager().isOrderPlaceAllowed()},
                                enable: getUIManager().isOrderPlaceAllowed()
                                "
                                disabled>
                            <span data-bind="text: $t('Place Order')"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <!-- /ko -->      
<!-- /ko -->



<!-- ko if: getUIManager().isDivided() -->
    <!-- ko foreach: getChannelManager().getCollection() -->
        <!-- ko with: $parent -->
            <div class="payment-method" data-bind="css: {'_active': getUIManager().isChannelActive($parent)  }">
                <div class="payment-method-title field choice">
                    <input type="radio"
                        name="payment[method]"
                        class="radio"
                        data-bind="attr: {'id': $parent.getId(), 
                        'checked': getUIManager().isChannelActive($parent)}, 
                        value: getCode(),
                        click:  getUIManager().selectChannel($parent) , 
                        visible: isRadioButtonVisible()"/>
                        <label data-bind="attr: {'for': $parent.getId() }" class="label">
                        <span data-bind="html: $parent.getTitle() "></span>
                        </label>
                </div>
                <div class="payment-method-content">
                    <!-- ko foreach: $parents[2].getRegion('messages') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <div class="payment-method-billing-address">
                        <!-- ko foreach: $parents[2].getRegion(getBillingAddressFormName()) -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                    </div>
                    <div class="checkout-agreements-block">
                        <!-- ko foreach: $parents[2].getRegion('before-place-order') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                    </div>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button class="action primary checkout"
                                    type="submit"
                                    data-bind="
                                    click: placeOrder,
                                    attr: {title: $t('Place Order')},
                                    css: {disabled: !getUIManager().isOrderPlaceAllowed()},
                                    enable: getUIManager().isOrderPlaceAllowed()
                                    "
                                    disabled>
                                <span 
                                data-bind="text: !getChannelManager().isChannelDisabled($parent) ? 
                                    $t('Place Order') : $t('Unavailable')"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->