<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productid = $this->getRequest()->getParam('id');                                       
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productid);
$taxCalculation = $objectManager->create('\Magento\Tax\Api\TaxCalculationInterface');
$scopeConfig = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface'); 
$buyplan_divide = 3;   
if ($taxAttribute = $product->getCustomAttribute('tax_class_id')) {
    $productRateId = $taxAttribute->getValue();        
    $taxCalculation = $objectManager->create('Magento\Tax\Model\Calculation\Rate')->load($productRateId);
    $rate = $taxCalculation->getRate();

    if ((int) $scopeConfig->getValue('tax/calculation/price_includes_tax', \Magento\Store\Model\ScopeInterface::SCOPE_STORE) === 1) {
        $priceExcludingTax = $product->getPrice() / (1 + ($rate / 100));
    } else {
         $priceExcludingTax = $product->getPrice();
    }        
}
        $priceIncludingTax = $priceExcludingTax + ($priceExcludingTax * ($rate / 100));

        $real_price = $priceIncludingTax / $buyplan_divide;
       $main_price = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($real_price, 2), true, false) ;       
        //print_r($product);

        $disount_price = $product->getFinalPrice(); 
        $devide_discount = $disount_price / $buyplan_divide;
       $dicountPrice = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($devide_discount, 2), true, false) ;


        $special_price = $product->getSpecialPrice();
        $devide_price = $special_price / $buyplan_divide;
	    $specialPrice = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($devide_price, 2), true, false) ;
        
        $item_buyplan = '';
        if($specialPrice != 0){
        	$item_buyplan = $specialPrice;
        }elseif($dicountPrice){
        	$item_buyplan = $dicountPrice;
        }else{
        	$item_buyplan = $main_price;
        }

?>

<?php if($block->getBaseUrl() == "https://www.karupoegpuhh.ee/"): ?>

<div class="buyplan-wrapper">
	<div class="modena-content">
		<img src="<?= $block->getViewFileUrl('images/modena.png');?>" />
	    <p><?php echo  $item_buyplan; ?> <span class="pum-trigger"><?php echo ('kuus'); ?></span></p>
	</div>
</div>

<div class="modema-full-content">
	 	<div class="popup-overlay"></div>
		<div class="popup-content popup popmake-content">			
			<p>
					<img class="size-full lazyloaded" src="<?php echo $this->getBaseUrl().'pub/media/wysiwyg/modena-small.png'?>" />
				<noscript>
					<img class="size-full lazyloaded" src="<?php echo $this->getBaseUrl().'pub/media/wysiwyg/modena-small.png'?>" /> 
				</noscript> 
			</p>
			<div class="modema-content">
				<p>Maksa ostude eest 30-90 päeva hiljem 1–3 võrdses osas <strong>ilma</strong> 
				<strong>intressi&nbsp;</strong>ning<strong> teenustasudeta</strong>.</p>
				<h3>Kuidas Modenaga osta?</h3>
				<ul>
				<li>Lisa toode ostukorvi</li>
					<li>Vali makseviisiks <img class="alignnone lazyloaded" src="<?php echo $this->getBaseUrl().'pub/media/wysiwyg/modena-small.png'?>" /><noscript>
						<img class="alignnone lazyloaded" src="<?php echo $this->getBaseUrl().'pub/media/wysiwyg/modena-small.png'?>" /> 
					</noscript> 
				</li>
				<li>Maksa 30-päeva pärast või jaga summa kolmeks.</li>
				</ul>
			</div>	
			<button class="close"><?php echo "x"; ?></button>		
		</div>	
		 	
</div>
<?php endif; ?>

<script>
// jQuery extend functions for popup
require(["jquery"], function($){
	 jQuery(".pum-trigger").on("click", function(){
	  jQuery("body, .popup-overlay, .popup-content").addClass("active");
	});

   jQuery(".close, .popup-overlay").on("click", function(){
    jQuery("body, .popup-overlay, .popup-content").removeClass("active");
   });

});
</script>

<style>
.buyplan-wrapper .pum-trigger {
    text-decoration: underline;
}
.buyplan-wrapper .pum-trigger:hover, .buyplan-wrapper .pum-trigger:focus {
    color: #5fbdeb;
}
.buyplan-wrapper .modena-content {
    margin-bottom: 20px;
}
.buyplan-wrapper strong {
    background: #EBECF0;
    color: #000000;
    font-size: 26px;
    padding: 0px 5px;
    margin-bottom: 10px;
    display: block;
    width: max-content;
    font-family: inherit;
}
.buyplan-wrapper p {
    font-size: 18px;
    color: #b3b3b3;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: inherit;
    margin-bottom: 3px;
}
.buyplan-wrapper img {
    margin-top:-80px;
}
.buyplan-wrapper {
    font-size: 12px;
}
.popup-overlay.active {
    background: rgba(255,255,255,.74);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11111111 !important;
    overflow: hidden;
}

.popup-content.popup.popmake-content.active {
	position: fixed;
    z-index: 1111111111 !important;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #fff;
    max-width: 500px;
    padding: 20px 20px 20px;
    height: 240px;
    box-shadow: 0 0 15px #ccc;
}
.popup-content.popup.popmake-content.active p img {
    height: 40px;
    width: auto !important;
    max-width: max-content;
}
.popup-content.popup.popmake-content ul li {
    margin: 0;
    padding: 0;
}

.popup-content.popup.popmake-content ul li img {
    margin: 0;
    padding: 0 !important;
    height:18px;
}

.popup-content.popup.popmake-content button.close {
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    cursor: pointer;
    right: 15px;
}

.pum-trigger {
    cursor: pointer;
}

.pum-trigger:hover {
    opacity: 0.7;
}

.modema-content {
    color: #000;
}
.popup-overlay {
    display: none;
}

.popup-content.popup.popmake-content {
    display: none;
}

.popup-content.popup.popmake-content.active {
    display: block;
}

.popup-overlay.active {
    display: block;
}
body.active{
	overflow: hidden;
}
@media(max-width:480px){
.popup-content.popup.popmake-content.active {
    max-width: 300px;
    padding: 15px;
    box-sizing: border-box;
    height: 310px;
}}
</style>