<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>

<?php if ($_additional = $block->getAdditionalData()): ?>
    <?php if (isset($_additional['vanus_kuudes'])): ?>
        <div class="product attribute ages">
            <span class="age-label"><?php echo __('Age') ?>: <?php echo $_additional['vanus_kuudes']['value'] ?></span>
            </span>
        </div>
    <?php endif; ?>
<?php endif; ?>
