<?php $img = $this->getBrandImage();?>

<?php if ($img): ?>
 <div class="product-brand-image">
    <a href="<?php echo $this->getBrandPageUrl(); ?>">
        <img src="<?php echo $img;?>" alt="<?php echo $this->getBrandTitle() ?>" title="<?php echo $this->getBrandTitle() ?>" />
    </a>
</div>
<?php endif ?>

