<?php
$_product = $block->getProduct();
$_no_self_pickup = $_product->getData('no_self_pickup');
$_noestoniansmartpost = $_product->getData('noestoniansmartpost');
$_nopost24 = $_product->getData('nopost24');
$_no_dpd_pickup_point = $_product->getData('no_dpd_pickup_point');
$_no_dpd_parcel_locker = $_product->getData('no_dpd_parcel_locker');
$_no_dpd_courer = $_product->getData('no_dpd_courer');
?>

<?php if (!$_noestoniansmartpost) { ?>
    <img src="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/SmartPosti.png'); ?>" alt="<?php echo __('SmartPosti') ?>">
<?php } ?>

<?php if (!$_no_dpd_pickup_point || !$_no_dpd_parcel_locker || !$_no_dpd_courer) { ?>
    <img src="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/dpd.png'); ?>" alt="<?php echo __('Dpd') ?>">
<?php } ?>

<?php if (!$_nopost24) { ?>
    <img src="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/Omniva_logo.png'); ?>" alt="<?php echo __('Omniva') ?>">
<?php } ?>

<?php if (!$_no_self_pickup) { ?>
    <img src="<?php echo $this->getViewFileUrl('images/icons/delivery_logos/puhh.png'); ?>" alt="<?php echo __('Pickup on location') ?>">
<?php } ?>
