<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <?php
        $layout = $block->getLayout();
        # We create a new array;
        $newPriority = array();
        # forEach the original $detailedInfoGroup Array;
        foreach ($detailedInfoGroup as $name){
            $alias = $layout->getElementAlias($name);
            # Get the priority which we applied via xml file
            # If no priority is applied via xml file then just set it to 10
            $priority = $block->getChildData($alias,'priority') ? $block->getChildData($alias,'priority') : '10';
            # variables pushed into new two-dimensional array
            array_push($newPriority, array($name, $priority));
        }
        # Sort array by priority
        usort($newPriority, function($a, $b) {
            return $a['1'] <=> $b['1'];
        });
    ?>

    <div class="product info detailed">
        <div class="product data items" id="product-view-tabs" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($newPriority as $name):?>
                <?php
                    $name = $name[0];
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     aria-labeledby="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title"
                     data-role="collapsible" id="tab-label-<?= /* @escapeNotVerified */ $alias ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?= /* @escapeNotVerified */ $alias ?>"
                       id="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title">
                        <?= /* @escapeNotVerified */ $label ?>
                    </a>
                </div>
                <div class="data item content" id="<?= /* @escapeNotVerified */ $alias ?>" data-role="content">
                    <?= /* @escapeNotVerified */ $html ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
