<?php

$product = $this->getProduct();

?>

<?php if ($product && $product->getData('e_poe_hind')): ?>

    <div class="eshop-price">
        <span class="eshop-price-label">
            <?= __('Ainult E-poes');?>
        </span>
    </div>
    

<?php endif;?>
