<?php

$viewModel = $block->getData('viewModel');
$currentStoreCode = $viewModel->getCurrentStoreCode();
?>
<div class="esto-tab">
    <?php if ($currentStoreCode == 'et'): ?>
    <h3>
        Ei soovi maksta kogu summat korraga? Maksa osamaksete kaupa!
    </h3>
    <p>
        ESTO järelmaksu puhul on tegemist ülimalt kiire ning mugava makselahendusega, mis aitab koostada sulle sinu
        poolt valitud perioodi alusel maksegraafiku. Makselahendus teeb otsuse reaalajas ning aitab ostu sooritada vähem
        kui 60 sekundiga.
        <img src="<?php echo $this->getViewFileUrl('images/esto-j2relmaks-steps.jpg'); ?>">
    </p>

    <h3>ESTO 3</h3>
    <p>
        ESTO 3 on uue generatsiooni makseviis, mis võimaldab tasuda mugavalt ning kiirelt - kolmes võrdses osas, ilma
        lisatasudeta!
        <img src="<?php echo $this->getViewFileUrl('images/esto-3-steps.jpg'); ?>" alt="">
    </p>

    <a href="<?= $this->getUrl('jarelmaksu-voimalused');?>" target="_blank">Loe täpsemalt siit</a>
    <?php elseif ($currentStoreCode == 'ru'): ?>
        <h3>
            Не хотите платить всю сумму сразу? Платите в рассрочку!
        </h3>
        <p>
            Рассрочка ESTO - это самое быстрое и удобное платежное решение, позволяющее установить график платежей на выбранный вами период. Решение об одобрении рассрочки принимается системой ESTO в режиме реального времени и помогает завершить покупку менее чем за 60 секунд.
            <img src="<?php echo $this->getViewFileUrl('images/esto-j2relmaks-steps-ru.jpg'); ?>">
        </p>

        <h3>ESTO 3</h3>
        <p>
            ESTO 3 - это метод оплаты нового поколения, который позволяет оплачивать удобно и быстро - тремя равными платежами, без переплат!
            <img src="<?php echo $this->getViewFileUrl('images/esto-3-steps-ru.jpg'); ?>" alt="">
        </p>

        <a href="<?= $this->getUrl('jarelmaksu-voimalused');?>" target="_blank">Читайте подробнее здесь</a>
    <?php endif;?>
</div>
