 <script type="text/javascript">
    var complects = new Array('500-999.99,7-12,12.5', '500-999.99,25-60,14', '500-999.99,13-24,13', '500-999.99,1-6,12', '300-499.99,37-60,15', '300-499.99,13-36,14.5', '300-499.99,1-12,16', '150-299.99,7-12,18', '150-299.99,37-60,16', '150-299.99,13-36,17', '150-299.99,1-6,20', '1000-6400,7-12,12', '1000-6400,25-60,13', '1000-6400,13-24,12.5', '1000-6400,1-6,9', '0-149.99,37-60,18', '0-149.99,25-36,20', '0-149.99,13-24,21', '0-149.99,1-12,25');
    function calc_payment() {
        var l_price = new Number(document.getElementById('l_price').value);
        var l_deposit = new Number(document.getElementById('l_deposit').value);
        var months_obj = document.getElementById('l_months');
        if (months_obj.options == undefined) var l_months = new Number(months_obj.value);
        else var l_months = new Number(months_obj.options[months_obj.selectedIndex].value);
        var l_interest = 0;
        for (var i = 0; i < complects.length; i++) {
            if (l_interest == 0) {
                var complect = complects[i].split(',');
                var p_range = complect[0].split('-');
                var m_range = complect[1].split('-');
                if (l_price - l_deposit >= Number(p_range[0]) && l_price - l_deposit <= Number(p_range[1]) && l_months >= Number(m_range[0]) && l_months <= Number(m_range[1])) l_interest = Number(complect[2]);
            }
        }
        if (l_interest == 0 || l_price == 0) {
            document.getElementById('l_result_error').style.display = '';
            document.getElementById('l_result_div').style.display = 'none';
            document.getElementById('l_result_min_error').style.display = 'none';
        }
        else {
            l_interest = l_interest / 1200;
            var m_loan = (l_price - l_deposit) / l_months;
            var m_interest = (l_price - l_deposit) * l_interest;
            var m_payment = m_loan + m_interest;
            m_payment = Math.round(m_payment * 100) / 100;
            if (m_payment < 7) {
                document.getElementById('l_result_min_error').style.display = '';
                document.getElementById('l_result_error').style.display = 'none';
                document.getElementById('l_result_div').style.display = 'none';
            }
            else {
                document.getElementById('l_result_error').style.display = 'none';
                document.getElementById('l_result_min_error').style.display = 'none';
                document.getElementById('l_result_div').style.display = '';
                document.getElementById('l_result').innerHTML = m_payment.toString();
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function(event) {
        calc_payment();
    });

</script>

<div class="liisi">
    <div class="liisi-title">
        <div class="liisi-title-image">
            <img src="<?php echo $this->getViewFileUrl('images/icons/bank_logos/liisi_logo.png'); ?>" alt="">
        </div>
        <div class="liisi-title-text">
            <span><?= /* @escapeNotVerified */ __('Calculator') ?></span>
        </div>
    </div>
    <div class="liisi-col">
        <div class="liisi-col-left">
            <div class="field">
                <label for="l_price"><?= /* @escapeNotVerified */ __('Price (€)') ?></label>
                <input type="number" id="l_price" value="<?php echo $this->getProductPrice() ?>"/>
            </div>
            <div class="field">
                <label for="l_deposit"><?= /* @escapeNotVerified */ __('Sissemakse (€)') ?></label>
                <input type="number" id="l_deposit" />
            </div>
            <div class="field">
                <label for="l_months"><?= /* @escapeNotVerified */ __('Periood (kuud)') ?></label>
                <select id="l_months">
                    <option value="3">3 kuud</option>
                    <option value="6">6 kuud</option>
                    <option value="12">12 kuud</option>
                    <option value="18">18 kuud</option>
                    <option value="24">24 kuud</option>
                    <option value="30">30 kuud</option>
                    <option value="36">36 kuud</option>
                    <option value="42">42 kuud</option>
                    <option value="48">48 kuud</option>
                    <option value="54">54 kuud</option>
                    <option value="60">60 kuud</option>
                </select>
            </div>
            <input class="action primary" type="button" value="<?= __("Arvuta kuumakse")?>" onfocus="this.blur();" onclick="calc_payment();" />
        </div>
        <div class="liisi-col-right">
            <span class="result-title"><?= /* @escapeNotVerified */ __('Monthly payment') ?></span>
            <span class="result-text">
                <div id="l_result_div" style="display: none;"><span id="l_result"></span>&nbsp;EUR</div>
                <div id="l_result_error" style="display: none;"><?= /* @escapeNotVerified */ __('Something went wrong!') ?></div>
                <div id="l_result_min_error" style="display: none;"><?= /* @escapeNotVerified */ __('The minimal monthly payment is 7 euros!') ?></div>
            </span>
        </div>
    </div>
</div>
