<?php
    $product = $this->getProduct();

?>
<?php if ($product && $min30dPrice = $product->getdata('manual_30p_soodsaim_hind')): ?>
    <span class="d30-min-price">
        <span>
            <?= __('Last 30 day min price'); ?>: <?= $min30dPrice;  ?>
        </span>
    </span>
<?php endif; ?>