<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_product = $block->getProduct(); ?>
<?php /** @var $block \Magento\Catalog\Block\Product\AbstractProduct */ ?>
<div class="discount-container">
    <!-- PERCENTAGE LABEL -->
    <?php if($this->helper('Acty\Puhh\Helper\Data')->DisplayDiscountLabel($_product)): ?>
        <div class="discount-percentage">
            <?php echo $this->helper('Acty\Puhh\Helper\Data')->DisplayDiscountLabel($_product); ?>
        </div>
    <?php endif; ?>
    <!-- NEW LABEL -->
    <?php if($this->helper('Acty\Puhh\Helper\Data')->isProductNew($_product)): ?>
        <div class="new-label">
            <?php echo __('New') ?>!
        </div>
    <?php endif; ?>
</div>
<?= $block->getReviewsSummaryHtml($block->getProduct(), false, true) ?>
