<style type="text/css">
        
    .makesyoulocal-btn {
        letter-spacing: .1em;
        border-radius: 3px;
        border-width: 2px;
        font-weight: 600;
        color: #fff;
        background: #25b9d7;
        border-color: #25b9d7;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem 1rem;
        font-size: 1.4rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: all .2s ease-in-out;
    }

    .makesyoulocal-btn:hover {
        opacity: 0.7;
        transition: all 300;
        background: #25b9d7;
        color: #fff;
    }

</style>

<button type="button" id="makesyoulocal-register" class="makesyoulocal-btn">
    Connect
</button>

<script tyle="text/javascript">
    var callback = 'https://client.makesyoulocal.com/auth/magento2/callback';
    var module_version = encodeURIComponent('<?php echo $block->getVersion(); ?>');
    var system_version = encodeURIComponent('<?php echo $block->getSystemVersion(); ?>');
    var password = encodeURIComponent('<?php echo $block->getPassword(); ?>');
    var base_url = encodeURIComponent('<?php echo $block->getBaseUrl(); ?>');
    var store_code = encodeURIComponent('<?php echo $block->getStoreCode(); ?>');

    var destionationUrl = callback + '?module_version=' + module_version + '&system_version=' + system_version + '&password=' + password + '&base_url=' + base_url + '&store=' + store_code;

    document.getElementById('makesyoulocal-register').addEventListener("click", function() {
        window.open(destionationUrl, '_blank');
    });
</script>

