// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .custom-privacy-modal {
        .modal-inner-wrap {
            width: 100% !important;
        }
    }
    #myModel {
        display: none;
    }

    //  Newsletter subscription
    .newsletter-wrapper {
        background: url('@{baseDir}images/pilved/lower-clouds-s.png') center no-repeat;
        background-size: 100%;
    }
    .block.newsletter {
        padding: 0 20px;
        width: 100%;
        box-sizing: border-box;
        max-width: 575px;
        .flex-display(flex);
        .justify-content(center);
        .align-items(center);
        .flex-direction(column);
        margin: 35vw auto;

        .newsletter-content {
            width: 100%;
        }

        .newsletter-image {
            max-width: 130px;
            margin-bottom: 0;
        }

        .policy-label {
            color: @color-white;
            .lib-css(font-size, 12px);
            margin-bottom: 15px;
            display: block;
            a {
                color: @color-white;
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .form.subscribe {
            width: 100%;
            .g-recaptcha {
                margin: 0 auto;
                display: inline-block;
            }
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                display: block;

                div.mage-error {
                    margin-top: -10px;
                    margin-bottom: 15px;
                }

                input#newsletter,
                input#nname {
                    .rgba(@puhh-dark-blue, 0.2);
                    border: none;
                    border-radius: 15px;
                    color: @color-white;
                    padding-left: 20px;
                    margin-bottom: 15px;
                    &::placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &:-ms-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &::-ms-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &::-webkit-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &:focus {
                        .box-shadow(none);
                    }
                }
            }
        }

        input {
            padding-left: 35px;
        }

        .title {
            color: @color-white;
            text-align: center;
            font-family: 'PatrickHandSC-Regular';
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            position: relative;
        }

        .action.subscribe {
            right: -5px;
            top: -5px;
            border: none;
            padding: 0;
            display: block;
            position: absolute;
            overflow: visible;
            background: @puhh-dark-blue;
            border-radius: 3em;
            height: 50px;
            width: 50px;
            .box-shadow(none);
            &::before {
                background: url('@{baseDir}images/icons/send.svg') no-repeat center center;
                background-size: 27px;
                content: '';
                height: 37px;
                width: 31px;
                vertical-align: top;
                display: inline-block;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .custom-privacy-modal {
        .modal-inner-wrap {
            width: 75% !important;
        }
    }
    //  Newsletter subscription
    .newsletter-wrapper {
        background: url('@{baseDir}images/pilved/lower-clouds.svg') center;
        background-size: 100%;
    }
    .block.newsletter {
        margin: 16% auto 11%;
        .flex-direction(row);
        .justify-content(space-between);
        .newsletter-image {
            max-width: 130px;
            margin-right: 20px;
            margin-bottom: 0;
        }
        .title {
            text-align: left;
            margin-bottom: 15px;
        }
    }
}
