<div class="pp-buttons-container">
    <p>
        <button id="<?php echo $block->getHtmlId() ?>" onclick="setLocation('<?php /* @escapeNotVerified */ echo $block->getLocation() ?>')" type="button">
            <?php /* @escapeNotVerified */ echo $block->getTitle() ?>
        </button>
    </p>
</div>