& when (@media-common = true) {

    html[lang="ru"] {
        .discount-container {
            .discount-percentage {
                font-family: @h1__font-family;
                font-size:18px;
                line-height: 32px;
            }
            .new-label {
                font-size: 18px;
                width: 80px;
                line-height: 32px;
                font-family: @h1__font-family;
                &:after {
                    border: 40px solid @puhh-blue;
                    border-top: 0 solid rgba(0,0,0,1);
                    border-bottom: 12px solid transparent;
                }
            }
        }
        .products-grid .product-item-actions .actions-primary {
            flex-direction: column;
            .tocart {
                margin:4px 0 0;
            }
        }
        .catalog-category-view {
            .category-title-container .page-title {
                line-height: 60px;
            }
        }
        .page-header .header.content .customer-links-container .modal-inner-wrap .modal-content .block-customer-login .block-title h2 {
            text-transform: initial;
        }

        //make "Игрушки" submenu higher to fit horizontal space better
        .page-header .sections.nav-sections nav.navigation ul:first-child li.level0.parent.nav-3:hover .level0.submenu[aria-expanded="true"] {
            height:750px;
        }
       

    }
    .cms-index-index #featured_tabs .tab-links li {
        &.featured-active {
            width: 55%;
            border-color: @puhh-secondary-yellow;
            background: @puhh-yellow;
            .tab {
                color: @puhh-dark-blue;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    html[lang="ru"] {
        .column.main {
            .item.product-item {
                .product-item-info {
                    .discount-container {
                        .discount-percentage {
                            font-size:14px;
                            line-height: 30px;
                            margin:0;
                        }
                        .new-label {
                            font-size: 14px;
                            width: 60px;
                            line-height: 30px;
                            margin:0;
                            &:after {
                                border: 30px solid @puhh-blue;
                                border-top: 0 solid rgba(0,0,0,1);
                                border-bottom: 12px solid transparent;
                            }
                        }
                        .discount-percentage + .new-label {
                            margin-left:0;
                        }
                    }
                }
            }
        }
    }
}