<?php

    $storeCode = $this->getStoreCode();
    
?>

<?php if ($storeCode !== 'ru' && $posts = $this->getPosts()) : ?>
    <div id="blog-tabs" data-mage-init='{"tabs":{"openedState":"ui-tabs-active"}}'>

        <ul class="blog-tab-links">
            <h1 class="blog-title">
                <?php echo __('Karupoeg Puhh News') ?>
            </h1>
            <?php
                $i=0;
            ?>
            <?php foreach ($posts as $key=>$post): ?>
                <?php
                    if($i==7) break;
                ?>
                <li>
                    <a class="blog-tab" data-toggle="switch" aria-labeledby="tab-label-tab-<?php echo $i ?>-title" data-role="collapsible" id="tab-label-tab-<?php echo $i ?>">
                        <?php if ($image = $post->getImage()): ?>
                            <div class="tab-image">
                                <img class="lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $image ?>" />
                            </div>
                        <?php endif; ?>
                        <div class="tab-title">
                            <?php echo $post->getTitle(); ?>
                        </div>
                    </a>
                    <a class="mobile-link" href="<?php echo $this->getPostUrl($post); ?>">
                        <?php if ($image = $post->getImage()): ?>
                            <div class="tab-image">
                                <img class="lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $image ?>" />
                            </div>
                        <?php endif; ?>
                        <div class="tab-title">
                            <?php echo $post->getTitle(); ?>
                        </div>
                    </a>
                </li>
                <?php
                    $i++;
                ?>
            <?php endforeach; ?>
            <a class="blog-link" href="<?php echo $this->getUrl('uudised');?>"><?php echo __('show older posts') ?></a>
        </ul><div class="content-container">
            <?php
                $i2=0;
            ?>
            <?php foreach ($posts as $key=>$post): ?>
                <?php
                    if($i2==7) break;
                ?>
                <div data-role="content" id="tab-<?php echo $key; ?>">
                    <?php if ($image = $post->getImage()): ?>
                        <div class="content-image">
                            <a href="<?php echo $this->getPostUrl($post); ?>"><img class="lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $image ?>"></a>
                        </div>
                    <?php endif; ?>
                    <h2 class="content-title">
                        <a href="<?php echo $this->getPostUrl($post); ?>"><?php echo $post->getTitle(); ?></a>
                    </h2>
                    <p class="content-date">
                        <time><?php echo $block->formatDate($post->getCreationTime(), 2, false);?></time>
                    </p>
                    <p class="content-text">
                        <?php echo $post->getContent(); ?>
                    </p>
                    <?php if ($author = $post->getAuthor()): ?>
                        <div class="content-author">
                            <img class="lazy" src="<?php echo $this->getViewFileUrl('images/loader-1.svg'); ?>" data-original="<?php echo $this->getViewFileUrl('images/logo/puhh_logo_lehvitab.png'); ?>" alt="">
                            <span class="author"><?php echo $author; ?></span>
                        </div>
                    <?php endif; ?>
                </div>
                <?php
                    $i2++;
                ?>
            <?php endforeach; ?>
        </div>

    </div>
<?php endif; ?>
