<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var Magento\Customer\Block\Account\Customer $block */
?>
<?php if($block->customerLoggedIn()): ?>
    <li class="customer-welcome">
        <span class="customer-name"
              role="link"
              tabindex="0"
              data-mage-init='{"dropdown":{}}'
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
              <div class="menu-link-icon"></div>
            <span class="text" data-bind="text: customer().firstname"></span>
        </span>

        <script type="text/javascript">
            require(['jquery'],
            function($) {
                $(document).ready(function(){
                    $(".customer-name").on("click", function() {
                        if($(".action.showcart.active")[0]) {
                            $("[data-block='minicart']").trigger('click');
                        }
                    });
                    $("[data-block='minicart']").on("dropdowndialogopen", function() {
                        if($(".customer-welcome.active")[0]) {
                            $(".customer-name").trigger('click');
                        }
                    });
                })
            })
        </script>

        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
        <?php if($block->getChildHtml()):?>
        <div class="customer-menu" data-target="dropdown">
            <?= $block->getChildHtml() ?>
        </div>
        <?php endif; ?>
    </li>
<?php endif; ?>
