<?php

$WH = $this->getWareHouses();
$ePoeQty = 0;
if (array_key_exists('E-pood', $WH)) {
    $ePoeQty = $WH['E-pood'][0]['qty'];
}

?>

<?php foreach ($WH as $city => $stores): ?>
    <?php if ($city == 'E-pood' && $ePoeQty == 0) {continue;}?>
    <div class="stock">
        <h3 class="stock-city"><?php echo $city ?></h3>
        <?php foreach ($stores as $store): ?>
            <div class="stock-store">
                <div class="stock-store-name">
                    <?= $store['name']; ?>
                </div>
                <div class="stock-store-qty">
                    <?= $store['qty']; ?> 
                </div>
            </div>
        <?php endforeach ?>
    </div>
<?php endforeach;?>
