//
//    Common
//--------------------------------------
& when (@media-common = true) {
    // To keep the overlapping point of bottom and top gradients under the maincontent div
    #maincontent {
        min-height: 515px;
    }
    // GRADIENTS, CLOUDS BACKGROUND
    .page-wrapper {
        overflow: hidden;
        position: relative;
        .maincontent-wrap {
            background: @color-white;
            &:after {
                display: inline-block;
                content: '';
                background: url('@{baseDir}images/pilved/footer_1-01.svg');
                background-size: 100%;
                // background-position: left -50% center;
                height: 15vw;
                width: 100%;
                margin-bottom: -15vw;
                .transform(rotate(180deg));
                z-index: -1;
                position: relative;
            }
            &:before {
                display: inline-block;
                content: '';
                background: url('@{baseDir}images/pilved/pilved_1-01.svg');
                background-size: 330%;
                background-position: left -50% bottom;
                height: 13vw;
                width: 100%;
                margin-bottom: -55px;
                .transform(translate(0, -99%));
                vertical-align: top;
                margin-top: 2px;
            }
        }
        &:after {
            background: #bfe7f7; /* Old browsers */
            background: -moz-linear-gradient(top, #bfe7f7 0%, #29abe2 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #bfe7f7 0%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #bfe7f7 0%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe7f7', endColorstr='#29abe2',GradientType=0 ); /* IE6-9 */
            background-size: 1800px 100%;
            content: '';
            position: absolute;
            display: inline-block;
            height: 1800px;
            width: 100%;
            z-index: -2;
            bottom: 0;
        }
        &:before {
            background: #29abe2; /* Old browsers */
            background: -moz-linear-gradient(top, #29abe2 0%, #bfe7f7 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #29abe2 0%,#bfe7f7 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #29abe2 0%,#bfe7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe2', endColorstr='#bfe7f7',GradientType=0 ); /* IE6-9 */
            background-size: 800px 100%;
            content: '';
            position: absolute;
            display: inline-block;
            height: 800px;
            width: 100%;
            z-index: -1;
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper {
        .maincontent-wrap {
            &:after {
                background: url('@{baseDir}images/pilved/footer_1-01.svg');
                background-size: 100%;
                height: 26vw;
                margin-bottom: -15vw;
                margin-top: -15vw;
            }
            &:before {
                background: url('@{baseDir}images/pilved/pilved_1-01.svg');
                background-size: 103%;
                height: 4.2vw;
                background-position: left -19px bottom;
                .transform(translate(0, -99%));
                vertical-align: top;
            }
        }
    }
}
