//
//    Common
//--------------------------------------
& when (@media-common = true) {
    .cms-index-index {
        .page-wrapper {
            overflow: hidden;
            &:after {
                content: none;
            }
        }
        .column.main {
            padding-bottom: 0;
        }
        // CUSTOM FRONT PAGE BACKGROUND
        .page-header {
            margin-bottom: 20px;
            &:after {
                content: none;
            }
        }
        // MESSAGES
        .page.messages {
            width: 100%;
            max-width: 1330px;
            margin: 0 auto;
            .messages {
                // margin: 15px;
            }
        }
        // ATTRIBUTE BLOCKS
        .age-wrapper,
        .character-wrapper {
            margin-bottom: 0;
            .attribute-options-container {
                .flex-display(flex);
                .justify-content(flex-start);
                .align-items(center);
                .attribute-option {
                    padding: 0 10px;
                    p {
                        color: @puhh-dark-blue;
                        text-align: center;
                        margin-top: 20px;
                    }
                    img {
                        border: 4px solid @puhh-gray;
                        border-radius: 100px;
                        box-sizing: border-box;
                    }
                    &:hover {
                        p {
                            color: @puhh-blue;
                        }
                        img {
                            border: 4px solid @puhh-blue;
                        }
                    }
                }
            }
        }
        .age-wrapper {
            .slick-prev,
            .slick-next {
                top: 30%;
            }
        }
        .character-wrapper {
            .attribute-options-container {
                .attribute-option {
                    img {
                        object-fit: contain;
                        height: 110px;
                    }
                }
            }
        }
        .character-wrapper {
            display: none;
            .attribute-options-container {
                &:after {
                  content: "";
                  .flex(auto);
                }
            }
        }
        // BRAND SLIDES
        .brand-wrap {
            margin-bottom: 50px;
            .slick-track {
                .flex-display(flex);
                .align-items(center);
                .slick-slide {
                    padding: 0 5px;
                }
            }
            .slick-list {
                width: 90%;
            }
        }
        .maincontent-wrap {
            margin-top: 80px;
            margin-bottom: 0;
            padding-bottom: 100px;
            position: relative;
            width: 100%;
            &:before {
                display: inline-block;
                content: '';
                background: url('@{baseDir}images/pilved/pilved_1-01.svg');
                background-size: 500%;
                background-position: left -50% center;
                height: 18vw;
                width: 100%;
                margin-bottom: -18vw;
                .transform(translate(0, -100%));
                vertical-align: top;
            }
            &:after {
                content: none;
            }
            .page-main {
                &:after {
                    background: #bfe7f7; /* Old browsers */
                    background: -moz-linear-gradient(top, #bfe7f7 0%, #29abe2 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #bfe7f7 0%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #bfe7f7 0%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe7f7', endColorstr='#29abe2',GradientType=0 ); /* IE6-9 */
                    background-size: 875px 100%;
                    content: '';
                    position: absolute;
                    display: inline-block;
                    height: 2000px;
                    width: 100%;
                    z-index: -2;
                    bottom: 0;
                    left: 0;
                    .transform(translate(0, 100%));
                }
            }
        }
        // LARGE LINKS
        .categories-wrap {
            margin-bottom: 100px;
            background-color: @puhh-secondary-gray;
            .categories-inner {
                .flex-display(flex);
                .flex-wrap(wrap);
                .justify-content(space-between);
                padding: 35px 0;
                .third {
                    width: 48%;
                    padding: 10px 1%;
                    img {
                        width: 100%;
                    }
                }
                .two-third {
                    .flex-order(1);
                    width: 98%;
                    padding: 10px 1%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        // FEATURED PRODUCTS
        #featured_tabs {
            margin-bottom: 50px;
            .block-title {
                display: none;
            }
            #tab-2 {
                display: none;
            }
            .tab-links {
                margin: 0;
                padding: 0;
                list-style: none;
                border-radius: 3rem;
                margin: 25px 10px;
                background: @puhh-gray;
                li {
                    margin-bottom: 0;
                    display: inline-block;
                    background: @puhh-gray;
                    border: 4px solid @puhh-gray;
                    cursor: pointer;
                    font-weight: 600;
                    padding: 9px 0;
                    text-align: center;
                    font-size: 1.5rem;
                    box-sizing: border-box;
                    vertical-align: middle;
                    border-radius: 3rem;
                    width: 45%;
                    .tab {
                        color: @puhh-blue;
                        font-family: 'Montserrat-Regular';
                        font-weight: 600;
                    }
                    &.active {
                        width: 55%;
                        border-color: @puhh-secondary-yellow;
                        background: @puhh-yellow;
                        .tab {
                            color: @color-white;
                        }
                    }
                }
            }
        }
        // BANNER
        .banner-wrapper {
            width: 100%;
            margin: 0 auto 20px;
            position: relative;
            z-index: 1;
            min-height: 110px;
            .slick-initialized.slick-slider.slick-dotted {
                min-height: 110px;
            }
            .banner {
                width: 100%;
            }
            .slick-dots {
                bottom: -40px;
            }
        }
        .page-main {
            padding: 0;
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index {
        .page-wrapper {
            .newsletter-wrapper {
                background-position-y: 75%;
                .block.newsletter {
                    margin: 11% auto 11%;
                }
            }
            &:before {
                height: 1000px;
                background: url('@{baseDir}images/pilved/upper-clouds.svg');
                background-size: 100%;
            }
            // CUSTOM FRONT PAGE BACKGROUND
            .page-header {
                margin-bottom: 20px;
                &.sticky ~ .page.messages {
                    margin-top: 252px;
                }
            }
            .maincontent-wrap {
                margin-bottom: 18vw;
                padding-bottom: 0;
                margin-top: 0 !important;
                &:before {
                    background: url('@{baseDir}images/pilved/footer_1-01.svg');
                    background-size: 100%;
                    height: 26vw;
                    margin-bottom: -36vw;
                    vertical-align: super;
                }
            }
        }
        // MESSAGES
        .page.messages {
            .messages {
                // margin: 0 15px 50px 15px;
            }
        }
        // ATTRIBUTE BLOCKS
        .age-wrapper {
            margin-bottom: 140px;
            .attribute-options-container {
                .attribute-option {
                    padding: 0 25px;
                }
            }
        }
        .character-wrapper {
            display: block;
            margin-bottom: 0;
            .attribute-options-container {
                .flex-wrap(wrap);
                .attribute-option {
                    width: 110px;
                    padding: 0 2.5%;
                    img {
                        height: 110px;
                    }
                }
            }
        }
        // BRAND SLIDES
        .brand-wrap {
            margin-bottom: 50px;
        }
        // LARGE LINKS
        .categories-wrap {
            margin-bottom: 140px;
            .categories-inner {
                padding: 4% 3%;
                .third {
                    width: 31%;
                    padding: 20px 0;
                }
                .two-third {
                    .flex-order(initial);
                    width: 65.5%;
                    padding: 20px 0;
                }
            }
        }
        // FEATURED PRODUCTS
        #featured_tabs {
            margin-bottom: 100px;

            .tab-links {
                position: relative;
                left: 50%;
                margin: 30px 0;
                display: block;
                width: 385px;
                .transform(translate(-50%, 0));
            }
        }
        .banner-wrapper {
            margin: 0 auto 30px;
            max-width: @layout__max-width;
            min-height: 350px;
            .slick-initialized.slick-slider.slick-dotted {
                min-height: 350px;
            }
            .banner {
                .box-shadow(0 2px 4px 0 #999);
                border-radius: 15px;
            }
        }
        .dotted-header {
            font-size: 30px;
        }
    }
}

//
//    Desktop L
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-index-index {
        .character-wrapper {
            .attribute-options-container {
                .attribute-option {
                    width: 130px;
                    padding: 0 2.14% 25px 2.14%;
                    img {
                        height: 130px;
                    }
                }
            }
        }
    }
}

@media(min-width: 1300px) {
    .cms-index-index {
        .categories-wrap {
            margin-left: ~"calc((50vw - 657px)*-1)";
            margin-right: ~"calc((50vw - 658px)*-1)";
            .categories-inner {
                max-width: 1300px;
                margin: auto;
            }
        }
    }
}
