//
//    Common
//--------------------------------------
& when (@media-common = true) {
    // SWITCHER
    .switcher-language {
        cursor: pointer;
        padding-left: 15px;
        img {
            width: 37px;
            height: 37px;
        }
        .lang-link {
            display: inline-block;
            &.current-lang {
                position: relative;
                &:before {
                    background: @puhh-yellow;
                    border-radius: 22px;
                    content: '';
                    display: inline-block;
                    height: 43px;
                    width: 43px;
                    position: absolute;
                    z-index: -1;
                    left: -3px;
                    top: -3px;
                }
            }
        }
        .switcher-dropdown {
            display: none;
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
        .switcher-trigger.active ~ .switcher-dropdown {
            display: block;
        }
    }
    // TOP-TEXT
    .top-text {
        padding-bottom: 20px;
        p,
        a {
            color: @color-white;
            padding: 15px 0 0;
            margin-left: 15px;
            display: inline-block;
            font-weight: 400;
            &.top-email,
            &.top-phone {
                &:before {
                    height: 20px;
                    width: 20px;
                    content: '';
                    display: inline-block;
                    vertical-align: bottom;
                    margin-right: 3px;
                }
            }
            &.top-phone {
                &:before {
                    background: url('@{baseDir}images/icons/phone_white.svg') no-repeat center center;
                    background-size: 20px;
                }
            }
            &.top-email {
                &:before {
                    background: url('@{baseDir}images/icons/mail_white.svg') no-repeat center center;
                    background-size: 20px;
                }
            }
        }
        .no-margin-left {
            margin-left: 0;
        }
        .hide-mobile {
            display: none;
        }
    }
    .page-header {
        border: none;
        margin-bottom: 10%;

        // SEARCH
        .block-search {
            display: inline-block;
            margin-top: 0;
            padding: 6.5px 10px;
            vertical-align: middle;
            float: left;
            .form.minisearch {
                .field.search {
                    label.label {
                        float: none;
                        &:before {
                            background: url('@{baseDir}images/icons/search.svg') no-repeat center center;
                            background-size: 27px;
                            content: '';
                            height: 37px;
                            width: 31px;
                            margin: 0;
                            vertical-align: top;
                            display: inline-block;
                        }
                        &.active {
                            & + .control input {
                                position: absolute;
                                z-index: 1;
                                left: 0;
                                top: 5px;
                                background: @color-white;
                                .transform(translate(0, 100%));
                            }
                        }
                    }
                    .control {
                        border-top: none;
                        margin: 0;
                        padding: 0;
                        .search-autocomplete {
                            display: none !important;
                            bottom: -40px;
                            .transform(translate(0, 100%));
                            left: 0;
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        // LOGO
        .header.content {
            .flex-display(flex);
            .justify-content(space-between);
            .align-items(center);
            box-sizing: border-box;
            width: 100%;
            padding-left: 10px;
            padding-right: 0;
            padding-top: 10px;
            .logo {

                width: 17%;
                position: absolute;
                top: 5px;
                .transform(translate(-50%, 0));
                left: 50%;
                margin: 0;
                z-index: 1;
                .transition(all .2s ease-in-out);
            }

            &:before,
            &:after {
                content: none;
            }
        }
        // &:after {
        //     display: inline-block;
        //     content: '';
        //     background: url('@{baseDir}images/pilved/pilved_1-01.svg');
        //     background-size: 330%;
        //     background-position: left -50% bottom;
        //     height: 13vw;
        //     width: 100%;
        //     margin-bottom: -7px;
        // }
    }
}



//
//    Mobile xs
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-header {
        .header.content {
            .logo {
                max-width: 55px;
            }
        }
    }
}
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    // AUTOCOMPLETE
    .autocomplete-suggestions {
        max-height: 60vh !important;
        left: 0 !important;
        &:after {
            font-family: 'luma-icons';
            font-size: 18px;
            line-height: 20px;
            color: #757575;
            content: '\e616';
            display: inline-block;
            position: fixed;
            top: 155px;
            right: 0;
            cursor: pointer;
            padding: 10px;
        }
        &.sticky {
            &:after {
                top: 100px;
            }
        }
    }
    .page-header {
        .header.content {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 5px !important;
            padding-bottom: 5px;
            .logo {
                position: relative;
                max-width: 60px;
                img {
                    display: none;
                }
                &:after {
                    background: url('@{baseDir}images/logo/karu_pea_logo.svg') center center no-repeat;
                    content: '';
                    background-size: 100%;
                    width: 100%;
                    height: 48px;
                    vertical-align: top;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // SWITCHER
    .switcher-language {
        z-index: 1;
        position: absolute;
        top: 20px;
        right: 20px;
        padding-left: 0;
    }
    // AUTOCOMPLETE
    .autocomplete-suggestions {
        max-height: 500px !important;
    }
    // TOP TEXT
    .top-text {
        padding-bottom: 0;
        text-align: center;
        .hide-mobile {
            display: inline-block;
        }
    }
    .page-header {
        position: relative;
        margin-bottom: 4.1vw;
        .nav-toggle {
            display: none;
        }
        // SEARCH
        .block-search {
            margin: 10px 5px;
            display: block;
            position: absolute;
            bottom: 10px;
            right: 50%;
            width: 32%;
            max-width: 433px;
            padding: 0;

            .transform(translate(75%, 0));
            .transition(transform .2s ease-in-out);
            .form.minisearch .field.search {
                label.label {
                    display: none;
                    &.active {
                        & + .control input {
                            position: static;
                            .rgba(@puhh-dark-blue, 0.2);
                            .transform(none);
                        }
                    }
                }
                .control {
                    .search-autocomplete {
                        bottom: auto;
                        left: auto;
                        margin-top: 0;
                        .transform(none);
                    }
                }
            }

            .control {
                border-top: none;
                clear: none;
                margin: 0;
                padding: 0;
                input.input-text {
                    .rgba(@puhh-dark-blue, 0.2);
                    border: none;
                    border-radius: 15px;
                    height: 40px;
                    color: @color-white;
                    left: initial;
                    margin: 0;
                    position: initial;
                    &::placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &:-ms-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &::-ms-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &::-webkit-input-placeholder {
                        .opacity(0.7);
                        font-style: italic;
                        color: @color-white;
                    }
                    &:focus {
                        .box-shadow(none);
                    }
                }
            }

            button.action.search {
                right: -5px;
                top: 0;
                bottom: 0;
                border: none;
                padding: 0;
                display: block;
                position: absolute;
                overflow: visible;

                span {
                    clip: auto;
                    width: auto;
                    white-space: nowrap;
                    background: @puhh-yellow;
                    font-size: 15px;
                    font-family: 'Montserrat-Medium';
                    text-transform: uppercase;
                    padding: 10px;
                    border: 4px solid @puhh-secondary-yellow;
                    border-radius: 3em;
                    box-sizing: border-box;
                    height: 50px;
                    margin: 0;
                    color: @color-white;
                    position: relative;
                    top: -5px;
                    right: 0;
                    display: inline-block;
                    line-height: 22px;
                    // .transform(translate(-100%, 0));
                    &:after {
                        background: url('@{baseDir}images/icons/search.svg') no-repeat center center;
                        background-size: 27px;
                        content: '';
                        height: 37px;
                        width: 31px;
                        margin-left: 5px;
                        margin-top: -7px;
                        vertical-align: top;
                        display: inline-block;
                    }
                }
                &::before {
                    content: none;
                }
                &:disabled {
                    right: -5px;
                    top: -5px;
                    .opacity(1);
                    border: none;
                    background: @puhh-dark-blue;
                    border-radius: 3em;
                    height: 50px;
                    width: 50px;
                    .box-shadow(none);
                    span {
                        display: none;
                    }
                    &::before {
                        background: url('@{baseDir}images/icons/search.svg') no-repeat center center;
                        background-size: 27px;
                        content: '';
                        height: 37px;
                        width: 31px;
                        vertical-align: top;
                        display: inline-block;
                    }
                }
            }
        }
        // LOGO
        .header.content {
            padding-right: 15px;
            .align-items(flex-end);
            height: 116.73px;
            .logo {
                .transition(all .2s ease-in-out);
                margin: 0;
                max-width: 38%;
                width: auto;
                position: static;
                .transform(none);
            }
        }
        // &:after {
        //     background: url('@{baseDir}images/pilved/pilved_1-01.svg');
        //     background-size: 103%;
        //     height: 4.2vw;
        //     background-position: left -19px bottom;
        // }
    }
}
