//
//    Common
//--------------------------------------
& when (@media-common = true) {
    .page-header {
        .header.content {
            .left-links-container {
                width: calc(~'30% + 10px');
                margin-left: 5px;
                .flex-display(flex);
                .justify-content(space-between);
            }
            .customer-links-container {
                display: block;
                margin-right: 2%;
                position: relative;
                width: calc(~'25% + 35px');
                max-width: 100%;
                .modal-inner-wrap {
                    background-color: @color-white;
                    border-left: 1px solid @puhh-gray;
                    border-radius: 0;
                    button.action-close {
                        &:before {
                            vertical-align: middle;
                        }
                    }
                    .modal-content {
                        padding-left: 0;
                        padding-right: 0;
                        .block-customer-login {
                            margin-bottom: 0;
                            .field {
                                .label {
                                    font-family: @font-family__sans-serif;
                                    font-weight: normal;
                                    &:after {
                                        content: none;
                                    }
                                }
                                .action.remind {
                                    span {
                                        font-size: 12px;
                                        float: right;
                                        line-height: 22px;
                                    }
                                }
                                .control {
                                    width: 100%;
                                }
                            }
                            .block-title {
                                h2 {
                                    margin-top: 0;
                                    font-size: 22px;
                                    font-family: @h1__font-family;
                                    text-align: center;
                                    font-weight: normal;
                                    margin-bottom: 0;
                                }
                            }

                            .actions-toolbar {
                                div.primary {
                                    width: 100%;
                                    button.login {
                                        padding: 7px 50px;
                                        float: none;
                                        width: auto;
                                        span {
                                            font-size: 14px;
                                            font-family: @font-family__sans-serif;
                                            font-weight: normal;
                                        }
                                    }
                                }
                            }
                            .login-tabs {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                li {
                                    width: 50%;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    text-align: center;
                                    a.tabmenu {
                                        padding: 10px 0;
                                        border-bottom: 1px solid @puhh-gray;
                                        display: block;
                                        width: 100%;
                                        box-sizing: border-box;
                                        &.active {
                                            border-bottom: none;
                                            border-top: 1px solid @puhh-gray;
                                            color: @puhh-yellow;
                                        }
                                    }
                                    &:first-child {
                                        a {
                                            border-radius: 0 10px 0 0;
                                            &.active {
                                                border-right: 1px solid @puhh-gray;
                                            }
                                        }
                                    }
                                    &:last-child {
                                        a {
                                            border-radius: 10px 0 0 0;
                                            &.active {
                                                border-left: 1px solid @puhh-gray;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .user-button,
                .panel.header {
                    cursor: pointer;
                    padding: 0;
                    display: inline-block;
                    vertical-align: middle;
                    left: 0;
                    top: 0;
                    position: absolute;
                    .menu-link-icon {
                        content: '';
                        height: 48px;
                        width: 58px;
                        background: url('@{baseDir}images/icons/user/finalUser.svg') no-repeat center center;
                        background-size: 58px;
                    }
                    .header.links {
                        margin: 0;
                        display: block;
                        .only-in-menu {
                            display: none;
                        }
                        .customer-welcome {
                            margin: 0;
                            .customer-name {
                                position: relative;
                                display: block;
                                .text {
                                    font-family: @font-family__sans-serif;
                                    display: block;
                                    position: absolute;
                                    left: 14px;
                                    font-size: 0;
                                    top: 50%;
                                    .transform(translate(-100%, -42%));
                                    background: url('@{baseDir}images/icons/user/nameCloud.svg');
                                    padding: 3px 3px 3px 10px;
                                    white-space: nowrap;
                                    background-size: 103px;
                                    &::first-letter {
                                        font-size: 15px;
                                    }
                                }
                                &.active {
                                    .menu-link-icon {
                                        background: url('@{baseDir}images/icons/user/finalUserWB.svg') no-repeat center center;
                                        background-size: 58px;
                                    }
                                    .text {
                                        background: url('@{baseDir}images/icons/user/nameCloudW.svg');
                                        background-size: 103px;
                                    }
                                }
                            }
                            .customer-menu {
                                display: none;
                                .authorization-link {
                                    display: block;
                                }
                                .header.links {
                                    .only-in-menu {
                                        display: block;
                                    }
                                }
                            }
                            &.active {
                                .customer-name {
                                    z-index: 102;
                                }
                                .customer-menu {
                                    display: block;
                                    position: relative;
                                    .header.links {
                                        margin: 0;
                                        padding: 0;
                                        list-style: none none;
                                        background: #ffffff;
                                        border: none;
                                        border-radius: 10px;
                                        position: absolute;
                                        top: -23px;
                                        right: 0px;
                                        .box-shadow(0 2px 5px 0 #135775);
                                        min-width: 200px;
                                        z-index: 101;
                                        box-sizing: border-box;
                                        li {
                                            margin: 0;
                                            padding: 15px;
                                            &:hover {
                                                border-radius: inherit;
                                                background: initial;
                                            }
                                            a {
                                                text-decoration: none;
                                                color: #666666;
                                                margin: 0;
                                                padding: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .minicart-wrapper {
                    margin: 0;
                    margin-left: 0;
                    .block-minicart {
                        top: 21px;
                        .box-shadow(0 0 20px 0 #555);
                        border-radius: 10px;
                        border: 1px solid @puhh-gray;
                        padding: 30px 5px 15px;
                        width: 390px;
                        button.action.close {
                            display: none;
                        }
                        .block-content {
                            .items-total {
                                width: 90%;
                                margin: 0 0 0 25px;
                            }
                            .subtotal {
                                margin: 0 25px 30px;
                                text-align: left;
                                span.label {
                                    font-family: 'PatrickHandSC-Regular';
                                    font-size: 25px;
                                    &:after {
                                        margin-left: -5px;
                                    }
                                }
                                .price-container {
                                    display: inline-block;
                                    float: right;
                                    span.price {
                                        font-family: 'PatrickHandSC-Regular';
                                        font-weight: 400;
                                        font-size: 25px;
                                    }
                                }
                            }
                            .actions {
                                margin-top: 26px;
                                .secondary {
                                    .action.viewcart {
                                        font-family: 'Montserrat-Regular';
                                        font-weight: 600;
                                        cursor: pointer;
                                    }
                                }
                                .primary {
                                    margin: 0 25px 25px;
                                    .action.primary.checkout {
                                        width: auto;
                                        margin: auto;
                                    }
                                }
                            }

                            .minicart-items-wrapper {
                                margin: 0;
                                padding: 0;
                                border-top: none;
                                border-bottom: 4px dotted @puhh-secondary-yellow;
                                border-top: 4px dotted @puhh-secondary-yellow;
                                height: auto !important;
                                overflow-y: scroll;
                                max-height: 220px;
                                -webkit-overflow-scrolling: touch;
                                /* width */
                                &::-webkit-scrollbar {
                                    width: 13px;
                                }

                                /* Track */
                                &::-webkit-scrollbar-track {
                                    box-shadow: inset 0 0 13px 13px @puhh-gray;
                                    border-left: solid 10px transparent;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }

                                /* Handle */
                                &::-webkit-scrollbar-thumb {
                                    box-shadow: inset 0 0 13px 13px @puhh-blue;
                                    border-left: solid 10px transparent;
                                }
                                .product-item {
                                    padding: 18px 0;
                                    &-details {
                                        padding: 0 0 0 100px;
                                        text-align: left;
                                        .product-item-name {
                                            margin-bottom: 5px;
                                            a {
                                                color: @puhh-dark-blue;
                                            }
                                        }
                                        div.content {
                                            color: @puhh-dark-gray;
                                            margin-bottom: 10px;
                                            .label {
                                                &:after {
                                                    content: ': ';
                                                }
                                            }
                                        }
                                        .details-qty {
                                            margin: 0 0 5px;
                                            label.label {
                                                color: @puhh-dark-gray;
                                                font-size: 14px;
                                            }
                                            select.cart-item-qty {
                                                height: auto;
                                                border-radius: 25px;
                                                padding: 10px;
                                                background: #fff;
                                                color: @puhh-blue;
                                                margin: 0 5px;
                                                font-weight: 600;
                                                padding: 11px 40px 9px 15px;
                                                background: url('@{baseDir}images/icons/arrowDown.png') no-repeat center center;
                                                background-position-x: calc(100% - 15px);
                                                background-size: 15px;
                                                width: auto;
                                                appearance:none;
                                                -moz-appearance:none; /* Firefox */
                                                -webkit-appearance:none; /* Safari and Chrome */
                                            }
                                            button.update-cart-item {
                                                padding: 11px 15px;
                                            }
                                        }
                                        .price-container {
                                            .price-excluding-tax {
                                                margin: 5px 0 0;
                                                span.price {
                                                    font-weight: 600;
                                                    font-family: Montserrat-Regular;
                                                    font-size: 18px;
                                                }
                                            }
                                        }
                                        .product.actions {
                                            margin: -20px 0 0;
                                            .action.delete {
                                                &:before {
                                                    content: '\e616';
                                                    font-size: 14px;
                                                    font-weight: 600;
                                                    color: @puhh-dark-gray;
                                                }
                                                &:hover {
                                                    &:before {
                                                        color: lighten(@puhh-dark-gray, 20%);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &-photo {
                                        padding-left: 0;
                                        .product-image-photo {
                                            border: 1px solid @puhh-gray;
                                            padding: 1px;
                                            box-sizing: border-box;
                                            border-radius: 5px;
                                        }
                                    }
                                    &:not(:first-child) {
                                        border-top: 4px dotted @puhh-gray;
                                    }
                                }
                            }
                        }
                    }
                    .action.showcart {
                        position: relative;
                        .counter.qty {
                            background: @puhh-red;
                            border-radius: 15px;
                            line-height: 13px;
                            height: 17px;
                            width: 17px;
                            min-width: 17px;
                            padding: 0;
                            position: absolute;
                            right: 5px;
                            bottom: 8px;
                            margin: 0;
                            .counter-number {
                                font-size: 10px;
                                font-family: @font-family__sans-serif;
                                font-weight: normal;
                            }
                        }
                        &::before {
                            content: '';
                            height: 48px;
                            width: 58px;
                            background: url('@{baseDir}images/icons/cart/finalCart.svg') no-repeat center center;
                            background-size: 58px;
                        }
                        &.active {
                            z-index: 102;
                            position: relative;
                            &::before {
                                background: url('@{baseDir}images/icons/cart/finalCartWB.svg') no-repeat center center;
                                background-size: 58px;
                                height: 48px;
                                width: 58px;
                            }
                            &:hover {
                                &::before {
                                    background: url('@{baseDir}images/icons/cart/finalCartWB.svg') no-repeat center center;
                                    background-size: 58px;
                                    height: 48px;
                                    width: 58px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//    Mobile XS
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-wrapper {
        .page-header {
            .header.content {
                .customer-links-container {
                    display: block;
                    margin-right: 2%;
                    position: relative;
                    width: calc(~'26% + 35px');
                    max-width: 100%;
                    .user-button,
                    .panel.header {
                        vertical-align: middle;
                        left: 0;
                        top: 0;
                        position: absolute;
                        .menu-link-icon {
                            background-size: 50px !important;
                        }
                    }
                    .minicart-wrapper {
                        vertical-align: middle;
                        .mage-dropdown-dialog {
                            .block-minicart {
                                // safari fallback
                                width: 97vw;
                                width: calc(~"100vw - 10px");
                            }
                        }
                        .action.showcart {
                            .counter.qty {
                                right: 9px !important;
                                bottom: 10px !important;
                            }
                            &::before {
                                background-size: 50px !important;
                            }
                        }
                        .block-minicart {
                            .block-content {
                                .minicart-items-wrapper {
                                    .product-item {
                                        &-details {
                                            .product.actions {
                                                float:right;
                                            }
                                            .details-qty.qty {
                                                margin: 0 0 5px;
                                                .flex-display(flex);
                                                .align-items(center);
                                                select.cart-item-qty {
                                                    padding: 11px 7vw 9px 15px;
                                                }
                                                .update-cart-item {
                                                    padding: 11px 7px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        .header.content {
            .customer-links-container {
                max-width: none;
                display: block;
                width: 19%;
                margin-bottom: 10px;
                max-width: 175px;
                .authentication-wrapper {
                    max-width: none;
                    width: 178%;
                    margin-top: -28px;
                    .transform(translate(4%, 0));
                    .authentication-dropdown {
                        .box-shadow(0 2px 5px 0 #135775);
                        border-radius: 10px;
                        border: none;
                        .modal-inner-wrap {
                            border-left: none;
                            background-color: transparent;
                            padding: 20px;
                            button.action-close {
                                display: none;
                            }
                            .tabcontent {
                                padding: 0 20px;
                            }
                        }
                    }
                }
                .user-button,
                .panel.header {
                    .menu-link-icon {
                        &:hover {
                            background: url('@{baseDir}images/icons/user/finalUserYW.svg') no-repeat center center;
                            background-size: 58px;
                            height: 48px;
                            width: 58px;
                        }
                    }
                    .header.links {
                        .customer-welcome {
                            .customer-name {
                                .text {
                                    left: 14px;
                                    top: 50%;
                                    .transform(translate(-100%, -42%));
                                    background: url('@{baseDir}images/icons/user/nameCloud.svg');
                                    padding: 4px 3px 8px 10px;
                                    white-space: nowrap;
                                    background-size: 125px;
                                    font-size: 15px;
                                }
                                &:hover {
                                    .text {
                                        background: url('@{baseDir}images/icons/user/nameCloudY.svg');
                                        background-size: 125px;
                                        color: @color-white;
                                    }
                                    .menu-link-icon {
                                        background: url('@{baseDir}images/icons/user/finalUserYW.svg') no-repeat center center;
                                        background-size: 58px;
                                        height: 48px;
                                        width: 58px;
                                    }
                                }
                                &.active {
                                    .text {
                                        background: url('@{baseDir}images/icons/user/nameCloudW.svg');
                                        background-size: 125px;
                                        color: @puhh-dark-blue;
                                    }
                                    .menu-link-icon {
                                        background: url('@{baseDir}images/icons/user/finalUserWB.svg') no-repeat center center;
                                        background-size: 58px;
                                        height: 48px;
                                        width: 58px;
                                    }
                                }
                            }
                        }
                    }
                }
                .minicart-wrapper {
                    .block-minicart {
                        right: 0;
                        width: 400px;
                        .block-content {
                            .minicart-items-wrapper {
                                border-bottom: 4px dotted @puhh-gray;
                                border-top: none;
                                overflow-y: visible;
                                max-height: 50vh;
                                .product-item {
                                    &-details {
                                        padding: 0 12px 0 125px;
                                    }
                                    &-photo {
                                        padding-left: 25px;
                                    }
                                }
                            }
                        }
                    }
                    .action.showcart {
                        &:hover {
                            &::before {
                                background: url('@{baseDir}images/icons/cart/finalCartYW.svg') no-repeat center center;
                                background-size: 58px;
                                height: 48px;
                                width: 58px;
                            }
                        }
                    }
                }
                &._has-modal-custom._has-auth-shown {
                    .user-button {
                        position: relative;
                        z-index: 901;
                        .menu-link-icon {
                            background: url('@{baseDir}images/icons/user/finalUserWB.svg') no-repeat center center;
                            background-size: 58px;
                            height: 48px;
                            width: 58px;
                        }
                    }
                }
            }
        }
    }
}
