//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.info.detailed {
        // Product view tabs area
        .product.data.items {
            .data.item.title {
                &.active {
                    .data.switch {
                        border-color: @toys-secondary-yellow;
                        color: @toys-secondary-yellow;
                    }
                }
            }
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product.info.detailed {
        .product.data.items {
            .data.item.content {
                padding: 0 10px 20px;
                border-bottom: 2px solid @toys-secondary-yellow;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.info.detailed {
        .product.data.items {
            .data.item.content {
                border-top: 2px solid @toys-secondary-yellow;
            }
        }
    }
}
