<?php if ($banners = $this->getBanner()): ?>
    <div class="desktop-banners">
        <?php foreach($banners as $banner): ?>
            <div>
                <a href="<?php echo $banner->getData('link') ?>" title="<?php echo $banner->getData('title') ?>">
                    <img data-lazy="<?php echo $this->getImgFullPath($banner->getData('bannerimage')) ?>" alt="<?php echo $banner->getData('title') ?>">
                </a>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

<?php if ($banners = $this->getMobileBanner()): ?>
    <div class="mobile-banners">
        <?php foreach($banners as $banner): ?>
            <div>
                <a href="<?php echo $banner->getData('link') ?>" title="<?php echo $banner->getData('title') ?>">
                    <img data-lazy="<?php echo $this->getImgFullPath($banner->getData('bannerimage')) ?>" alt="<?php echo $banner->getData('title') ?>">
                </a>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
