//
//    Common
//--------------------------------------
& when (@media-common = true) {
    .cms-page-view {
        .row {
            display: block;
            min-width: 100%;
            margin: 0 -20px;
            .col-6 {
                width: 49.5%;
            }
            [class*="col-"] {
                display: inline-block;
                box-sizing: border-box;
                padding: 0 20px;
                vertical-align: top;
            }
        }
    }

    .cms-noroute-index {
        .page-title-wrapper {
            margin-top: 16px;
        }
        .column.main {
            padding-top: 0 !important;
        }
        .page-404-content {
            width: 55%;
            display: inline-block;
            vertical-align: top;
        }
        .page-404-image {
            width: 30%;
            max-width: 280px;
            display: inline-block;
            .transform(translateY(-55px));
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cms-page-view {
        .row {
            .col-6 {
                width: 100% !important;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-noroute-index {
        .column.main {
            .flex-display(flex);
            .flex-direction(column-reverse);
            .page-title-wrapper {
                margin-top: 0;
            }
            .page-404-content {
                width: 100%;
            }
            .page-404-image {
                width: 60%;
                display: block;
                margin: auto;
                margin-bottom: 16px;
                .transform(none);
            }
        }
    }
    table.kauplused {
        thead {
            display: none;
        }
        tr.store-small {
            border: 2px solid @puhh-gray;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;
            td {
                &.name:before {
                    content: 'Poe nimi: ';
                    font-weight: 600;
                }
                &.address:before {
                    content: 'Poe aadress: ';
                    font-weight: 600;
                }
                &.store-hours:before {
                    content: 'Avatud: ';
                    font-weight: 600;
                }
            }
        }
    }
}
