//
//    Common
//--------------------------------------
& when (@media-common = true) {
    .page-footer {
        .footer.content {
            padding-top: 0;
        }
        .footer-main {
            background: @color-white;
            .flex-display(flex);
            .flex-direction(column);
            padding-bottom: 20px;
            .logo-wrapper {
                padding: 0 50px;
                .footer-logo {
                    width: 100%;
                    max-width: 350px;
                    display: block;
                    margin: auto;
                }
            }
            .icons-box {
                
                padding: 0 50px;
                margin-top: 34px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                grid-gap:20px;
                align-items: center;
                justify-items: center;
                a {
                    min-width:40px;
                    display: block;
                    margin-bottom: 0;
                    img {
                        object-fit: contain;
                    }
                    .link-image {
                        vertical-align: bottom;
                    }
                }
            }
            .e-kaubuandus-wrapper {
                padding: 30px 50px 10px;
                .link-image {
                    margin: auto;
                    display: block;
                    max-width: 350px;
                    width: 100%;
                }
            }
            .column {
                padding: 20px 50px;

                &.first {
                    // .flex-order(3);
                }

                .widget.block {
                    margin: 0;
                }

                &.last {
                    // .flex-order(2);
                    .col-inner {
                        .bottom {
                            &-phone {
                                &:before {
                                    height: 20px;
                                    width: 20px;
                                    content: '';
                                    display: inline-block;
                                    vertical-align: bottom;
                                    margin-right: 3px;
                                    background: url('@{baseDir}images/icons/phone.svg') no-repeat center center;
                                    background-size: 16px;
                                }

                            }
                            &-email {
                                &:before {
                                    height: 20px;
                                    width: 20px;
                                    content: '';
                                    display: inline-block;
                                    vertical-align: bottom;
                                    margin-right: 3px;
                                    background: url('@{baseDir}images/icons/mail.svg') no-repeat center center;
                                    background-size: 20px;
                                }

                            }
                        }
                    }
                }

                &.second {
                    // .flex-order(1);
                    padding-top: 0;
                }

                a {
                    display: block;
                    color: @puhh-dark-blue;
                    margin-bottom: 10px !important;
                    font-weight: 400;
                    &:hover {
                        color: @puhh-blue;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
            &:before {
                display: inline-block;
                content: '';
                background: url(../images/pilved/footer_1-01.svg);
                background-size: 102%;
                height: 24vw;
                width: 100vw;
                margin-bottom: -33vw;
                position: relative;
                z-index: -1;
                background-position-x: -5px;
                .transform(translate(0, -99%));
            }
        }
        .footer-bottom {
            background: @toys-red;
            .footer-bottom-inner {
                padding: 25px 15px;
                .footer-payment,
                .footer-delivery {
                    display: block;
                }
                .footer-delivery {
                    margin-bottom: 20px;
                    .method-logos {
                        .justify-content(space-around);
                        .bottom-logo {
                            margin-right: 5px;
                            max-height: 33px;
                        }
                    }
                }
                .footer-payment {
                    .method-logos {
                        .justify-content(space-around);
                        .bottom-logo {
                            margin-right: 5px;
                        }
                    }
                }
                .methods-title {
                    margin-bottom: 10px;
                    font-size: 13px;
                    font-family: 'Montserrat-Medium';
                    color: @color-white;
                }
                .method-logos {
                    .flex-display(flex);
                    .justify-content(center);
                    .align-items(center);
                    .bottom-logo {
                        max-height: 20px;
                        margin-right: 30px;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer {
        display: block;
        padding-bottom: 0;
        background: @color-white;
        height: 100%;
        .footer-main {
            max-width: 1300px;
            display: block;
            margin: auto;
            padding: 0 20px 50px;
            position: relative;
            .logo-wrapper {
                width: 20% !important;
                padding: 0;
                position: relative;
                margin-top: -9%;
                margin-left: 5%;
                margin-bottom: 20px;
                .flex-display(flex);
                .align-items(center);
            }
            .icons-box {
                max-width: 500px;
                margin:0 auto 30px;                
            }
            .e-kaubuandus-wrapper {
                position: absolute;
                right: 20px;
                top: 20px;
                height: 35px;
                .flex-display(flex);
                .align-items(center);
                max-width: 25%;
                padding: 32px 0 0;
                a {
                    display: block;
                }
                .link-image img {
                    vertical-align: middle;
                }
            }
            .footer-columns {
                .flex-display(flex);
                .justify-content(space-between);
            }
            .column {
                padding: 0;
                vertical-align: top;
                display: inline-block;
                position: relative;

                .col-inner {
                    .flex-display(flex);
                    .flex-direction(column);
                }

                a {
                    display: inline-block;
                }

                // &.first,
                // &.second,
                // &.third {
                //     width: 23%;
                // }

                // &.last {
                //     width: 28%;
                // }

            }
            &:before {
                background: url('@{baseDir}images/pilved/footer_1-01.svg');
                content: '';
                background-position: 0 0;
                background-size: 100%;
                height: 26vw;
                max-height: 402px;
                width: 100%;
                margin-top: -26%;
                margin-bottom: -14%;
                display: inline-block;
                z-index: -1;
                position: relative;
                .transform(none);
            }
        }
        &:before {
            background: url('@{baseDir}images/pilved/footer_1-01.svg');
            content: '';
            background-position: -50vw 0;
            background-size: 100%;
            height: 22vw;
            width: 100%;
            margin-top: -8vw;
            margin-bottom: -14vw;
            display: inline-block;
            z-index: -1;
            position: relative;
        }
    }
}

//
//    Desktop L
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-footer {
        .footer-bottom {
            .footer-bottom-inner {
                max-width: 1300px;
                padding: 22px;
                .flex-display(flex);
                .justify-content(space-around);
                margin: 0 auto;
                .footer-payment,
                .footer-delivery {
                    .flex-display(flex);
                    .align-items(center);
                    margin-bottom: 0;
                }
                .footer-delivery {
                    .method-logos {
                        .bottom-logo {
                            max-height: 20px;
                        }
                    }
                }
                .footer-payment {
                    .method-logos {
                        .flex-display(inline-flex);
                    }
                }
                .methods-title {
                    margin-bottom: 0;
                    font-size: 12px;
                    margin-right: 15px;
                    text-align: center;
                    display: inline-block;
                }
                .method-logos {
                    .flex-display(inline-flex);
                    .justify-content(center);
                    .align-items(center);
                    .bottom-logo {
                        max-height: 20px;
                        padding: 0 15px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
