& when (@media-common = true) {
    .page-header {
        // HAMBURGER
        .nav-toggle {
            position: static;
            padding: 6px 10px;
            min-width: 28px;
            display: inline-block;
            vertical-align: middle;
            float: left;
            &:before {
                color: @color-white;
                font-weight: bold;
            }
        }
        // CUSTOM MOBILE TOPMENU
        .mobile-menu-wrap {
            margin: 0 10px;
            .flex-display(flex);
            .align-items(center);
            overflow: hidden;
            nav.mobile-navigation {
                overflow: auto;
                ul.submenu {
                    display: none;
                }
                ul {
                    white-space: nowrap;
                    padding: 0;
                    margin: 0;
                    li.level-top {
                        margin: 0;
                        white-space: nowrap;
                        padding: 20px 0;
                        display: inline-block;
                        a.level-top {
                            font-family: 'Montserrat-Medium';
                            color: @color-white;
                            text-transform: uppercase;
                            font-size: 17px;
                            margin-right: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        // NAV SECTIONS
        .sections.nav-sections {
            background: @color-white;
            .nav-sections-item-title {
                display: none;
            }
            .header.links {
                .header.links {
                    .only-in-menu {

                    }
                }
            }
            .section-item-content.nav-sections-item-content {
                margin-top: 0;
                position: relative;
                .menu-back {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;
                    padding: 15px 20px;
                    &:before {
                        font-size: 22px;
                        line-height: 22px;
                        color: @puhh-dark-blue;
                        content: '\e616';
                        font-family: 'luma-icons';
                        margin: 0;
                        vertical-align: top;
                        display: inline-block;
                        font-weight: normal;
                        overflow: hidden;
                        text-align: center;
                    }
                }
                .column {
                    a {
                        font-size: 1.5rem;
                        text-transform: none;
                        padding: 15px 40px 15px 45px;
                        font-weight: 700;
                    }
                }
                .cms-link-hr {
                    border-top: 4px dotted @puhh-dark-blue;
                    margin: 10px 20px 20px;
                }
                .level-top {
                    &:after {
                        display: none;
                    }
                    &.first {
                        .level-top {
                            &.ui-state-active {
                                border-top: none;
                                margin-top: 0;
                            }
                        }
                    }
                    &.ui-state-active {
                        border-top: 4px dotted @puhh-gray;
                        margin-top: -4px;
                        & ~ .submenu {
                            padding-bottom: 5px;
                            border-bottom: 4px dotted @puhh-gray;
                        }
                    }
                }
                .submenu {
                    &:not(:first-child) {
                        &.expanded {
                            // display: none !important;
                        }
                        > li {
                            > a {
                                padding-left: 70px;
                                font-weight: 700;
                                font-family: 'Montserrat-Regular';
                            }
                        }

                        .level1 {
                            &.active {
                                > a {
                                    padding-left: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        // CUSTOM MOBILE TOPMENU
        nav.mobile-navigation {
            display: none;
        }
        // NAV SECTIONS
        .nav-sections-item-content {
            position: relative;
        }
        .sections.nav-sections {
            background: transparent;
            margin-top: 20px;
            .section-item-content.nav-sections-item-content {
                .level-top {
                    padding-right: 0;
                    &.ui-state-active {
                        border-top: none;
                        margin-top: 0;
                        & ~ .submenu {
                            padding-bottom: 0;
                            border-bottom: none;
                        }
                    }
                }
                .submenu {
                    &:not(:first-child) {
                        > li {
                            > a {
                                padding-left: 0;
                            }
                        }

                        .level1 {
                            &.active {
                                > a {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
            nav.navigation {
                position: static;
                text-transform: uppercase;
                font-family: 'Montserrat-Medium';
                font-weight: 600;
                max-width: calc(@layout__max-width + 30px);
                ul:first-child {
                    position: static;
                    .flex-display(flex);
                    .justify-content(space-around);
                    padding: 0;
                    width: auto !important;
                    background: transparent !important;
                    .cms-link-hr,
                    .column {
                        display: none;
                    }
                    li.level0 {
                        position: static;
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;

                        &.soodus {
                            border-radius: 20px;
                            border: 3px dotted @color-white;
                            a {
                                background: @toys-yellow;
                                border: none;
                                border-radius: 17px !important;
                                color: @puhh-dark-blue;
                                height: 64px !important;
                            }
                            &:hover {
                                a {
                                    background: @toys-secondary-yellow;
                                }
                            }
                            a.ui-state-active,
                            a.ui-state-focus {
                                color: @puhh-dark-blue !important;
                            }
                        }

                        a.level-top {
                            font-family: 'LuckiestGuy';
                            .flex-display(flex);
                            .justify-content(center);
                            .align-items(center);
                            height: 70px;
                            padding: 0 20px;
                            font-weight: 500;
                            border-radius: 20px;
                            span.ui-menu-icon {
                                &:after {
                                    display: none;
                                }
                            }
                        }
                        &.parent {
                            transition-delay: 0s;
                            color: @color-white;
                            background: transparent;
                            .level0.submenu[aria-expanded="true"] {
                                display: none !important;
                                .all-category {
                                    display: none;
                                }
                            }
                            &:hover {
                                transition-delay: .1s;
                                background: @color-white;
                                border-radius: 10px 10px 0 0;
                                a.level-top {
                                    transition-delay: .1s;
                                    color: @puhh-dark-blue;
                                }
                                .level0.submenu[aria-expanded="true"] {
                                    right: 0;
                                    z-index: 3;
                                    left: 0 !important;
                                    display: -webkit-flex !important;
                                    display: -ms-flexbox !important; // IE10 uses -ms-flexbox
                                    display: -ms-flex !important; // IE11
                                    display: flex !important;
                                    .flex-wrap(wrap);
                                    .flex-direction(column);
                                    .align-content(center);
                                    height: 520px;
                                    max-width: 1300px;
                                    box-sizing: content-box;
                                    padding: 40px 20px;
                                    .box-shadow(0 7px 7px 0 rgba(0,0,0,0.3));
                                    border: none;
                                    top: 70px !important;
                                    li.level1 {
                                        width: 16.666666%;
                                        margin-bottom: 0;
                                        padding-right: 10px;
                                        box-sizing: border-box;
                                        a {
                                            color: @puhh-secondary-yellow;
                                            font-size: 15px;
                                            font-family: 'Montserrat-Regular';
                                            font-weight: 600;
                                            margin-bottom: 10px;
                                            word-break: break-word;
                                            word-wrap: break-word;
                                            span.ui-menu-icon {
                                                &:after {
                                                    display: none;
                                                }
                                            }
                                        }
                                        .level1.submenu {
                                            position: static !important;
                                            border: none;
                                            display: block !important;
                                            margin: 0 0 20px !important;
                                            .box-shadow(none);
                                            min-width: 0;
                                            li.level2 {
                                                margin-bottom: 0;
                                                a {
                                                    color: @puhh-dark-blue;
                                                    text-transform: none;
                                                    font-size: 14px;
                                                    font-family: 'Montserrat-Medium';
                                                    font-weight: 400;
                                                    margin-bottom: 0;
                                                    line-height: 25px;
                                                    word-break: break-word;
                                                    word-wrap: break-word;
                                                }
                                                ul.submenu {
                                                    display: none !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.nav-3:hover .level0.submenu[aria-expanded="true"] {
                                height:700px;
                            }
                        }


                        // &.last.level-top.ui-menu-item {
                        //     border: 4px solid @puhh-secondary-yellow;
                        //     background: @puhh-yellow;
                        //     border-radius: 15px;
                        //     padding: 0 10px;
                        //     a.level-top.ui-corner-all {
                        //         span {
                        //             color: @color-white;
                        //             .flex-display(flex);
                        //             .justify-content(center);
                        //             .align-items(center);
                        //             &:before {
                        //                 content: '%';
                        //                 font-size: 25px;
                        //                 margin-right: 5px;
                        //             }
                        //         }
                        //     }
                        //     &:hover {
                        //         background: darken(@puhh-yellow, 13.5%);
                        //         border:4px solid darken(@puhh-secondary-yellow, 13.5%);
                        //         color: @color-white;
                        //     }
                        // }
                    }
                }
            }
        }
    }
}

//
//    Desktop XL
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-header {
        .sections.nav-sections {
            nav.navigation {
                ul:first-child {
                    li.level0.parent.nav-3:hover {
                        .level0.submenu[aria-expanded="true"] {
                            height: 700px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1345px) {
    .page-header {
        .sections.nav-sections {
            nav.navigation {
                ul:first-child {
                    li.level0 {
                        .level0.submenu[aria-expanded="true"] {
                            padding-left: ~"calc(50% - 645px)" !important;
                            padding-right: ~"calc(50% - 645px)" !important;
                        }
                    }
                }
            }
        }
    }
}
