<tr id="mc-shipping-data-row" data-bind="visible: isDropdownVisible">
    <td colspan="4" data-bind="style: { border: 'none'}">
        <div class="shipping-extra-data">
            <select data-bind="value: selectedLocation, foreach: getLocations()">
                <optgroup data-bind="attr: {label: $data.groupName}, foreach: $data.locations">
                    <option data-bind="text:name, value: $data"></option>
                </optgroup>
            </select>
        </div>
    </td>
</tr>