<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Store\Block\Switcher $block */
?>
<?php if (count($block->getStores())>1): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?= $block->escapeHtmlAttr($id) ?>">
    <div class="actions options switcher-options">
        <div class="action toggle switcher-trigger"
             id="switcher-language-trigger<?= $block->escapeHtmlAttr($id) ?>">
            <strong class="view-<?= $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                <?php foreach ($block->getStores() as $_lang): ?>
                    <a class="<?php echo $_lang->getId() == $block->getCurrentStoreId() ? 'current-lang lang-link' : 'lang-link' ?>" href="#" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_lang) ?>'>
                        <img src="<?php echo $this->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.png');?>" alt="<?= $block->escapeHtml($_lang->getName()) ?>"/>
                    </a>
                <?php endforeach; ?>
            </strong>
        </div>
    </div>
</div>
<?php endif; ?>
