.support-header {
    vertical-align: text-top;
}

.makecommerce-method .comment div a img{
    max-width: 95px;
    height: auto;
    float: left;
    padding-right: 25px;
}
.makecommerce-method .comment div strong{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: -5px 0 -12px 0;
    display: block;
    position: relative;
    top: 5px;
}
.makecommerce-method .comment div strong span{
    /*font-size: 18px;*/
    font-weight: normal;
}
.makecommerce-method .comment div{
    padding-left: 20px;
    line-height: 25px;
    color: #333;
    margin-bottom: 35px;
}
.makecommerce-method > fieldset {
    border: #0EAE02 dashed 3px!important;
    padding-bottom: 50px!important;
}
.makecommerce-method .advanced-settings {
    padding-bottom: 25px;
}
.makecommerce_header {
}
.makecommerce-method > table {
    position: relative;
    top: 35px;
}
.makecommerce-info {
    white-space: nowrap;
    padding-left:25px;
    padding-bottom: 40px;
}
.makecommerce-info .makecommerce-logo {
    float: left;
    height: 100px;
}
.makecommerce-info .makecommerce-links {
    padding: 21px 0px 0px 0px;
}
.makecommerce-info .makecommerce-link {
    padding-top: 2px;
}
.makecommerce-test-link {
    position: absolute;
}
.accordion .config .select {
    width:99%;
}

