<div class="makecommerce-api-link">
    <span>
        <a href="<?= $block->getApiUrl() ?>" target="_blank"><?= __('API configurations') ?></a>
        <?= __(' have to be specified for this method to work.') ?>
    </span>
</div>
