<div class="makecommerce-info">
    <a href="https://maksekeskus.ee" target="_blank">
        <img class="makecommerce-logo" src="<?= $this->getImageUrl() ?>">
    </a>
    <div class="makecommerce-links">
        <div class="makecommerce-link"><a href="https://merchant.maksekeskus.ee" target="_blank"><?= __('Merchant Portal')?></a></div>
        <div class="makecommerce-link"><a href="https://makecommerce.net/" target="_blank">makecommerce.net</a></div>
        <div class="makecommerce-link"><a href="https://maksekeskus.ee" target="_blank">maksekeskus.ee</a></div>
    </div>
</div>
