<script type="text/javascript">
    function updateLocations(element) {
        var $ = jQuery;
        var nativeAlert;

        require([
            'Magento_Ui/js/modal/alert'
            ], function(alert){
                 nativeAlert = alert;
            }
        ); 

        $.ajax({
            url: '<?= $this->getUpdateUrl() . "form_key/" . $this->getFormKey() ?>',
            contentType: 'application/json; charset=utf-8',
            method: 'POST',
            showLoader: true,
            complete: function(xhr, textStatus){
                if($.inArray(xhr.status, [200, 201]) === -1){
                    nativeAlert({
                        title: "<?= $block->getMessageTitle()?>",
                        content: "<?= $block->getErrorMessage()?>"
                    });
                    return;
                }
                 nativeAlert({
                    title: "<?= $block->getMessageTitle()?>",
                    content: "<?= $block->getSuccessMessage()?>"
                });
            }      
        });

        return false;
    }
</script>

<div class="aedes-update-btn-container">
    <?= $block->getButtonHtml() ?>
</div>