// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .promo-price {
        text-align: center;
        margin-bottom:2rem;
        padding: 0.5rem 0;
        color:@puhh-red;
        .promo-title {
            text-transform: uppercase;
        }
        .price {
            font-size: 2em;
        }
        .disclaimer {
            font-size:0.8em;    
        }
        &-cat {
            text-align: left;
            color:@puhh-red;
            margin-bottom:0;
            .price {
                font-size:1em;
            }
        }
    }
    .catalog-product-view {
        .breadcrumbs {
            margin: 20px auto 40px;
        }
        .block.upsell,
        .block.related {
            .dotted-header {
                margin: 30px 0;
            }
        }
    }

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width:auto;
    }

    //
    //  Product view
    //  -----------------------------------------

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }
        .mainPlaceholder {
            position: relative;
            margin-left:auto;
            display: block;
        }
        .loading-mask {
            position: absolute;
            top:50%;
            left:50%;
            bottom:initial;
            right:initial;
            transform:translate(-50%, -50%);
        }
        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        max-width: 1080px;
        margin: 0;
        // Product view tabs area
        .product.data.items {
            .data.item.title {
                &#tab-label-liisipostpay {
                    a {
                        font-size:0;
                        visibility: hidden;
                    }
                    a:before {
                        visibility: initial;
                        font-size: initial;
                        content: '';
                        display: inline-block;
                        height: 31px;
                        width: 60px;
                        background: url('@{baseDir}images/icons/bank_logos/liisi_logo.png') no-repeat center center;
                        background-size: 60px;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
                &#tab-label-estotab {
                    a {
                        font-size:0;
                        visibility: hidden;
                    }
                    a:before {
                        visibility: initial;
                        font-size: initial;
                        content: '';
                        display: inline-block;
                        height: 42px;
                        width: 60px;
                        background: url('@{baseDir}images/icons/bank_logos/esto-j2relmaks.png') no-repeat center center;
                        background-size: 60px;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
                .data.switch {
                    background: transparent;
                    font-size: 20px;
                    color: @puhh-blue;
                    font-family: 'Montserrat-Regular';
                    font-weight: 600;
                    line-height: 58px;
                    height: 58px;
                    padding: 0 20px;
                    border-top: 2px solid @puhh-gray;
                    span.counter {
                        font-size: 12px;
                        color: @puhh-dark-gray;
                        font-weight: normal;
                        font-family: 'Montserrat-Medium';
                        vertical-align: top;
                        &:before,
                        &:after {
                            vertical-align: top;
                        }
                    }
                }
                &.active {
                    .data.switch {
                        border-color: @puhh-yellow;
                        color: @puhh-yellow;
                    }
                    & ~ .data.item.content {
                        display: block;
                    }
                }
            }
            .data.item.content {
                display: none;
                .product.attribute.description {
                    margin-bottom: 40px;
                }
                .age-warning {
                    color: @puhh-red;
                    font-size: 1.35rem;
                    margin-bottom: 0;
                    font-style: italic;
                }
                &#liisipostpay {
                    .liisi {
                        .flex-display(flex);
                        .flex-direction(column);
                        .justify-content(center);
                        max-width: 650px;
                        margin: auto;
                        &-title {
                            .flex-display(flex);
                            .justify-content(center);
                            padding-bottom: 50px;
                            &-text {
                                width: 50%;
                                .flex-display(flex);
                                .align-items(flex-end);
                                span {
                                    font-size: 20px;
                                    font-family: 'Montserrat-Regular';
                                    font-weight: 600;
                                    margin-bottom: 5px;
                                }
                            }
                            &-image {
                                width: 50%;
                                img {
                                    max-width: 120px;
                                    width: 100%;
                                    float: right;
                                    padding-right: 20px;
                                }
                            }
                        }

                        &-col {
                            .flex-display(flex);

                            &-left {
                                width: 50%;
                                padding-right: 50px;
                                box-sizing: border-box;
                                .field {
                                    .align-items(center);
                                    .flex-display(flex);
                                    .justify-content(flex-end);
                                    margin-bottom: 20px;
                                    input,
                                    select {
                                        font-style: italic;
                                        color: @puhh-dark-blue;
                                        max-width: 50%;
                                        border-radius: 13px;
                                        padding: 9px 20px;
                                    }
                                    select {
                                        .rgba(rgb(247, 247, 247), 0.2);
                                        background-clip: padding-box;
                                        border: 1px solid #ececec;
                                        font-size: 15px;
                                        height: 40px;
                                        line-height: 1.36;
                                        vertical-align: baseline;
                                        box-sizing: border-box;
                                    }
                                    label {
                                        margin-right: 15px;
                                        font-size: 14px;
                                    }
                                }
                                input.action.primary {
                                    border-radius: 30px;
                                    float: right;
                                    margin: 10px 0;
                                }
                            }
                            &-right {
                                width: 50%;
                                box-sizing: border-box;
                                .flex-display(flex);
                                .flex-direction(column);
                                font-family: 'Montserrat-Regular';
                                font-weight: 600;
                                text-align: center;
                                .result-title {
                                    font-size: 25px;
                                    padding: 10px 0;
                                }
                                .result-text {
                                    margin: 25px 0 0;
                                    color: @puhh-yellow;
                                    #l_result_div {
                                        font-size: 45px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
        // Stock tab
        .stock {
            &-city {
                font-size: 20px;
                font-weight: normal;
                font-family: 'Montserrat-Medium';
                padding: 10px 5px;
                margin-bottom: 15px;
                border-bottom: 4px dotted @puhh-gray;
                &:before {
                    content: '';
                    display: inline-block;
                    height: 20px;
                    width: 14px;
                    background: url('@{baseDir}images/icons/map-marker-blue.svg') no-repeat center center;
                    background-size: 20px;
                    margin-right: 10px;
                    vertical-align: bottom;
                }
            }
            &-store {
                margin-bottom: 15px;
                &-name {
                    display: inline-block;
                }
                &-qty {
                    display: inline-block;
                    float: right;
                }
            }
        }
    }

    .product-info-main {
        position: relative;
        .tootekaardi-makselogod-container {
            img {
                max-height: 50px;
                max-width: 85px;
                width: auto;
                height: auto;
                vertical-align: middle;
                padding-right: 10px;
                padding-top: 30px;
            }
        }
        .discount-container {
            display: none;
        }

        .product-title-wrapper {
            .product-brand-image {
                img {
                    max-width: 67px;
                    float: right;
                    margin-bottom: 15px;
                }
            }
            .page-title-wrapper {
                h1 {
                    word-break: break-word;
                    font-size: 25px;
                    font-family: 'Montserrat-Medium';
                    font-weight: normal;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }
        }
        .eshop-price {
            margin-bottom:-20px;
            margin-top:10px;
            text-align: center;
        }
        .eshop-price-label {
            color: @puhh-red;
            font-weight:bold;
            font-size: 20px;
            display: inline-block;
            line-height:20px;
        }
        .d30-min-price {
            display:block;
            margin-bottom:20px;
            text-align: center;
        }
        .custom-price-container {
            position: relative;
            margin-top: 30px;
            .no-actions {
                margin-bottom: -140px;
                height: 245px;
            }
        }

        .product-info-price {
            .lib-css(color, @product-info-price);
            // border-bottom: 1px solid @color-gray-light5;
            // display: table;
            // margin-bottom: @indent__s + @indent__xs;
            position: absolute;
            width: 100%;
            bottom: 125px;

            .price-box {
                .flex-display(flex);
                .flex-direction(column);
                .justify-content(center);
                padding: 20px 0;
                text-align: center;
                // Regular customer
                .guest-promo-price {
                    .price-container {
                        .price-label,
                        .price-wrapper .price {
                            font-size: 20px;
                            font-weight: 600;
                            font-family: 'Montserrat-Medium';
                            color: @puhh-dark-blue;
                        }
                        .price-label:after {
                            content: ':';
                        }
                    }
                }
                // Old price
                .old-price {
                    .price-container {
                        text-decoration: line-through;
                        font-size: 18px;
                        color: @puhh-dark-gray;
                        font-weight: normal;
                        .price-label,
                        .price-wrapper .price {
                            text-decoration: line-through;
                            font-size: 18px;
                            color: @puhh-dark-gray;
                            font-weight: normal;
                        }
                        .price-label:after {
                            text-decoration: line-through;
                            content: ':';
                        }
                    }
                }
                // Guest price
                .guest-price {
                    .price-container {
                        .price-label,
                        .price-wrapper .price {
                            font-size: 18px;
                            color: @puhh-dark-gray;
                            font-weight: normal;
                        }
                        .price-label:after {
                            content: ':';
                        }
                    }
                }
                // Special price
                .special-price {
                    .price-container {
                        .price-label,
                        .price-wrapper .price {
                            width: auto;
                            height: auto;
                            position: static;
                            overflow: visible;
                            font-size: 20px;
                            color: @puhh-red;
                            font-family: 'Montserrat-Medium';
                            font-weight: 600;
                        }
                        .price-label:after {
                            content: ':';
                        }
                    }
                }

                .price-container {
                    > span {
                        display: inline-block;
                        margin-bottom: @indent__xs;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .old-price {
                .price-wrapper .price {
                    .lib-font-size(20);
                    font-weight: @font-weight__light;
                }
            }

            .special-price {
                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }
        }

        .product-info-stock-sku {
            display: table-cell;
            padding-bottom: @indent__s;
            padding-left: 10%;
            text-align: right;
            vertical-align: top;
        }

        .stock {
            margin: 0 0 3px;

            &.available,
            &.unavailable {
                font-weight: @font-weight__bold;
                text-transform: uppercase;
            }
        }

        .product.attribute.sku {
            margin: 0;
            padding: 5px 0;
            word-break: break-all;
            word-wrap: break-word;
            font-size: 14px;
            color: @puhh-dark-gray;
        }

        .product {
            &.attribute {
                &.sku {
                    .type {
                        font-weight: normal;

                        &:after {
                            content: ':';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    margin: @indent__base 0;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-add-form {
            clear: both;
            padding-top: 0;
            .box-tocart {
                margin-bottom: 0;
            }
        }

        .product.attribute.ages,
        .product.attribute.tarneaeg {
            padding: 5px 0;
            color: @puhh-dark-gray;
        }

        .product-reviews-summary {
            // float: left;
            margin-bottom: 30px;
            .rating-result {
                width: 111px;
                &:before {
                    letter-spacing: 12px;
                }
                & > span {
                    &:before {
                        letter-spacing: 12px;
                    }
                }
            }
        }

        .product-options-bottom {
            .box-tocart {
                margin-top: @form-field__vertical-indent;
            }
        }
    }

    .product-options-wrapper {
        .fieldset {
            label.label {
                span {
                    margin-right: 10px;
                    color: @puhh-dark-gray;
                    font-weight: normal;
                    &:after {
                        content: ':';
                    }
                }
                &:after {
                    content: none !important;
                }
            }
            .field.required {
                .flex-display(flex);
                .align-items(center);
                .control {
                    display: inline-block;
                    select {
                        border-radius: 30px;
                        width: auto;
                        padding: 11px 100px 9px 15px;
                        height: 42px;
                        border: 1px solid @puhh-gray;
                        color: @puhh-blue;
                        font-weight: 400;
                        background: url('@{baseDir}images/icons/arrowDown.png') no-repeat center center;
                        background-position-x: ~"calc(100% - 15px)";
                        background-size: 15px;
                        appearance:none;
                        -moz-appearance:none; /* Firefox */
                        -webkit-appearance:none; /* Safari and Chrome */
                        option {
                            padding: 15px;
                        }
                    }
                    .qty-unit {
                        .transform(translate(-103px, 0));
                        color: @puhh-blue;
                        font-weight: 400;
                        display: inline-block;
                    }
                }
            }
        }
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        display: table-cell;
        // padding-bottom: @indent__s;
        vertical-align: top;

        & > span {
            display: block;
        }

        .old-price {
            font-size: 20px;
            font-weight: @font-weight__light;

            .price-container > span {
                display: inline-block;
            }
        }

        .price-container {
            > span {
                display: block;
                margin-bottom: @indent__xs;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .price {
                font-size: 22px;
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);
        .field.qty {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom:30px;
            label.label {
                span {
                    margin-right: 10px;
                    color: @puhh-dark-gray;
                    font-weight: normal;
                    &:after {
                        content: ':';
                    }
                }
            }
            .control {
                display: inline-block;
                border: 1px solid @puhh-gray;
                span.qty-adjust {
                    padding:14px;
                    cursor:pointer;
                }
                input {
                    border-top:none;
                    border-bottom:none;
                }
            }
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .actions {
            margin-top: 130px;
        }

        .action.tocart {
            // &:extend(.abs-button-l all);
            &:extend(.abs-button-responsive all);

            &:not(:last-child) {
                // margin-bottom: 15px;
            }
            margin: 0 auto 30px;
            display: block;
            vertical-align: top;
            width: auto;
            &.with-icon {
                span {
                    &::before {
                        content: '';
                        height: 22px;
                        width: 22px;
                        background: url('@{baseDir}images/icons/cart_white.svg') no-repeat center center;
                        background-size: 22px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                        margin-top: -7px;
                    }
                }
            }
        }
    }

    .product-addto-links {
        display: inline;

        .action {
            margin-right: 5%;
        }
    }

    .product-social-links {
        // margin: 0 0 20px;
        text-align: center;

        .action.tocompare {
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
                @_icon-font-content: @icon-compare-full,
                @_icon-font-position: before
            );
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
        }
        .product-info-main {
            .product-title-wrapper {
                .page-title-wrapper {
                    h1 {
                        margin-top: 30px;
                    }
                }
            }
        }
        .product.info.detailed {
            // Product view tabs area
            .product.data.items {
                .data.item.title {
                    .data.switch {
                        &:after {
                            content: '';
                            background-size: 24px 24px;
                            height: 24px;
                            margin-top: 18px;
                            width: 16px;
                            .transform(rotate(90deg));
                            background: url('@{baseDir}images/icons/arrow.svg') no-repeat center center;
                        }
                    }
                    &.active {
                        .data.switch:after {
                            background: url('@{baseDir}images/icons/arrowY.svg') no-repeat center center;
                            background-size: 24px 24px;
                            .transform(rotate(270deg));
                        }
                    }
                }
                border-bottom: 2px solid @puhh-gray;
                margin: 0;
                .data.item.content {
                    padding: 0 10px 20px;
                    border-bottom: 2px solid @puhh-yellow;
                    margin: 0 0 -2px;
                    z-index: 1;
                    position: relative;

                    .product.attribute.description {
                        margin-bottom: 20px;
                    }

                    &#liisipostpay {
                        .liisi {
                            padding-top: 20px;
                            &-col {
                                .flex-direction(column);
                                .align-items(normal);
                                &-left {
                                    padding-right: 0;
                                    width: auto;
                                    input.action.primary {
                                        width: 100%;
                                        margin: 20px 0;
                                    }
                                }
                                &-right {
                                    padding-right: 0;
                                    width: auto;
                                    .result-text {
                                        margin: 10px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }

    .product-info-price {
        margin: 0 -@indent__s 0;
        width: ~'calc(100% + 2*@{indent__s})' !important;

        > *:first-child {
            padding-left: @indent__s;
        }

        > *:last-child {
            padding-right: @indent__s;
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .product-title-wrapper {
            .flex-display(flex);
            .align-items(flex-start);

            .product-brand-image {
                height: 0;
                margin-left:auto;
                a {
                    display: block;
                }
                img {
                    max-width: 109px;
                    margin-left: 20px;
                    float: none;
                }
            }
        }

        .product-add-form {
            padding-top: 0;
        }
    }

    .box-tocart {
        .actions {
            .flex-display(flex);
            .justify-content(flex-start);
            margin-top: 148px;
            margin-bottom: 0;
        }
        .field.qty {
            display: block;
        }
        .action.tocart {
            margin-bottom: 0;
            margin-right: 35px;
            margin: 0 35px 0 0;
            width: auto;
        }
    }

    .product-social-links {
        text-align: left;
    }
    .product-info-main {
        .custom-price-container {
            .no-actions {
                margin-bottom: -67px;
                height: 150px;
            }
        }
        .discount-container {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            .transform(translate(-100%, 0));
            padding-right: 8%;
            z-index: 1;
            .discount-percentage {
                font-family: 'PatrickHandSC-Regular';
                font-size: 30px;
                color: @color-white;
                background-color: @puhh-red;
                float: right;
                line-height: 74px;
                height: 74px;
                position: relative;
                margin-right: 15px;
                width: 90px;
                box-sizing: border-box;
                text-align: center;
                &:after {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 0;
                    height: 90px;
                    border: 45px solid @puhh-red;
                    border-bottom: 16px solid transparent;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
                }
            }
            .new-label {
                font-family: 'PatrickHandSC-Regular';
                text-transform: uppercase;
                font-size: 30px;
                color: @color-white;
                background-color: @puhh-blue;
                float: left;
                line-height: 74px;
                height: 74px;
                position: relative;
                margin-right: 15px;
                width: 90px;
                box-sizing: border-box;
                text-align: center;
                &:after {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 0;
                    height: 90px;
                    border: 45px solid @puhh-blue;
                    border-bottom: 16px solid transparent;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
                }
            }
        }
        .product-options-bottom {

        }
        .product-options-bottom,
        .product-info-price {
            bottom: 52px;
            .price-box {
                .price-container {
                    font-size: @font-size__xl;

                    .price {
                        font-size: 36px;
                        line-height: 36px;
                    }
                }

                .price-including-tax + .price-excluding-tax {
                    .price {
                        .lib-font-size(14);
                        line-height: 16px;
                    }
                }
            }
        }
    }

    // Product view tabs area
    .product.info.detailed {
        margin: 0 auto;
        .product.data.items {
            .data.item.title {
                padding: 0 80px 0 0;
                .data.switch {
                    border: none;
                    padding: 0;
                    line-height: 58px;
                    height: 58px;
                }
                &:last-of-type {
                    padding-right: 0;
                }
            }
            .data.item.content {
                border: none;
                border-top: 2px solid @puhh-yellow;
                padding: 60px 0 0;
                margin-top: 58px;
                &:after,
                &:before {
                    content: none !important;
                }
            }
        }
        // Stock tab
        #availability {
            .flex-display(flex);
            .flex-wrap(wrap);
            .stock {
                width: 50%;
                display: inline-block;
                box-sizing: border-box;
                padding: 0 15px;
                &:nth-child(even) {
                    padding-right: 0;
                }
                &:nth-child(odd) {
                    padding-left: 0;
                }
            }
        }
    }


    //
    //  Category page layout
    //  -----------------------------------------

    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: 50px;
    }

    .page-layout-1column {
        .product-info-main {
            width: 40%;
        }

        .product.media {
            width: 57%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper {
            .field {
                .control {
                    width: 80%;
                }
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }
    .promo-price {
        width:70%;
        &-cat {
            width:auto;
            text-align: center;
        }
    }
    .product-info-main {
        .product-info-price .price-box {
            text-align: left;
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
    
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render "overflow-x" rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }
    #product_addtocart_form {
        margin: 0 -20px;
        padding: 20px 20px 0 20px;
        border-top: 1px solid @puhh-gray;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
    .product-info-main {
        .eshop-price {
            text-align: left;
        }
        .d30-min-price {
            text-align: left;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.related {
        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            // position: relative;
            z-index: 1;
        }

        .related-available .product-item-name {
            margin-left: 20px;
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
    
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}
