<?php
// @codingStandardsIgnoreFile
?>
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/alert'
    ], function ($, magentoAlert) {
        var responseTitle = '<?= $block->getResponseTitle() ?>';
        var successMessage = '<?= $block->getSuccessMessage() ?>';
        var errorMessage = '<?= $block->getErrorMessage() ?>';
        var allowUrl = '<?= $block->getActionUrl(true) ?>';
        var disableUrl = '<?= $block->getActionUrl(false) ?>';

        setProductsAllowed = function (allowed) {
            $.ajax({
                url: allowed ? allowUrl : disableUrl,
                contentType: 'application/json; charset="utf-8',
                method: 'POST',
                complete: function (data, textStatus) {
                    var message = textStatus == 'success' ? successMessage : errorMessage;
                    magentoAlert({
                        title: responseTitle,
                        content: message
                    });
                    return;
                }
            });
        }
    });
</script>
<p><?= $block->getDisplayText() ?></p>
<div class="buttons"><?= $block->getButtonHtml(true) ?>
<?= $block->getButtonHtml(false) ?></div>