<div id="featured_tabs" data-mage-init='{"tabs":{"openedState":"featured-active", "content":"[data-role=featured-content]"}}'>
    <ul class="tab-links">
        <li data-toggle="switch" aria-labeledby="tab-label-tab-1-title" data-role="collapsible" id="tab-label-tab-1"><a class="tab"><span><?= __('TOP Tooted') ?></span></a></li><li data-toggle="switch" aria-labeledby="tab-label-tab-2-title" data-role="collapsible" id="tab-label-tab-2"><a class="tab"><span><?= __('Uudistooted') ?></span></a></li>
    </ul>
    <div data-role="featured-content" id="tab-1">
        <?=
        $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('top-tooted')
            ->toHtml();
        ?>
    </div>
    <div data-role="featured-content" id="tab-2">
        <?=
        $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('uudistooted')
            ->toHtml();
        ?>
    </div>
</div>
